<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.netnz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div id="wrapper">
		<!-- Begin Header -->
		<div th:replace="fragments/header :: headerFragment"></div>
		
		<!-- Begin SideBar -->
		<div th:replace="fragments/sidebar :: sidebarFragment"></div>
		
		<!-- Begin Content -->
		<div class="content-wrapper">
			<!-- Content 영역 상단(location) -->
			<section class="content-header">
				<div th:replace="fragments/location :: locationFragment"></div>
			</section>
			<!-- Content 영역 본문 -->
			<section class="content">
				<th:block layout:fragment="customContents"></th:block>
			</section>
		</div>

		<!-- Begin Footer -->
		<div th:replace="fragments/footer :: footerFragment"></div>
	</div>

<!--  자바스크립트 -->
<th:block th:replace="fragments/script :: scriptFragment"></th:block>

</body>
</html>