<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">

<!-- content -->
	<form th:action="@{/k1MaterialOrder/k1MaterialOrderOne}" method="post" style="text-align: center;">
		<select name="searchKey">
			<option value="materialOrderCode">발주 코드</option>
			<option value="mainBusinessCode">사업장별 대표코드</option>
			<option value="contractCode">계약 코드</option>
			<option value="clientCode">거래처 대표코드</option>
			<option value="managerId">담당자</option>
		</select>
		<input type="text" name="searchValue"/>
		<button type="submit">검색</button>
		</form>


<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			발주 목록
		</div>
		<div class="card">

		</div>
		<div class="card-body">
			<table id="stockList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>발주요청일자</th>
						<th>거래처명</th>
						<th>품목</th>
						<th>납기일자</th>
						<th>수량</th>
						<th>금액</th>
						<th>발주진행상태</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(materialOrderList)}" th:each="l : ${materialOrderList}">
						<td><input type="checkbox"></td>
						<td>[[${l.materialOrderCode}]]</td>
						<td>[[${l.orderDate}]]</td>
						<td>거래처명</td>
						<td>품목명</td>
						<td>[[${l.predictDate}]]</td>
						<td>[[${l.totalCount}]]</td>
						<td>[[${l.totalPrice}]]</td> 
						<td>[[${l.status}]]</td> 
						<td>
							<i class="fas fa-pen"></i>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(materialOrderList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</th:block>

</html>