<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script>
$(function(){
		
		$(document).on('click', '#addMaterialOrderBtn', function(){
			var submitCheck = true;
			
			var inputObj = $('#addMaterialOrderForm').find('input');
			
			$.each(inputObj, function(){
				var inputData = $(this).val();
				var inputCode = $(this).attr('code');
				var labelText = $('label[for=' + inputCode + ']').text();
				if(typeof inputData =='undefined' || inputData == null || inputData == ''){
					alert(labelText + '입력해주세요');
					$(this).focus();
					submitCheck = false;
					return false;
				}
			});
			
			if(submitCheck) $('#addMaterialOrderForm').submit();
			
		});
	
	$('#btn').click(function(){
	
		var materialOrderCode = $('#materialOrderCode').val();
		
		if(typeof materialOrderCode != 'undefined' && materialOrderCode != null && materialOrderCode != ''){
			// ajax 호출
			var request = $.ajax({
				url: '/k1MaterialOrder/k1MaterialOrderCodeCheck',
				method: 'POST',
				data: {'materialOrderCode' : materialOrderCode},
				dataType: 'json'
				});
			request.done(function(data){
				//중복여부체크(true: 중복, false: 등록가능)
				var materialOrderCodeConfirm = data;
				
				if(materialOrderCodeConfirm){
					alert('중복된 발주코드입니다.');
					$('#addMaterialOrderForm input').not('#materialOrderCode').prop('disabled', true);
					$('#addMaterialOrderForm select').prop('disabled', true);
					$('#addMaterialOrderForm button').not('#btn').prop('disabled', true);
				}else{
					alert('등록이 가능한 발주코드입니다.');
					$('#addMaterialOrderForm input').prop('disabled', false);
					$('#addMaterialOrderForm select').prop('disabled', false);
					$('#addMaterialOrderForm button').prop('disabled', false);
				}
				
				
				
			});
			request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
			});	
		}else{
			alert('발주코드를 입력해주세요')
			return false;
		}
		
		});
	});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">
			<!-- Content 영역 상단(location) -->
	<div class="container-fluid">		
	<div class="row">
	<div class="col-lg-3 col-md-2"></div>
	<div class="col-lg-6 col-md-8 mb-3">
	<div class="card card-info card-outline">
	<div class="content-header">
		발주서 등록
	</div>		
		<div class="container-fluid">
		<form id="addMaterialOrderForm" th:action="@{/k1MaterialOrder/k1MaterialOrderReg}" method="post">	
		<div class="card-body">
			<div class="row">
                  <div class="form-group col-md-6">
                    <label for="materialOrderCode">발주코드</label>
                   
                    	<input type="text" name="materialOrderCode" class="form-control" id="materialOrderCode" th:value="${getMaterialOrderCodㅑe}">	  
                
                    <button type="button" id="btn" class="btn btn-default">중복확인</button>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="mainBusinessCode">사업장별 대표코드</label>
                    <select name="mainBusinessCode" disabled="disabled" class="form-control">
                    	<th:block th:if="${not #lists.isEmpty(mainBusinessList)}"
                    			  th:each="l : ${mainBusinessList}">
                    		<option th:value="${l.mainBusinessCode}" th:text="${l.mainBusinessCode}">	  
                    			[[${l.mainBusinessCode}]]
                    			console.log(mainBusinessList);
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(mainBusinessList)}">	
                    		<option>사업장 먼저 등록 해주세요. </option> 
                    	</th:block>	
                    </select>
                   </div>
                  <div class="form-group col-md-6">
                    <label for="contractCode">계약 코드</label>
                   	<select name="contractCode" disabled="disabled" class="form-control">
                   		<th:block th:if="${not #lists.isEmpty(contractCodeForMaterialOrderCodeList)}"
                   					th:each="l : ${contractCodeForMaterialOrderCodeList}">
                    		<option th:value="${l.contractCode}" th:text="${l.contractCode}">	  
                    			[[${l.contractCode}]]
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(contractCodeForMaterialOrderCodeList)}">	
                    		<option>계약코드 먼저 등록 해주세요. </option> 
                    	</th:block>	
                    </select>
                 </div>
                  <div class="form-group col-md-6">
                    <label for="clientCode">거래처 대표코드</label>
                     <select name="clientCode" disabled="disabled" class="form-control">
                    	<th:block th:if="${not #lists.isEmpty(clientList)}"
                    			  th:each="l : ${clientList}">
                    		<option th:value="${l.clientCode}" th:text="${l.businessName}">	  
                    			[[${l.businessName}]]
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(clientList)}">	
                    		<option>거래처 먼저 등록 해주세요. </option> 
                    	</th:block>
                    </select>		
                  </div>
                  <div class="form-group col-md-6 ">
                    <label for="totalCount">총 수량</label>
                    <input type="text" name="totalCount" class="form-control" id="totalCount" placeholder="1000" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="totalPrice">총 가격</label>
                    <input type="text" name="totalPrice" class="form-control" id="totalPrice" placeholder="5000000" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="orderDate">주문일자</label>
                    <input type="date" name="orderDate" class="form-control" id="orderDate" placeholder="2021-11-01" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="predictDate">예상수령 일자</label>
                    <input type="date" name="predictDate" class="form-control" id="predictDate" placeholder="2021-11-01" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="status">상태</label>
                    <input type="text" name="status" class="form-control" id="status" placeholder="결제 중" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="briefs">적요</label>
                    <input type="text" name="briefs" class="form-control" id="briefs" placeholder="콩 1톤 5000000원 구입" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="managerId">담당자</label>
                    <select name="managerId" disabled="disabled" class="form-control">
                    	<th:block th:if="${not #lists.isEmpty(userList)}"
                    			  th:each="l : ${userList}">
                    		<option th:value="${l.userId}" th:text="${l.userName}">	  
                    			[[${l.userName}]]
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(userList)}">	
                    		<option>회원 먼저 등록 해주세요. </option> 
                    	</th:block>
                    </select>
                 </div>
                  <div class="form-group col-md-6">
                    <label for="regDate">등록일시</label>
                    <input type="date" name="regDate" class="form-control" id="regDate" placeholder="2021-10-30 00:00:00" disabled="disabled">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="updateDate">수정일시</label>
                    <input type="date" name="updateDate" class="form-control" id="updateDate" placeholder="2021-10-30 00:00:00" disabled="disabled">
                  </div>
                  <div class="form-group mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1" disabled="disabled">
                      <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                    </div>
                  </div>
                </div>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-12">
	          <a href="#" class="btn btn-secondary">취소</a>
	          <input type="submit" id="addMaterialOrderBtn" value="등록" class="btn btn-info" disabled="disabled">
	        </div>
	      </div>
	    </section>
	</form>
	</div>
</section>
</div>
</div>
</div>
</div>
</div>
</th:block>

</html>