<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">
<th:block layout:fragment="customJs">
<script>
$(function(){
	//Modal
	var materialOrderModifyModal = $('#materialOrderModifyModal');
	//Modal SHOW
	$(document).on('click', '.modalBtn', function(){
		var request = $.ajax({
			url: "/materialOrderModifyModal
			method: "GET",
			dataType: "html"
		});
		 
		request.done(function( data ) {
			stockModifyModal.find('.modal-body').html(data);
		});
		 
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});

});
</script>
</th:block>

<!-- content -->



<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			발주 목록
		</div>
		<div class="card">

		</div>
		<div class="card-body">
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="materialOrderList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>발주요청일자</th>
						<th>거래처명</th>
						<th>품목</th>
						<th>납기일자</th>
						<th>수량</th>
						<th>금액</th>
						<th>발주진행상태</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(materialOrderList)}" th:each="l : ${materialOrderList}">
						<td><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1MaterialOrder/materialOrder/${l.materialOrderCode}|}">
								[[${l.materialOrderCode}]]
							</a>
						</td>
						<td>[[${l.orderDate}]]</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.predictDate}]]</td>
						<td>[[${l.totalCount}]] EA</td>
						<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]] &#8361;</td> 
						<td>[[${l.status}]]</td> 
						<td>
							<button type="button" class="btn btn-primary btn-lg" id="openModalBtn" data-toggle="modal" data-target="#modal-default"><i class="fas fa-pen"></i></button>
						</td>
						<td>
							<button type="button" class="btn btn-danger btn-lg" id="deleteBtn"><i class="fas fa-trash"></i></button>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(materialOrderList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div class="modal fade" id="modal-default"  style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
          <div class="modal-content" style="width:100%;">
          	발주 목록 수정 화면
            <div class="modal-header">
              <h4 class="modal-title">발주 목록 수정 화면</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" style="width:100%;">
             <table id="materialOrderModifyList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>발주요청일자</th>
						<th>거래처명</th>
						<th>품목</th>
						<th>납기일자</th>
						<th>수량</th>
						<th>금액</th>
						<th>발주진행상태</th>
					</tr>
				</thead>
				<tbody>
				<tr th:if="${not #lists.isEmpty(materialOrderList)}" th:each="l : ${materialOrderList}">
						<td><input type="checkbox"></td>
						<td><input type="text" placeholder=[[${l.materialOrderCode}]]></td>
						<td>[[${l.orderDate}]]</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.predictDate}]]</td>
						<td>[[${l.totalCount}]] EA</td>
						<td>[[${l.totalPrice}]]</td> 
						<td>[[${l.status}]]</td> 
				</tr>	
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" >수정</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
				</tbody>
				</table>
          </div>
          <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>
</div>
</div>
</div>
</th:block>

</html>