<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<div class="row" th:unless="${ cancelPaymentInfo == null }">
			<div class="card card-info card-outline">
				<div class="card-header">
					결제취소[[${cancelPaymentInfo.payCancelCode}]]
				</div>
				<div class="card-body">
					<table id="cancelPaymentInfo" class="table table-bordered" th:each="l : ${cancelPaymentInfo}">
						<tr>
							<th>취소코드</th>
							<td colspan="3">[[${l.payCancelCode}]]</td>
						</tr>
						<tr>
							<th>결제코드</th>
							<td colspan="3">
							<a th:href="@{|/k1PaymentList/history/${l.payHistoryCode}|}">
								[[${l.payHistoryCode}]]
							</a>
							</td>
						<tr>
							<th>결제취소금액</th>
							<td colspan="3">[[${l.cancelCost}]]원</td>
						</tr>
						<tr>
							<th>요청일자</th>
							<td>[[${l.issueDate}]]</td>
							<th>승인일자</th>
							<td>[[${l.approvalDate}]]</td>
						</tr>
						<tr>
							<th>취소사유</th>
							<td colspan="3">[[${l.reason}]]</td>
						</tr>
						<tr>
							<th>등록자</th>
							<td colspan="3">[[${l.userName}]]</td>
						</tr>
						<tr>
							<th>등록일시</th>
							<td>[[${l.regDate}]]</td>
							<th>수정일시</th>
							<td>[[${l.updateDate}]]</td>
						</tr>
					</table>
					<button type="button" class="btn btn-info">수정</button>
				</div>
			</div>
		</div>
		<div th:if="${ cancelPaymentInfo == null }">
			잘못된 접근입니다.
		</div>
	</div>
</th:block>

</html>