<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title></title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle"></th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			결제내역
		</div>
		<div class="card-body">
			<table id="HistoryPayment" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>NO.</th>
						<th>거래처명</th>
						<th>구분</th>
						<th>합계금액</th>
						<th>적요</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(historyPayment)}" th:each="l : ${historyPayment}">
						<td>
							<a th:href="@{|/k1PaymentList/history/${l.payHistoryCode}|}">
								[[${l.payHistoryCode}]]
							</a>
						</td>
						<td>[[${l.businessName}]]</td>
						<td th:style="${l.type eq '매출' ? 'color:red;' : 'color:blue;' }" th:text="${l.type}"></td>
						<td>[[${#numbers.formatInteger(l.payCost,0,'COMMA')}]]원</td>
						<td>[[${l.briefs}]]</td>
						<td>
							<a th:href="@{|/k1PaymentList/modify/${l.payHistoryCode}|}">
								<i class="fas fa-pen"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(historyPayment)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</th:block>

</html>