<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<div class="card card-info card-outline">
					<div class="card-header">
						결제예정 상세내역
					</div>
					<div class="card-body" th:if="${ planPaymentInfo != null }">
						<table id="planPaymentInfo" class="table table-bordered">
							<tr>
								<th>No.</th>
								<td>[[${planPaymentInfo.payPlanCode}]]</td>
								<th>구분</th>
								<td>[[${planPaymentInfo.type}]]</td>
							</tr>
							<tr>
								<th>거래처명</th>
								<td colspan="3">[[${planPaymentInfo.businessName}]]</td>
							</tr>
							<tr>
								<th>계약코드</th>
								<td colspan="3">[[${planPaymentInfo.contractCode}]]</td>
							</tr>
							<tr>
								<th>합계금액</th>
								<td colspan="3">[[${planPaymentInfo.totalPlanCost}]]원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td colspan="3">[[${planPaymentInfo.briefs}]]</td>
							</tr>
							<tr>
								<th>담당자</th>
								<td>[[${planPaymentInfo.managerName}]]</td>
								<th>등록자</th>
								<td>[[${planPaymentInfo.regName}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${planPaymentInfo.regDate}]]</td>
								<th>수정일시</th>
								<td>[[${planPaymentInfo.updateDate}]]</td>
							</tr>
						</table>
						<button type="button" class="btn btn-info">수정</button>
					</div>
					<div class="card-body" th:if="${ planPaymentInfo == null }">
					잘못된 접근입니다.
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="card card-info card-outline">
					<div class="card-header">
						결제금액 상세내역
					</div>
					<div class="card-body" th:if="${ planPaymentInfoList != null }">
						<table id="adjDetail" class="table table-bordered">
							<thead>
								<tr>
									<th>품목명</th>
									<th>매입단가</th>
									<th>매입세액</th>
									<th>매출단가</th>
									<th>매출세액</th>
									<th>수량</th>
									<th>소계</th>
								</tr>
							</thead>
							<tbody th:if="${not #lists.isEmpty(planPaymentInfoList)}">
								<tr th:each="l : ${planPaymentInfoList}">
									<td>
										<a th:href="@{|/k1Item/${l.itemCode}|}">
											[[${l.itemName}]]
										</a>
									</td>
									<td>[[${l.materialCost}]]원</td>
									<td>[[${l.tax}]]원</td>
									<td>[[${l.productPrice}]]원</td>
									<td>[[${l.vat}]]원</td>
									<td>[[${l.count}]]</td>
									<td>[[${l.sum}]]원</td>
								</tr>
							</tbody>
							<tbody th:if="${#lists.isEmpty(planPaymentInfoList)}">
								<tr>
									<td colspan="12">
									상세내역을 불러올 수 없습니다.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-body" th:if="${ planPaymentInfoList == null }">
						잘못된 접근입니다.
					</div>
				</div>	
			</div>
		</div>
	</div>
</th:block>

</html>