<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//DataTables
	$('#returnRegList').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": false,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			반품요청내역 전체보기
		</div>
		<div class="card-body">
			<div class="card">
				체크박스
			</div>
			<table id="returnRegList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th><input type="checkbox" id="allCheck"></th>
						<th>No.</th>
						<th>적요</th>
						<th>거래처</th>
						<th>합계금액</th>
						<th>담당자</th>
						<th>수정일</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(returnRegList)}" th:each="l : ${returnRegList}">
						<td><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1ReturnReg/${l.returnRegCode}|}">
								[[${l.returnRegCode}]]
							</a>
						</td>
						<td>
							<a th:href="@{|/k1ReturnReg/${l.returnRegCode}|}">
								[[${l.briefs}]]
							</a>
						</td>
						<td>
							<a th:href="@{#}"> <!-- 거래처LINK -->
								[[${l.businessName}]]
							</a>
						</td>
						<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]</td>
						<td>
							<a th:href="@{#}"> <!-- 회원정보LINK -->
								[[${l.managerName}]]
							</a>
						</td>
						<td>[[${l.updateDate}]]</td>
						<td>
							<a th:href="@{|/k1ReturnRegModify/${l.returnRegCode}|}">
								<i class="fas fa-pen"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(returnRegList)}">
						<td colspan="8">반품요청내역이 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</th:block>

</html>