<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">

<!-- content -->
<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header p-0 pt-1 border-bottom-0">
		<a style="float: right;" th:href="@{/k1PurchaseTransaction/k1PurchaseTransactionHistory}">거래명세서 목록화면으로</a>
			<ul class="nav nav-tabs" id="productPrice-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="productPrice-home-tab" data-toggle="pill" href="#productPrice" role="tab" aria-controls="productPrice" aria-selected="true">제품단가 목록</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="manufacturingCost-home-tab" data-toggle="pill" href="#manufacturingCost" role="tab" aria-controls="manufacturingCost" aria-selected="false">제조원가 목록</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="manufacturingCost-home-tab" data-toggle="pill" href="#manufacturingCostCal" role="tab" aria-controls="manufacturingCostCal" aria-selected="false">제조원가 계산</a>
					</li>
				</ul>
		</div>
		<div class="card">

		</div>
		<form action="/k1ProductPrice/k1ProductPriceList" method="post">
		<div class="card-body">
		<div class="card tab-content" id= "p_price">
			<div class="tab-pane fade show active" id="productPrice" role="productPrice" aria-labelledby="productPrice-home-tab">	
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="productPriceList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>No.</th>
						<th>사업장</th>
						<th>제품명</th>
						<th>제품 수량</th>
						<th>제조 원가</th>
						<th>기타비용</th>
						<th>총제조비용</th>
						<th>이익률</th>
						<th>총제품가격</th>
						<th>제품단가</th>
						<th>담당자</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(productPriceList)}" th:each="l : ${productPriceList}">
						<td>
							<a th:href="@{|/k1ProductPrice/productPrice/${l.productPriceCode}|}">
							[[${l.productPriceCode}]]
							</a>
						</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.count}]] EA </td>
						<td>[[${l.unitCost}]]원</td>
						<td>[[${l.totalEtcCost}]]원</td>
						<td>[[${l.manufacCost}]]원</td>
						<td>[[${l.profitPercentage}]] %</td>
						<td>[[${l.totalPrice}]]원</td>
						<td>[[${l.productPrice}]]원</td>
						<td>[[${l.regName}]]</td>
						<td>
							<a th:href="@{/k1ProductPrice/modify/{productCode}}"><i class="fas fa-pen"></i></a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(productPriceList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
					<button type="button" class="btn btn-danger float-right">삭제</button>
 		<a th:href="@{|/k1ProductPrice/k1ProductPriceReg|}"> 
					<button type="button" class="btn btn-info float-right">등록</button>
				</a>
		</div>
	</div>
	
	<div class="tab-pane fade" id="manufacturingCost" role="tabpanel" aria-labelledby="manufacturingCost-home-tab">
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="manufacturingCostList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>No.</th>
						<th>사업장</th>
						<th>제품명</th>
						<th>제조원가</th>
						<th>등록일</th>
						<th>수정일</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(manufacturingCostList)}" th:each="l : ${manufacturingCostList}">
						<td>[[${l.manufacturingCostCode}]]</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.unitCost}]] 원</td>
						<td>[[${l.regDate}]]</td>
						<td>[[${l.updateDate}]]</td>
							
						<td>
							<a th:href="@{/k1ManufacturingCost/modify/{manufacturingCostCode}}"><i class="fas fa-pen"></i></a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(manufacturingCostList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
	</div>
		<button type="button" class="btn btn-danger float-right">삭제</button>			
		<a th:href="@{|/k1ManufacturingCost/k1ManufacturingCostReg|}">
					<button type="button" class="btn btn-info float-right ">등록</button>
				</a>
</div>

	<div class="tab-pane fade" id="manufacturingCostCal" role="tabpanel" aria-labelledby="manufacturingCostCal-home-tab">
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="manufacturingCostCalList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>전력비</th>
						<th>임금</th>
						<th>가스수도료</th>
						<th>결과</th>
						<th>제조원가</th>
					</tr>
				</thead>
				<tbody>
					 <tr>
						<td><input id="elect" type="type" placeHolder="10000" style="width:100%;"></td>
						<td><input id="wage" type="type" placeHolder="10000" style="width:100%;"></td>
						<td><input id="gas" type="type" placeHolder="10000" style="width:100%;"></td>
						<td>
							<button><i class="fas fa-pen"></i></button>
						</td>
						<td><input id="manufacCost" type="type" value="" style="width:100%;"></td>
					</tr>
				</tbody>
			</table>
	</div>
		<button type="button" class="btn btn-danger float-right">삭제</button>			
		<a th:href="@{|/k1ManufacturingCostCal/k1ManufacturingCostCalReg|}">
					<button type="button" class="btn btn-info float-right ">등록</button>
				</a>
</div>
</div>

	<!-- modal -->
<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


</th:block>

</html>