<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">

<!-- content -->
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			제품단가 
		</div>
		<div class="card">

		</div>
		<div class="card-body">
			<table id="productPriceList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>No.</th>
						<th>사업장</th>
						<th>제품명</th>
						<th>제품 수량</th>
						<th>제조 원가</th>
						<th>기타비용</th>
						<th>총제조비용</th>
						<th>이익률</th>
						<th>총제품가격</th>
						<th>제품단가</th>
						<th>담당자</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(productPriceList)}" th:each="l : ${productPriceList}">
						<td>[[${l.productPriceCode}]]</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.count}]] EA </td>
						<td>[[${l.unitCost}]]원</td>
						<td>[[${l.totalEtcCost}]]원</td>
						<td>[[${l.manufacCost}]]원</td>
						<td>[[${l.profitPercentage}]] %</td>
						<td>[[${l.totalPrice}]]원</td>
						<td>[[${l.productPrice}]]원</td>
						<td>[[${l.regName}]]</td>
						<td>
							<i class="fas fa-pen"></i>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(productPriceList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	<!-- modal -->
<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


</th:block>

</html>