<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript" th:inline="javascript">
$(function(){
	//-------------
	//- DONUT CHART -
	//-------------
	var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
	var donutData        = {
		labels: [
				'입고',
				'자재사용',
				'생산',
				'창고이동',
				'출하',
				'재고차이',
				'반품',
				'불량'
		],
		datasets: [
			{
				data: [
					 [[${recentStoring.s1_Warehousing}]]
					,[[${recentStoring.s2_MaterialUse}]]
					,[[${recentStoring.s3_Production}]]
					,[[${recentStoring.s4_Moving}]]
					,[[${recentStoring.s5_Shipment}]]
					,[[${recentStoring.s6_Adjustment}]]
					,[[${recentStoring.s7_Return}]]
					,[[${recentStoring.s8_Defect}]]
				],
				backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#b28cc2', '#ebdc59', '#ded6de' ],
			}
		]
	}
	var donutOptions     = {
		maintainAspectRatio : false,
		responsive : true,
	}
	//Create douhnut chart
	new Chart(donutChartCanvas, {
		type: 'doughnut',
		data: donutData,
		options: donutOptions
	});
	
	//DataTables
	$('#storingList').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": false,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	
	<div class="row">
		<!-- Donut Chart -->
		<div class="col-lg-4">
			<div class="card card-info">
				<div class="card-header">
					최근 7일 물류이동 현황
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body" style="display: block;">
					<div class="chartjs-size-monitor">
						<div class="chartjs-size-monitor-expand"><div class=""></div></div>
						<div class="chartjs-size-monitor-shrink"><div class=""></div></div>
					</div>
					<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 596px;" width="596" height="250" class="chartjs-render-monitor"></canvas>
				</div>
			</div>
		</div>
		
	    <!-- 물류이동내역 -->
		<div class="col-lg-8">
			<div class="card card-info card-outline">
				<div class="card-header">
					물류이동내역
					<a th:href="@{/k1Delivery}">
						<button type="button" class="btn btn-outline-info btn-xs">운송요청</button>
					</a>
					<a th:href="@{/k1ShipmentPlan}">
						<button type="button" class="btn btn-outline-info btn-xs">출하계획</button>
					</a>
					<a th:href="@{/k1ReturnReg}">
						<button type="button" class="btn btn-outline-info btn-xs">반품요청</button>
					</a>
				</div>
				<div class="card-body">
					<table id="storingList" class="table table-bordered table-hover dataTable dtr-inline">
						<thead>
							<tr>
								<th>No.</th>
								<th>사유</th>
								<th>품목</th>
								<th>합계금액</th>
								<th>적요</th>
								<th>조정일자</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(storingList)}" th:each="l : ${storingList}">
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}/${l.stockAdjCode}|}">
										[[${l.stockAdjCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}|}">
										[[${l.stockReason}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}/${l.stockAdjCode}|}">
										[[${l.itemList}]]
									</a>
								</td>
								<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]</td>
								<td>[[${l.briefs}]]</td>
								<td>[[${l.adjDate}]]</td>
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}Modify/${l.stockAdjCode}|}">
										<i class="fas fa-pen"></i>
									</a>
								</td>
							</tr>
							<tr th:if="${#lists.isEmpty(storingList)}">
								<td colspan="9">
									물류내역이 없습니다.
								</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#storingModal">
						등록
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 물류이동내역 등록 모달 -->
	<div class="modal fade" id="storingModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title">물류이동</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Modal Ajax 들어갈 공간 -->
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
</div>
</th:block>

</html>