<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			재고조정내역 모아보기
		</div>
		<div class="card-body">
			<div class="card">
				체크박스
			</div>
			<table id="storingList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<!-- <th><input type="checkbox" id="allCheck"></th> -->
						<th>No.</th>
						<th>사유</th>
						<th>총가격</th>
						<th>적요</th>
						<th>조정일자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(storingList)}" th:each="l : ${storingList}">
						<!-- <td><input type="checkbox"></td> -->
						<td>[[${l.stockAdjCode}]]</td>
						<td>[[${l.stockReason}]]</td>
						<td>[[${l.totalPrice}]]</td>
						<td>[[${l.briefs}]]</td>
						<td>[[${l.adjDate}]]</td>
					</tr>
					<tr th:if="${#lists.isEmpty(storingList)}">
						<td colspan="9">
							물류 내역이 없습니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</th:block>

</html>