<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript">
		$(function(){
			//DataTables
			$('#totalAcList').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true,
			});
		});
	</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation">조회</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			통합회계 전체목록
		</div>
		<div class="card-body">
			<table id="totalAcList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>회계반영일</th>
						<th>통합회계코드</th>
						<th>참조코드</th>
						<th>구분</th>
						<th>적요</th>
						<th>금액</th>
						<th>수정일자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(totalAcList)}" th:each="l : ${totalAcList}">
						<td>[[${l.regDate}]]</td>
						<td>[[${l.codes}]]</td>
						<td>[[${l.accountingCode}]]</td>
						<td th:style="${l.salesSection eq '매출' ? 'color:red;' : 'color:blue;' }" th:text="${l.salesSection}"></td>
						<td>[[${l.briefs}]]</td>
						<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]원</td>
						<td>[[${l.updateDate}]]</td>
					</tr>
					<tr th:if="${#lists.isEmpty(totalAcList)}">
						<td colspan="8">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</th:block>

</html>