<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${etcPurchaseCode}]]</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<div class="row" th:unless="${ costInfo == null }">
		<div class="col-lg-3 col-md-2">
		</div>
			<div class="col-lg-6 col-md-8 mb-3">
				<div class="card card-info card-outline">
					<div class="card-body">
						<p class="lead">비용[[${costInfo.etcPurchaseCode}]]</p>
						<table id="costInfo" class="table">
							<tr>
								<th>비용번호</th>
								<td>[[${costInfo.etcPurchaseCode}]]</td>
							</tr>
							<tr>
								<th>계정과목</th>
								<td>[[${costInfo.lsAccountCode}]]</td>
							</tr>
							<tr>
								<th>결산시점</th>
								<td>[[${costInfo.reportPoint}]]</td>
							</tr>
							<tr>
								<th>금액</th>
								<td>[[${#numbers.formatInteger(costInfo.amount,0,'COMMA')}]]원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td>[[${costInfo.briefs}]]</td>
							</tr>
							<tr>
								<th>거래일자</th>
								<td>[[${costInfo.dealDate}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${costInfo.regDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${costInfo.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1CostList}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
							<button type="button" class="btn btn-danger float-right">삭제</button>
						<a th:href="@{|/k1CostList/modify/${costInfo.etcPurchaseCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</div>
			</div>
			<div th:if="${ costInfo == null }">
				잘못된 접근입니다.
			</div>
		</div>
	</div>
</th:block>

</html>