<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customJs">
	<script type="text/javascript">
			$(function(){
				$(document).on('click', '.modifyBtn', function(){
					var memberId = $(this).attr('data-memberId');
					alert(memberId);
				});
				
				$(document).on('click', '#dataTableBtn', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10,15,20,25,-1]);
					aLengthMenuArray.push([5,10,15,20,'이십오','ALL']);
				
					$('#dataTableAjax').DataTable( {
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
				        ajax: {
				        		url: '/login_list',
				        		type: 'POST',
				        		dataSrc: function(data){
				        					console.table(data);
				        					return data;
				        				 }
				        },
				        columns: [
				            { "data": "loginNum" },
				            { "data": "loginId" },
				            { "data": "loginDate" },
				            { "data": "logoutDate" },
				            { "data": '수정' },
				            { "data": '삭제' }
				        ],
				        columnDefs: [
				        	{
				        		'targets' : [4],
				        		'orderable' : false,
				        		'searchable' : false,
				        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
				        					var htmlbtn1 = '<button class="modifyBtn" data-memberId="'+ row.loginNum +'">수정</button>';
				        					return htmlbtn1;
				        				 }
				        	},
				        	{
				        		'targets' : [5],
				        		'orderable' : false,
				        		'searchable' : false,
				        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
				        					var htmlbtn1 = '<button class="removeBtn" data-memberId="'+ row.loginId +'">삭제</button>';
				        					return htmlbtn1;
				        				 }
				        	}
				        ]
				    } );
				});
			});
		</script>

</th:block>

<th:block layout:fragment="customContents">
<!-- content   -->
	<div class="container-fluid">
		<div class="card card-info card-outline">
			<div class="card-header">
				card-header
			</div>
			
	<div class="card-body">
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<div class="row">
				<div class="col-sm-12 col-md-6"></div>
				<div class="col-sm-12 col-md-6"></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table id="example2"
						class="table table-bordered table-hover dataTable dtr-inline"
						role="grid" aria-describedby="example2_info">
						<thead>
							<tr role="row">
								<th><input type="checkbox" id="businessAllCheck"></th>
								<th>로그인 코드</th>
								<th>사업장</th>
								<th>로그인아이디</th>
								<th>로그인 일자</th>
								<!-- <th>로그아웃 일자</th> -->
							</tr>
						
						
						</thead>
						<tbody>
						
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</th:block>

</html>