<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>[[${SectionLocation}]]</title>
	</th:block>
	<th:block layout:fragment="customCss"></th:block>
	
	<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
	<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>
	
	<th:block layout:fragment="customJs">
	
		<script type="text/javascript">
				$(document).on('click', '#modifyBtn', function(){
					var loginId = $(this).attr('data-loginId');
					alert(loginId);
				});
			$(function(){

				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10,15,20,25,-1]);
				aLengthMenuArray.push([5,10,15,20,25,'ALL']);
			
				$('#dataTableAjax').DataTable( {
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
			        ajax: {
			        		url: '/k1Login/loginList',
			        		type: 'POST',
			        		dataSrc: function(data){
			        					console.log(JSON.stringify(data));
			        					return data;
			        				 }
			        },
			        columns: [
			            { 'data': 'loginCode' },
			            { 'data': 'mainBusinessCode' },
			            { 'data': 'loginId' },
			            { 'data': 'loginDate' },
			            { 'data': 'logoutDate' },
			            { 'data': '수정' },
			            { 'data': '삭제' }
			        ],
			        columnDefs: [
			        	{
			        		'targets' : [5],
			        		'orderable' : false,
			        		'searchable' : false,
			        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
			        					var htmlbtn1 = '<button id="modifyBtn" class="btn btn-info float-right mr-2" data-toggle="modal" data-target="#modal-default" data-contractCode="' + row.contractCode +'"><i class="fas fa-pen"></i></button>';
			        					return htmlbtn1;
			        				 }
			        	},
			        	{
			        		'targets' : [6],
			        		'orderable' : false,
			        		'searchable' : false,
			        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
			        					var htmlbtn1 = '<button id="removeBtn" class="btn btn-danger float-right" data-contractCode="' + row.contractCode +'"><i class="fas fa-trash"></i></button>';
			        					return htmlbtn1;
			        				 }
			        	}
			        ]
			    });
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="container-fluid">
			<div class="card card-info card-outline">
				<div class="card-header"></div>
				
				<div class="card-body">
					<table id="dataTableAjax" class="table table-bordered table-hover dataTable dtr-inline "
									role="grid" aria-describedby="example2_info" style="text-align: center;">
						<thead>
							<tr>
								<th>로그인코드</th>
								<th>사업장코드</th>
								<th>회원아이디</th>
								<th>로그인날짜</th>
								<th>로그아웃날짜</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</th:block>
</html>