<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	/****************************
				객체정의
	****************************/
	//SweetAlert
	var Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000
	});
	//form 객체
	var addDelivery = $('#addDelivery');
	//입력객체
	var inputs = $('#regCode, #clientCode, #businessName, #itemList, #receiveAddr, #briefs, #managerId, #managerName');
	//각자
	var selectType = $('#selectType'); //유형선택
	var regCode = $('#regCode'); //출하계획or반품요청코드
	var clientCode = $('#clientCode'); //거래처코드
	var businessName = $('#businessName'); //거래처명
	var receiveAddr = $('#receiveAddr'); //주소
	var itemList = $('#itemList'); //품목목록
	var briefs = $('#briefs'); //적요
	var managerId = $('#managerId'); //담당자ID
	var managerName = $('#managerName'); //담당자이름
	//모달
	var modalObj = $('#modalObj'); //모달창
	var modalTitle = $('#modalObj .modal-title'); //모달창 제목
	var modalBody = $('#modalObj .modal-body'); //모달창 body
	
	
	/****************************
				자동화
	****************************/
	//유형에 따른 코드 input태그 name속성 변화
	$(document).on('change', '#selectType', function(){
		if($(this).val() == 's') {
			regCode.attr('name', 'shipmentPlanCode'); //출하
			inputs.val(null);
		}else {
			regCode.attr('name', 'returnRegCode'); //반품
			inputs.val(null);
		}
	});
	
	
	/****************************
				Ajax
	****************************/
	//출하계획 Modal
	$(document).on('click', '#regCode[name="shipmentPlanCode"]', function(){
		//초기화
		inputs.val(null);
		//ajax
		$.ajax({
			url: '/shipmentPlanModal',
			method: "GET",
			dataType: "html"
		})
		.done(function( data ) {
			modalTitle.text('출하계획 목록');
			//modal body 삽입
			modalBody.html(data);
			//DataTable plugin 적용
			if( $('#shipPlanList tr.empty').length == 0 ) {
				$('#shipPlanList').DataTable({
			        "paging": true,
			        "lengthChange": false,
			        "searching": true,
			        "ordering": true,
			        "info": true,
			        "autoWidth": false,
			        "responsive": true
				});
			}
			modalObj.modal('show');
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	//반품요청 Modal
	$(document).on('click', '#regCode[name="returnRegCode"]', function(){
		//초기화
		inputs.val(null);
		//ajax
		$.ajax({
			url: '/returnRegModal',
			method: "GET",
			dataType: "html"
		})
		.done(function( data ) {
			modalTitle.text('반품요청 목록');
			//modal body 삽입
			modalBody.html(data);
			//DataTable plugin 적용
			if( $('#returnRegList tr.empty').length == 0 ) {
				$('#returnRegList').DataTable({
			        "paging": true,
			        "lengthChange": false,
			        "searching": true,
			        "ordering": true,
			        "info": true,
			        "autoWidth": false,
			        "responsive": true
				});
			}
			modalObj.modal('show');
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	//회원정보 Modal
	$(document).on('click', '#managerName', function(){
		//초기화
		managerId.val(null);
		managerName.val(null);
		//ajax
		$.ajax({
			url: "/userListModal",
			method: "GET",
			dataType: "html"
		})
		.done(function( data ) {
			modalTitle.text('회원정보');
			//modal body 삽입
			modalBody.html(data);
			//DataTable plugin 적용
			if ($('#userList tr.empty').length == 0) {
				//tbody에 정보를 불러온 경우
				$('#userList').DataTable({
			        "paging": true,
			        "lengthChange": false,
			        "searching": true,
			        "ordering": true,
			        "info": true,
			        "autoWidth": false,
			        "responsive": true
				});
			}
			modalObj.modal('show');
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	
	/****************************
			  모달 → 자동입력
	****************************/
	//출하계획
	$(document).on('click', '#shipPlanList .selectBtn', function(){
		regCode.val($(this).parents('tr').children().eq(0).text()); //코드
		clientCode.val($(this).parents('tr').children().eq(1).text()); //거래처코드
		businessName.val($(this).parents('tr').children().eq(2).text()); //거래처상호
		receiveAddr.val($(this).parents('tr').children().eq(3).text()); //주소
		itemList.val($(this).parents('tr').children().eq(4).text()); //품목
		briefs.val($(this).parents('tr').children().eq(5).text()); //적요
		managerId.val($(this).parents('tr').children().eq(6).text()); //ID
		managerName.val($(this).parents('tr').children().eq(7).text()); //이름
		modalObj.modal('hide');
	});
	
	//반품요청
	$(document).on('click', '#returnRegList .selectBtn', function(){
		regCode.val($(this).parents('tr').children().eq(0).text()); //코드
		clientCode.val($(this).parents('tr').children().eq(1).text()); //거래처코드
		businessName.val($(this).parents('tr').children().eq(2).text()); //거래처상호
		itemList.val($(this).parents('tr').children().eq(3).text()); //품목
		briefs.val($(this).parents('tr').children().eq(5).text()); //적요
		managerId.val($(this).parents('tr').children().eq(6).text()); //ID
		managerName.val($(this).parents('tr').children().eq(7).text()); //이름
		modalObj.modal('hide');
	});
	
	//회원정보
	$(document).on('click', '#userList .selectBtn', function(){
		managerId.val($(this).parents('tr').children().eq(0).text()); //ID
		managerName.val($(this).parents('tr').children().eq(1).text()); //이름
		modalObj.modal('hide');
	});
	
	/****************************
				FORM
	****************************/
	//데이터 전송
	$(document).on('click', '#submitBtn', function(){
		//유효성 검사
		var chk = 0;
		if(regCode.val() == null || regCode.val() == '') {
			chk += 1;
		}else if(clientCode.val() == null || clientCode.val() == '') {
			chk += 1;
		}else if(receiveAddr.val() == null || receiveAddr.val() == '') {
			chk += 1;
		}else if(deliveryCost.val() == null || deliveryCost.val() == '') {
			chk += 1;
		}else if(managerId.val() == null || managerId.val() == '') {
			chk += 1;
		}
		//확인
		if(chk > 0) {
			Toast.fire({
				icon: 'error',
				title: '필수 작성 요소를 기입해주세요'
			});
		}else {
			//데이터 전송
			addDelivery.attr('action', '/k1DeliveryAdd').submit();
		}
	});
	
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<form id="addDelivery" method="POST">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
				<!-- 운송요청 정보 입력칸 -->
				<div class="card card-info card-outline mb-4">
					<div class="card-header">
						<h3 class="card-title">운송요청서  등록</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="form-group col-md-2">
								<label for="selectType">
									유형
								</label>
								<select id="selectType" class="form-control">
									<option value="s">출하</option>
									<option value="r">반품</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="regCode">
									코드
								</label>
								<input type="text" id="regCode" name="shipmentPlanCode" class="form-control">
							</div>
							<div class="form-group col-md-6">
								<label for="clientCode">
									운송업체
								</label>
								<input type="hidden" id="clientCode" name="deliveryBusinessCode">
								<input type="text" id="businessName" class="form-control" placeholder="운송업체 상호">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="itemList">
									품목
								</label>
								<input type="text" id="itemList" class="form-control" readonly>
							</div>
							<div class="form-group col-md-4">
								<label for="deliveryCost">
									운송비용
								</label>
								<input type="text" id="deliveryCost" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-12">
								<label for="receiveAddr">
									주소
								</label>
								<input type="text" id="receiveAddr" class="form-control" placeholder="주소">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-8">
								<label for="briefs">
									적요
								</label>
								<input type="text" id="briefs" name="briefs" class="form-control" placeholder="적요를 입력하세요.">
							</div>
							<div class="form-group col-lg-4">
								<label for="managerId">
									담당자
								</label>
								<input type="hidden" id="managerId" name="managerId" class="form-control">
								<input type="text" id="managerName" class="form-control" placeholder="담당자">
							</div>
						</div>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Delivery}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<button type="button" id="submitBtn" class="btn btn-info float-right mr-2">등록하기</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- Modal -->
	<div class="modal fade" id="modalObj" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
				
					<!-- INSERT HTML -->
				
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
</th:block>

</html>