<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					운송요청정보 
				</div>
				<th:block th:if="${ d != null }">
					<div class="card-body">
						<table id="deliveryInfo" class="table table-bordered">
							<tr>
								<th>No.</th>
								<td colspan="3">[[${d.deliveryCode}]]</td>
								<th>사유</th>
								<td>
									<a th:if="${d.stockAdjCode != null}" 
										th:href="@{|/k1${d.stockReasonEng}/${d.stockAdjCode}|}">
										[[${d.stockReason}]]
										<button type="button" class="btn btn-outline-info btn-xs">상세</button>
									</a>
								</td>
							</tr>
							<tr>
								<th>운송업체</th>
								<td colspan="2">[[${d.deliveryBusinessName}]]</td>
								<th>거래처</th>
								<td colspan="2">
									[[${d.clientBusinessName}]]
									<a th:href="@{#}"> <!-- 계약서LINK ${d.contractCode} -->
										<button type="button" class="btn btn-outline-info btn-xs">계약</button>
									</a>
								</td>
							</tr>
							<tr>
								<th>목적지</th>
								<td colspan="2">[[${d.receiveAddr}]]</td>
								<th>운송비</th>
								<td colspan="2">[[${#numbers.formatInteger(d.deliveryCost,0,'COMMA')}]] 원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td colspan="3">[[${d.briefs}]]</td>
								<th>담당자</th>
								<td> <!-- 회원정보LINK -->
									[[${d.managerName}]]
								</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td colspan="2">[[${d.regDate}]]</td>
								<th>수정일시</th>
								<td colspan="2">[[${d.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Delivery}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<a th:href="@{/k1DeliveryRemove}">
							<button type="button" class="btn btn-danger float-right">삭제</button>
						</a>
						<a th:href="@{|/k1DeliveryModify/${d.deliveryCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</th:block>
				<th:block th:if="${ d == null }">
					<div class="card-body">
						잘못된 접근입니다.
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Delivery}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="col-lg-7" th:if="${not #lists.isEmpty(shipPlanDetails)}">
			<div class="card card-info card-outline">
				<div class="card-header">
					출하계획정보
				</div>
				<div class="card-body">
					<table id="shipPlanDetails" class="table table-bordered">
						<thead>
							<tr>
								<th>No.</th>
								<th>품목</th>
								<th>수량</th>
								<th>중량</th>
								<th>합계금액</th>
								<th colspan="2">창고</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${shipPlanDetails}">
								<td>
									<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
										[[${l.inventoryCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>[[${#numbers.formatInteger(l.adjCount,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.adjWeight,0,'COMMA')}]] kg</td>
								<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]] kg</td>
								<td>
									<a th:href="@{|/k1Warehouse/${l.sendWarehouse}|}">
										[[${l.sendWarehouseName}]]
									</a>
								</td>
								<td>
									[[${l.sendWarehouseLocation}]]
									<th:block th:if="${l.sendWarehouseOutPlace} != null">
										([[${l.sendWarehouseOutPlace}]])
									</th:block>
								</td>
								<td>[[${l.comment}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-7" th:if="${not #lists.isEmpty(returnRegDetails)}">
			<div class="card card-info card-outline">
				<div class="card-header">
					반품요청정보
				</div>
				<div class="card-body">
					<table id="returnRegDetails" class="table table-bordered">
						<thead>
							<tr>
								<th>No.</th>
								<th>품목</th>
								<th>금액</th>
								<th>수량</th>
								<th>합계금액</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${returnRegDetails}">
								<td>
									[[${l.returnRegCode}]]
								</td>
								<td>
									<a th:href="@{|/k1Item/${l.itemCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>
									[[${l.amount}]]
								</td>
								<td>
									[[${l.adjCount}]]
								</td>
								<td>
									[[${l.totalPrice}]]
								</td>
								<td>
									[[${l.comment}]]
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>