<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<th:block th:if="${ d != null }">
					<div class="card-body">
						<p class="lead">운송요청정보</p>
						<table id="deliveryInfo" class="table">
							<tr>
								<th>No.</th>
								<td>[[${d.deliveryCode}]]</td>
							</tr>
							<tr>
								<th>사유</th>
								<td>
									<th:block th:if="${d.stockReasonCode} == 5">
										<a th:href="@{/k1ShipmentPlan}">
											[[${d.stockReason}]]
										</a>
									</th:block>
									<th:block th:if="${d.stockReasonCode} == 7">
										<a th:href="@{/k1ReturnReg}">
											[[${d.stockReason}]]
										</a>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>운송업체</th>
								<td>[[${d.deliveryBusinessName}]]</td>
							</tr>
							<tr>
								<th>거래처</th>
								<td>
									[[${d.clientBusinessName}]]
								</td>
							</tr>
							<tr>
								<th>목적지</th>
								<td>[[${d.receiveAddr}]]</td>
							</tr>
							<tr>
								<th>운송비</th>
								<td>[[${#numbers.formatInteger(d.deliveryCost,0,'COMMA')}]] 원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td>[[${d.briefs}]]</td>
							</tr>
							<tr>
								<th>담당자</th>
								<td>
									<a th:href="@{|/k1UserReg/userDetail/${d.managerId}|}">
										[[${d.managerName}]]
									</a>
								</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${d.regDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${d.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Delivery}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<a th:href="@{/k1DeliveryRemove}">
							<button type="button" class="btn btn-danger float-right">삭제</button>
						</a>
						<a th:href="@{|/k1DeliveryModify/${d.deliveryCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</th:block>
				<th:block th:if="${ d == null }">
					<div class="card-body">
						잘못된 접근입니다.
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Delivery}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="col-lg-7" th:if="${not #lists.isEmpty(shipPlanDetails)}">
			<div class="card card-info card-outline">
				<div class="card-header">
					출하계획정보
				</div>
				<div class="card-body">
					<table id="shipPlanDetails" class="table table-bordered">
						<thead>
							<tr>
								<th>품목</th>
								<th>수량</th>
								<th>중량</th>
								<th>합계금액</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${shipPlanDetails}">
								<td>
									<a th:href="@{|/k1Item/${l.itemCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>[[${#numbers.formatInteger(l.itemCount,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.itemWeight,0,'COMMA')}]] kg</td>
								<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]] kg</td>
								<td>[[${l.comment}]]</td>
							</tr>
						</tbody>
					</table>
					<a th:href="@{|/k1ShipmentPlan/${shipPlanDetails[0].shipmentPlanCode}|}">
						<button type="button" class="btn btn-sm btn-outline-info btn-block mt-2">더보기</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-7" th:if="${not #lists.isEmpty(returnRegDetails)}">
			<div class="card card-info card-outline">
				<div class="card-header">
					반품요청정보
				</div>
				<div class="card-body">
					<table id="returnRegDetails" class="table table-bordered">
						<thead>
							<tr>
								<th>품목</th>
								<th>금액</th>
								<th>수량</th>
								<th>합계금액</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="l : ${returnRegDetails}">
								<td>
									<a th:href="@{|/k1Item/${l.itemCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>
									[[${l.unitPrice}]]
								</td>
								<td>
									[[${l.itemCount}]]
								</td>
								<td>
									[[${l.totalPrice}]]
								</td>
								<td>
									[[${l.comment}]]
								</td>
							</tr>
						</tbody>
					</table>
					<a th:href="@{|/k1ReturnReg/${returnRegDetails[0].returnRegCode}|}">
						<button type="button" class="btn btn-sm btn-outline-info btn-block mt-2">더보기</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>