<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.cje.StockMapper">

<!-- 재고 전체목록 조회 -->
<select id="getAllStockList" parameterType="String" resultType="Stock">
	SELECT 
		 RIGHT(s.inventoryCode,3) AS inventoryCode
		,s.mainBusinessCode
		,RIGHT(s.itemCode,3) AS itemCode
		,s.itemName
		,s.itemType
		,s.largeCategory
		,s.middleCategory
		,s.smallCategory
		,s.itemStandard
		,s.itemOrigin
		,s.unitPrice AS productPrice
		,s.itemCount AS totalCount
		,s.totalPrice
		,RIGHT(s.warehouseCode,3) AS warehouseCode
		,s.warehouseName
		,s.location
		,s.outPlace
		,s.totalWeight
		,s.`status`
		,s.`comment`
		,s.regDate AS stockRegDate
		,s.updateDate AS stockUpdateDate
	FROM
		k1_view_stock AS s
	WHERE 
		s.mainBusinessCode = #{mainBusinessCode}
		<if test="types != null and types != ''.toString()">
		AND s.itemType REGEXP #{types}
		</if>
		<if test="wList != null and wList != ''.toString()">
		AND s.warehouseCode REGEXP #{wList}
		</if>
	ORDER BY
		s.inventoryCode DESC;
</select>

<!-- 창고코드&이름 전체조회 -->
<select id="getAllWarehouseList" parameterType="String" resultType="map">
	SELECT 
		 RIGHT(w.warehouseCode,3) AS warehouseCode
		,w.warehouseName
	FROM
		k1_view_warehouse_info w
	WHERE
		w.mainBusinessCode = #{mainBusinessCode};
</select>

<!-- 재고상세정보 -->
<select id="getStockInfo" parameterType="String" resultType="Stock">
	SELECT
		 RIGHT(s.inventoryCode,3) AS inventoryCode
		,RIGHT(s.itemCode,3) AS itemCode
		,s.itemName
		,s.itemType
		,s.largeCategory
		,s.middleCategory
		,s.smallCategory
		,s.itemStandard
		,s.itemOrigin
		,s.unitPrice AS productPrice
		,s.itemCount
		,s.totalPrice
		,RIGHT(s.warehouseCode,3) AS warehouseCode
		,s.warehouseName
		,s.location
		,s.outPlace
		,s.totalWeight
		,s.`status`
		,s.`comment`
		,s.regDate
		,s.updateDate
	FROM
		k1_view_stock AS s
	WHERE
		s.mainBusinessCode = #{mainBusinessCode}
		AND s.inventoryCode = CONCAT('inventoryCode_',#{inventoryCode});
</select>

<!-- 특정 재고의 물류이동 내역 최근 10건 조회 -->
<select id="getStockStorings" parameterType="String" resultType="Storing">
	SELECT 
		 RIGHT(a.stockAdjCode,3) AS stockAdjCode
		,a.stockReasonCode
		,r.reason AS stockReason
		,a.totalPrice
		,a.endDate
		,a.briefs
		,a.managerId
		,a.managerName
		,a.updateDate
	FROM
		k1_view_stock_adjustment AS a
		JOIN
		k1_tb_stock_adjustment_detail AS ad
		ON
		a.stockAdjCode = ad.stockAdjCode
		JOIN
		k1_tb_stock_reason AS r
		ON
		a.stockReasonCode = r.stockReasonCode
	WHERE
		ad.itemCode = CONCAT('itemCode_',#{itemCode})
	GROUP BY
		a.stockAdjCode
	ORDER BY 
		a.endDate DESC
	LIMIT 10;
</select>

<!-- 재고의 수량·중량이 0인지 검사 -->
<select id="stockRemoveValid" parameterType="String" resultType="map">
	SELECT 
		 s.itemCount
		,s.totalWeight
	FROM 
		k1_view_stock AS s
	WHERE
		inventoryCode = CONCAT('inventoryCode_',#{inventoryCode})
		AND mainBusinessCode = #{mainBusinessCode};
</select>

<!-- 재고정보 추가 -->
<insert id="addStock" parameterType="Stock">
	INSERT INTO k1_tb_stock
		(inventoryCode, mainBusinessCode, itemCode
		<if test="purchaseTsCode != null and purchaseTsCode != ''.toString()">
			, purchaseTsCode
		</if>
		<if test="productPriceCode != null and productPriceCode != ''.toString()">
			, productPriceCode
		</if>
		, warehouseCode
		, itemCount
		, totalWeight
		, `status`
		<if test="comment != null and comment != ''.toString()">
			, `comment`
		</if>
		, regDate
		, updateDate)
	VALUES (
		CONCAT('inventoryCode_',#{inventoryCode})
		, #{mainBusinessCode}
		, CONCAT('itemCode_', #{itemCode})
		<if test="purchaseTsCode != null and purchaseTsCode != ''.toString()">
			, CONCAT('purchase_ts_stCode_', #{purchaseTsCode})
		</if>
		<if test="productPriceCode != null and productPriceCode != ''.toString()">
			, CONCAT('productPriceCode_', #{productPriceCode})
		</if>
		, CONCAT('warehouseCode_', #{warehouseCode})
		, ${totalCount}
		, ${totalWeight}
		, #{status}
		<if test="comment != null and comment != ''.toString()">
			, #{comment}
		</if>
		, NOW(), NOW()
	);
</insert>

<!-- 재고정보 수정 프로세스 -->
<update id="modifyStock" parameterType="Stock">
	UPDATE 
		k1_tb_stock AS s
	SET
		 s.itemCode = CONCAT('itemCode_',#{itemCode})
		<if test="purchaseTsCode != null and purchaseTsCode != ''.toString()">
			,s.purchaseTsCode = CONCAT('purchase_ts_stCode_',#{purchaseTsCode})
		</if>
		<if test="productPriceCode != null and productPriceCode != ''.toString()">
			,s.productPriceCode = CONCAT('productPriceCode_',#{productPriceCode})
		</if>
		,s.warehouseCode = CONCAT('warehouseCode_',#{warehouseCode})
		,s.itemCount = ${totalCount}
		,s.totalWeight = ${totalWeight}
		,s.`status` = #{status}
		<if test="comment != null and comment != ''.toString()">
			,s.`comment` = #{comment}
		</if>
		,s.updateDate = NOW()
	WHERE 
		s.inventoryCode  =  CONCAT('inventoryCode_', #{inventoryCode})
</update>

<!-- 재고정보 삭제 -->
<delete id="removeStock">
	DELETE 
	FROM 
		k1_tb_stock
	WHERE 
		inventoryCode = CONCAT('inventoryCode_',#{inventoryCode});
</delete>

</mapper>