<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.cje.WarehouseMapper">

<select id="getWarehouseList" parameterType="String" resultType="Warehouse">
	SELECT 
		 RIGHT(w.warehouseCode,3) AS warehouseCode
		,w.warehouseName
		,w.category1
		,w.category2
		,w.`area`
		,w.loaction
		,w.outPlace
		,w.currentWeight
		,w.maxWeight
		,IF(maxWeight>0, ROUND(100*w.currentWeight/w.maxWeight), -1) AS weightPer
		,w.`status`
		,w.regDate
		,w.updateDate
	FROM 
		k1_tb_warehouse_info AS w
	WHERE
		mainBusinessCode = #{mainBusinessCode};
</select>

<select id="getWarehouseInfo" parameterType="String" resultType="Warehouse">
	SELECT 
		 RIGHT(w.warehouseCode,3) AS warehouseCode
		,w.warehouseName
		,w.category1
		,w.category2
		,w.`area`
		,w.loaction
		,w.outPlace
		,w.currentWeight
		,w.maxWeight
		,IF(maxWeight>0, ROUND(100*w.currentWeight/w.maxWeight), -1) AS weightPer
		,w.`status`
		,w.regDate
		,w.updateDate
	FROM 
		k1_tb_warehouse_info AS w
	WHERE
		w.warehouseCode = CONCAT('warehouseCode_',#{warehouseCode});
</select>

<select id="getWarehouseStock" parameterType="String" resultType="Stock">
	SELECT 
		 RIGHT(s.inventoryCode,3) AS inventoryCode
		,RIGHT(s.itemCode,3) AS itemCode
		,i.itemName
		,i.itemType
		,s.itemCount
		,s.totalPrice
		,s.`status`
		,s.`comment`
	FROM 
		k1_tb_stock AS s
		JOIN
		k1_tb_item_info AS i
		ON
		s.itemCode = i.itemCode
	WHERE
		s.warehouseCode = CONCAT('warehouseCode_',#{warehouseCode})
	ORDER BY 
		s.regDate DESC
	LIMIT 10;
</select>

</mapper>