<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
	
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					재고차이조정 내역
				</div>
				<th:block th:if="${ s != null }">
					<div class="card-body">
						<table id="adjInfo" class="table table-bordered">
							<tr>
								<th>No.</th>
								<td colspan="3">[[${s.stockAdjCode}]]</td>
								<th>상태</th>
								<td th:if="${s.endDate != null}">
									완료
								</td>
								<td th:if="${s.endDate == null}">
								</td>
							</tr>
							<tr>
								<th>창고정보</th>
								<td colspan="2">
									<a th:href="@{|/k1Warehouse/${s.sendWarehouse}|}">
										[[${s.sendWarehouseName}]]
									</a>
								</td>
								<td th:if="${s.sendWarehouseOutPlace == null}">[[${s.sendWarehouseLocation}]]</td>
								<td th:if="${s.sendWarehouseOutPlace != null}">[[${s.sendWarehouseLocation}]] ([[${s.sendWarehouseOutPlace}]])</td>
								<th>합계금액</th>
								<td>[[${s.totalPrice}]] 원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td colspan="3">[[${s.briefs}]]</td>
								<!-- 회원정보 LINK -->
								<th>담당자</th>
								<td>[[${s.managerName}]]</td>
							</tr>
							<tr>
								<th>요청일자</th>
								<td>[[${s.requestDate}]]</td>
								<th>처리일자</th>
								<td>[[${s.adjDate}]]</td>
								<th>완료일자</th>
								<td>[[${s.endDate}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td colspan="2">[[${s.regDate}]]</td>
								<th>수정일시</th>
								<td colspan="2">[[${s.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Adjustment}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<a th:href="@{/k1AdjustmentRemove}">
							<button type="button" class="btn btn-danger float-right">삭제</button>
						</a>
						<a th:href="@{|/k1AdjustmentModify/${s.stockAdjCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</th:block>
				<th:block th:if="${ s == null }">
					<div class="card-body">
						잘못된 접근입니다.
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Adjustment}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					재고차이조정 상세내역
				</div>
				<div class="card-body" th:if="${ s != null }">
					<table id="adjDetail" class="table table-bordered">
						<thead>
							<tr>
								<th>품목명</th>
								<th>조정수량</th>
								<th>최종수량</th>
								<th>조정중량</th>
								<th>최종중량</th>
								<th>상태</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody th:if="${ adjDetail != null }">
							<tr th:each="l : ${adjDetail}">
								<td>
									<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>[[${l.adjCount}]]</td>
								<td>[[${l.afterCount}]]</td>
								<td>[[${l.adjWeight}]] kg</td>
								<td>[[${l.stockWeight}]] kg</td>
								<td>[[${l.stockStatus}]]</td>
								<td>[[${l.comment}]]</td>
							</tr>
						</tbody>
						<tbody th:if="${ adjDetail == null }">
							<tr>
								<td colspan="12">
									상세내역을 불러올 수 없습니다.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-body" th:if="${ s == null }">
					잘못된 접근입니다.
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>