<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			재고조정 내역 조회
		</div>
		<div class="card-body">
			<table id="stockAdjList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>품목</th>
						<th>합계금액</th>
						<th>적요</th>
						<th>요청</th>
						<th>조정</th>
						<th>완료</th>
						<th>담당자</th>
						<th>수정일시</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(stockAdjList)}" th:each="l : ${stockAdjList}">
						<td>
							<input type="checkbox">
						</td>
						<td>[[${l.stockAdjCode}]]</td>
						<td>[[${l.itemList}]]</td>
						<td>[[${l.totalPrice}]]</td>
						<td>[[${l.briefs}]]</td>
						<td>[[${l.requestDate}]]</td>
						<td>[[${l.adjDate}]]</td>
						<td>[[${l.endDate}]]</td>
						<td>[[${l.managerName}]]</td>
						<td>[[${l.updateDate}]]</td>
						<td>
							<a th:href="@{|/k1AdjustmentModify/${l.stockAdjCode}|}">
								<i class="fas fa-pen"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(stockAdjList)}">
						<td colspan="10">
							재고차이조정내역이 존재하지 않습니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</th:block>

</html>