<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title></title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle"></th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-2">
			</div>
			<div class="col-lg-6 col-md-8 mb-3">
				<div class="card card-info card-outline">
					<div class="card-header">
						전표등록
					</div>
				<form id="addSlipForm" th:action="@{|/k1SlipList/add|}" method="post" class="form-horizontal">
					<div class="card-body">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="slipDate">전표일자</label>
								<input type="date" class="form-control" name="slipDate">
							</div>
							<div class="form-group col-md-6">
								<label>구분</label>
								<select class="form-control" id="ps">
									<option value="p" id="p">비용</option>
									<option value="s" id="s">매출</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="TsCode">명세서코드</label>
							<input type="text" class="form-control" name="TsCode" placeholder="명세서코드" >
						</div>
						<div class="form-group">
							<label for="businessName">거래처명</label>
							<input type="text" class="form-control" name="clientCode" value="client_agency_001" placeholder="">
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="amount">공급가액</label>
								<input type="number" class="form-control" name="amount" placeholder="공급가액">
							</div>
							<div class="form-group col-md-4">
								<label for="tax">부가세</label>
								<input type="number" class="form-control" name="tax" placeholder="부가세">
							</div>
							<div class="form-group col-md-4">
								<label for="count">수량</label>
								<input type="number" class="form-control" name="count" placeholder="수량">
							</div>
						</div>
						<div class="form-group">
							<label for="briefs">적요</label>
							<input type="text" class="form-control" name="briefs" placeholder="적요">
						</div>
						<div class="form-group">
							<label for="userName">담당자</label>
							<input type="text" class="form-control" name="regId" placeholder="담당자">
						</div>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1SlipList}">
							<button type="button" class="btn btn-default">이전으로</button>
						</a>
							<button type="submit" class="btn btn-info float-right">등록하기</button>
					</div>
				</form>		

					</div>					
				</div>
			</div>
		</div>
</th:block>

</html>