<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.csh.ClientMapper">

	<select id="getAllClientList" parameterType="String" resultType="Client">
		SELECT
			 cli.clientCode
			,cli.mainBusinessCode
			,cli.businessCategory
			,cli.userId
			,cli.businessName
			,cli.businessRepresentative
			,cli.businessType1
			,cli.businessType2
			,cli.businessNum
			,cli.businessCount
			,cli.businessMobile
			,cli.businessPlace
			,cli.businessEmail
			,cli.regDate
			,cli.updateDate
		FROM 
			k1_tb_client AS cli
		WHERE
			mainBusinessCode = #{mainBusinessCode};
	</select>
	
	<select id="getClientListBySearchKey" parameterType="String" resultType="Client">
		SELECT
			 cli.clientCode
			,cli.mainBusinessCode
			,cli.businessCategory
			,cli.userId
			,cli.businessName
			,cli.businessRepresentative
			,cli.businessType1
			,cli.businessType2
			,cli.businessNum
			,cli.businessCount
			,cli.businessMobile
			,cli.businessPlace
			,cli.businessEmail
			,cli.regDate
			,cli.updateDate
		FROM 
			k1_tb_client AS cli
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%',#{searchValue},'%');
			</if>
		</trim>
	</select>
</mapper>