<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.csh.ClientMapper">

	<select id="getAllClientList" parameterType="String" resultType="Client">
		SELECT
			 cli.clientCode
			,cli.mainBusinessCode
			,cli.businessCategory
			,cli.userId
			,cli.businessName
			,cli.businessRepresentative
			,cli.businessType1
			,cli.businessType2
			,cli.businessNum
			,cli.businessCount
			,cli.businessMobile
			,cli.businessPlace
			,cli.businessEmail
			,cli.regDate
			,cli.updateDate
		FROM 
			k1_tb_client AS cli;
	</select>
	
	<select id="getClientListBySearchKey" parameterType="String" resultType="Client">
		SELECT
			 cli.clientCode
			,cli.mainBusinessCode
			,cli.businessCategory
			,cli.userId
			,cli.businessName
			,cli.businessRepresentative
			,cli.businessType1
			,cli.businessType2
			,cli.businessNum
			,cli.businessCount
			,cli.businessMobile
			,cli.businessPlace
			,cli.businessEmail
			,cli.regDate
			,cli.updateDate
		FROM 
			k1_tb_client AS cli
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%',#{searchValue},'%');
			</if>
		</trim>
	</select>
	
	<select id="getClientDetail" parameterType="String" resultType="Client">
		SELECT
			 clientCode
			,mainBusinessCode
			,businessCategory
			,userId
			,businessName
			,businessRepresentative
			,businessType1
			,businessType2
			,businessNum
			,businessCount
			,businessMobile
			,businessPlace
			,businessEmail
			,regDate
			,updateDate
		FROM 
			k1_tb_client 
		WHERE
			clientCode = #{clientCode};
	</select>
	
	<update id="modifyClient" parameterType="Client">
		UPDATE 
			k1_tb_client
		SET
			clientCode = #{clientCode},
			mainBusinessCode = #{mainBusinessCode},
			businessCategory = #{businessCategory},
			userId = #{userId},
			businessName = #{businessName},
			businessRepresentative = #{businessRepresentative},
			businessType1 = #{businessType1},
			businessType2 = #{businessType2},
			businessNum = #{businessNum},
			businessCount = #{businessCount},
			businessMobile = #{businessMobile},
			businessPlace = #{businessPlace},
			businessEmail = #{businessEmail},
			regDate = #{regDate}
		WHERE 
			clientCode = #{clientCode};
	</update>
	
</mapper>