<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.csh.InvoiceMapper">

	<select id="getAllInvoiceList" parameterType="String" resultType="Invoice">
		SELECT
			*
		FROM
			k1_view_invoice;
	</select>
	
	<select id="getInvoiceDetail" parameterType="String" resultType="Invoice">
		SELECT 
			 i.invoiceCode
			,i.invoiceType
			,i.supplyBusinessCode
			,i.supplyBusinessName
			,i.supplyManagerId
			,i.supplymangerName
			,i.demandBusinessCode
			,i.demandBusinessName
			,i.demandManagerId
			,i.demandManagerName
			,i.invoicePrice
			,i.invoiceTax
			,i.totalCount
			,i.totalPrice
			,i.issueStatus
			,i.payMethod
			,i.invoiceConfirm
			,i.briefs
			,i.issueDate
			,i.regDate
			,d.invoiceDetailCode
			,d.lsAccountCode
			,d.totalAccountCode
			,d.salesTsCode
			,d.itemCode
			,d.`count`
			,d.unitPrice
			,d.supplyPrice
			,d.tax
			,d.`comment`
		FROM 
			k1_view_invoice AS i
			INNER JOIN
			k1_view_invoice_detail AS d
			ON 
			i.invoiceCode = d.invoiceCode
		WHERE
			i.invoiceCode = #{invoiceCode};
	</select>
</mapper>