<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="k1.smart.team.mapper.csh.LoginMapper">
 	<select id="getLoginHistoryCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			k1_tb_login;
	</select>
	
	<select id="getAllLoginList" parameterType="String" resultType="Login">
		SELECT 
			 *
		FROM 
			k1_tb_login AS l
			JOIN 
			k1_tb_main_business AS b
			ON 
			l.mainBusinessCode = b.mainBusinessCode;
	</select>
 	
 	<select id="getLimitLoginList" resultType="Login">
		SELECT 
			 loginCode
			,mainBusinessCode
			,loginId
			,loginDate
			,logoutDate
		FROM 
			k1_tb_login
		ORDER BY loginCode DESC
		LIMIT 0,5 ;
	</select>
	
	<select id="getLoginDetail" parameterType="String" resultType="Login">
		SELECT 
			 loginCode
			,mainBusinessCode
			,loginId
			,loginDate
			,logoutDate
		FROM 
			k1_tb_login
		WHERE
			loginCode = #{loginCode};
	</select>
	
 
 
 </mapper>