<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.csh.UserMapper">	
	
	<select id="getAllUserRegList" parameterType="String" resultType="UserReg">
		SELECT 
			 r.userRegCode
			,r.mainBusinessCode
			,r.userLevelCode
			,r.userId
			,r.userPw
			,r.userName
			,r.userGender
			,r.userAddr
			,r.userMoblie
			,r.userEmail
			,r.userPosition
			,r.userRegDate
			,r.userRegStatus
			,r.userRegComment	
			,b.businessName
			,l.userLevelName
		FROM 
			k1_tb_user_register AS r
			INNER JOIN 
			k1_tb_main_business AS b
			ON 
			r.mainBusinessCode = b.mainBusinessCode
			INNER JOIN 
			k1_tb_user_level AS l
			ON 
			r.userLevelCode = l.userLevelCode
		GROUP BY r.userRegCode;
	</select>

	<select id="getUserRegDetail" parameterType="String" resultType="UserReg">
		SELECT 
			 r.userRegCode
			,r.mainBusinessCode
			,r.userLevelCode
			,r.userId
			,r.userPw
			,r.userName
			,r.userGender
			,r.userAddr
			,r.userMoblie
			,r.userEmail
			,r.userPosition
			,r.userRegDate
			,r.userRegStatus
			,r.userRegComment	
			,b.businessName
			,l.userLevelName
		FROM 
			k1_tb_user_register AS r
			INNER JOIN 
			k1_tb_main_business AS b
			ON 
			r.mainBusinessCode = b.mainBusinessCode
			INNER JOIN 
			k1_tb_user_level AS l
			ON 
			r.userLevelCode = l.userLevelCode
		WHERE 
			userRegCode = #{userRegCode};
	</select>
	
	<update id="modifyUserReg" parameterType="UserReg">
		UPDATE 
			k1_tb_user_register
		SET
			userRegCode = #{userRegCode},
			mainBusinessCode = #{mainBusinessCode},
			userLevelCode = #{userLevelCode},
			userId = #{userId},
			userPw = #{userPw},
			userName = #{userName},
			userGender = #{userGender},
			userAddr = #{userAddr},
			userMoblie = #{userMoblie},
			userEmail = #{userEmail},
			userPosition = #{userPosition},
			userRegDate = #{userRegDate},
			userRegStatus = #{userRegStatus},
			userRegComment = #{userRegComment}
		WHERE 
			userRegCode = #{userRegCode};
	</update>
	
	<select id="getAllUserList" parameterType="String" resultType="User">
		SELECT
			 u.userId
			,u.mainBusinessCode
			,u.userLevelCode
			,u.userPw
			,u.userName
			,u.userGender
			,u.userAddr
			,u.userMoblie
			,u.userEmail
			,u.userPosition
			,u.joinDate
			,u.updateDate
			,b.businessName
			,l.userLevelName
		FROM
			k1_tb_user AS u
			INNER JOIN
			k1_tb_main_business AS b
			ON
			u.mainBusinessCode = b.mainBusinessCode
			INNER JOIN 
			k1_tb_user_level AS l
			ON 
			u.userLevelCode = l.userLevelCode
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
				u.mainBusinessCode = #{mainBusinessCode}
			</if>
		</trim>
	</select>
	
	<select id="getLimitUserList" resultType="User">
		SELECT
			 u.userId
			,u.userName
			,u.userMoblie
			,u.userEmail
			,u.userPosition
			,b.businessName
			,l.userLevelName
		FROM
			k1_tb_user AS u
			INNER JOIN
			k1_tb_main_business AS b
			ON
			u.mainBusinessCode = b.mainBusinessCode
			INNER JOIN 
			k1_tb_user_level AS l
			ON 
			u.userLevelCode = l.userLevelCode
		ORDER BY u.userId DESC 
		LIMIT 0,5 ;
	</select>
	
	<select id="getUserDetail" parameterType="String" resultType="User">
		SELECT 
			 userId
			,mainBusinessCode
			,userLevelCode
			,userName
			,userGender
			,userAddr
			,userMoblie
			,userEmail
			,userPosition
			,joinDate
		FROM 
			k1_tb_user
		WHERE 
			userId = #{userId};
	</select>
	
	<update id="modifyUser" parameterType="User">
		UPDATE 
			k1_tb_user
		SET
			 userId = #{userId}
			,mainBusinessCode = #{mainBusinessCode}
			,userLevelCode = #{userLevelCode}
			,userName = #{userName}
			,userGender = #{userGender}
			,userAddr = #{userAddr}
			,userMoblie = #{userMoblie}
			,userEmail = #{userEmail}
			,userPosition = #{userPosition}
			,joinDate = #{joinDate}
		WHERE 
			userId = #{userId};
	</update>
	
	

</mapper>