<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.csh.UserRegMapper">
	
	<select id="getAllUserRegList" parameterType="String" resultType="UserReg">
		SELECT 
			 r.userRegCode
			,r.mainBusinessCode
			,r.userLevelCode
			,r.userId
			,r.userPw
			,r.userName
			,r.userGender
			,r.userAddr
			,r.userMoblie
			,r.userEmail
			,r.userPosition
			,r.userRegDate
			,r.userRegStatus
			,r.userRegComment
		FROM 
			k1_tb_user_register AS r;
	</select>
	
	

</mapper>