<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.pjh.CostMapper">
	<select id="getAllCostList" parameterType="String" resultType="Cost">
		SELECT
			c.etcPurchaseCode
			,c.mainBusinessCode
			,c.lsAccountCode
			,c.amount
			,c.dealDate
			,c.reportPoint
			,c.briefs
			,c.regDate
			,c.updateDate
			,u.userName
		FROM
			k1_tb_etc_purchase AS c
		JOIN
			k1_tb_user u
		ON
			c.regId = u.userId
	</select>
	<select id="getCostInfoByCode" parameterType="String" resultType="Cost">
		SELECT
			c.etcPurchaseCode
			,c.mainBusinessCode
			,c.lsAccountCode
			,c.amount
			,c.dealDate
			,c.reportPoint
			,c.briefs
			,c.regDate
			,c.updateDate
			,u.userName
		FROM
			k1_tb_etc_purchase AS c
		JOIN
			k1_tb_user u
		ON
			c.regId = u.userId
		WHERE
			etcPurchaseCode = #{etcPurchaseCode};
	</select>
	<insert id="addCost" parameterType="Cost">
		INSERT INTO k1_tb_etc_purchase
				(etcPurchaseCode, mainBusinessCode, lsAccountCode, amount, dealDate, reportPoint, briefs, regDate, updateDate)
		VALUES (
			#{etcPurchaseCode}
			,'fac_ksmartSeoul_Seoul_001'
			,#{lsAccountCode}
			,#{amount}
			,#{dealDate}
			,#{reportPoint}
			,#{briefs}
			,#{regId}
			,NOW()
			,NOW());
	</insert>
	
	
	<select id="getAddCostCode" resultType="String">
		SELECT 
			CONCAT(SUBSTRING(c.etcPurchaseCode,1,17),MAX(SUBSTRING(c.etcPurchaseCode,18))+1)
		FROM 
			k1_tb_etc_purchase AS c	
	</select>
	
	
	<update id="costModify"  parameterType="Cost">
		UPDATE k1_tb_etc_purchase
		SET
			<if test="lsAccountCode !=null and lsAccountCode != ''.toString()">
			lsAccountCode = #{lsAccountCode},
			</if>
			<if test="amount !=null and amount != ''.toString()">
			amount = #{amount},
			</if>
			<if test="dealDate !=null and dealDate != ''.toString()">
			dealDate = #{dealDate},
			</if>
			<if test="regId !=null and regId != ''.toString()">
			regId = #{regId},
			</if>
			reportPoint = #{reportPoint},
			briefs = #{briefs},
			updateDate = NOW()
		WHERE 
			etcPurchaseCode = CONCAT('etcPurchaseCode_',#{etcPurchaseCode});
	</update>
	
	
</mapper>