<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.pjh.IsMapper">
	<select id="getInvoiceList" parameterType="String" resultType="Is">
		SELECT
			lsAccountCode
			,lsAccountName
			,lsCategoryCode
			,isUse
			,isModify
			,applyYear
		FROM
 			k0_tb_ls
	</select>
	<!-- 매출 -->
	<select id="getTotalSales" parameterType="int" resultType="Is">
		SELECT
			sum((s.amount + s.tax) * s.COUNT) AS totalSales
		FROM
			k1_tb_sales_slip AS s
		WHERE DATE(s.regDate) BETWEEN '2022-01-01' AND '2022-12-31';
	</select>
	<!-- 비용-->
	<select id="getTotalPrice" parameterType="int" resultType="Is">
		SELECT
		   e.etc_amount + p.ps_amount AS totalPrice
		FROM
		   (SELECT
		      SUM(c.amount) AS etc_amount
		   FROM
		      k1_tb_etc_purchase c
		   WHERE
		      DATE(c.regDate) BETWEEN '2022-01-01' AND '2022-12-31'
		   ) AS e
		   JOIN
		   (SELECT
		      sum((p.amount + p.tax) * p.`count`) AS ps_amount
		   FROM
		      k1_tb_purchase_slip AS p
		   WHERE DATE(p.regDate) BETWEEN '2022-01-01' AND '2022-12-31'
		   ) AS p
	</select>
</mapper>