<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.pjh.SlipMapper">
	<select id="getAll_P_SlipList" parameterType="String" resultType="Slip">
		SELECT
			p.purchaseSlipCode
			,p.amount
			,p.tex
			,p.count
			,((p.amount + p.tex) * p.COUNT) AS amt
			,c.businessName
			,p.briefs
		FROM
			k1_tb_purchase_slip AS p
		JOIN
			k1_tb_client AS c
		ON 
			p.clientCode = c.clientCode
		WHERE
			p.mainBusinessCode = #{mainBusinessCode};

	</select>
	<select id="getAll_S_SlipList" parameterType="String" resultType="Slip">
		SELECT
			s.salesSlipCode
			,s.amount
			,s.tex
			,s.count
			,((s.amount + s.tex) * s.COUNT) AS amt
			,c.businessName
			,s.briefs
		FROM
			k1_tb_sales_slip AS s
		JOIN
			k1_tb_client AS c
		ON 
			s.clientCode = c.clientCode
		WHERE
			s.mainBusinessCode = #{mainBusinessCode};
	</select>
	<select id="getPurchaseSlipInfo" parameterType="String" resultType="Slip">
		SELECT
			p.purchaseSlipCode
			,p.amount
			,p.tex
			,p.count
			,((p.amount + p.tex) * p.COUNT) AS amt
			,c.businessName
			,p.briefs
			,p.totalAccountCode
			,p.regDate
			,p.updateDate
			,u.userName
		FROM
			k1_tb_purchase_slip AS p
		JOIN
			k1_tb_client AS c
		ON 
			p.clientCode = c.clientCode
		INNER JOIN 
			k1_tb_user AS u
			ON 
			p.regId = u.userId
		WHERE
			purchaseSlipCode = #{purchaseSlipCode};
	</select>
	<select id="getSalesSlipInfo" parameterType="String" resultType="Slip">
		SELECT
			s.salesSlipCode
			,s.amount
			,s.tex
			,s.count
			,((s.amount + s.tex) * s.COUNT) AS amt
			,c.businessName
			,s.briefs
			,s.totalAccountCode
			,s.regDate
			,s.updateDate
			,u.userName
		FROM
			k1_tb_sales_slip AS s
		JOIN
			k1_tb_client AS c
		ON 
			s.clientCode = c.clientCode
		INNER JOIN 
			k1_tb_user AS u
			ON 
			s.regId = u.userId
		WHERE
			salesSlipCode = #{salesSlipCode};
	</select>
</mapper>