<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.pjh.SlipMapper">
	<select id="getAll_P_SlipList" parameterType="String" resultType="Slip">
		SELECT
			p.purchaseSlipCode
			,p.amount
			,p.tax
			,p.count
			,((p.amount + p.tax) * p.COUNT) AS amt
			,c.businessName
			,p.briefs
		FROM
			k1_tb_purchase_slip AS p
		JOIN
			k1_tb_client AS c
		ON 
			p.clientCode = c.clientCode
		WHERE
			p.mainBusinessCode = #{mainBusinessCode};

	</select>
	
	<select id="getAll_S_SlipList" parameterType="String" resultType="Slip">
		SELECT
			s.salesSlipCode
			,s.amount
			,s.tax
			,s.count
			,((s.amount + s.tax) * s.COUNT) AS amt
			,c.businessName
			,s.briefs
		FROM
			k1_tb_sales_slip AS s
		JOIN
			k1_tb_client AS c
		ON 
			s.clientCode = c.clientCode
		WHERE
			s.mainBusinessCode = #{mainBusinessCode};
	</select>
	<select id="getPurchaseSlipInfo" parameterType="String" resultType="Slip">
		SELECT
			p.purchaseSlipCode
			,p.amount
			,p.tax
			,p.count
			,p.purchaseTsCode
			,((p.amount + p.tax) * p.COUNT) AS amt
			,c.businessName
			,p.briefs
			,p.regDate
			,p.updateDate
			,u.userName
		FROM
			k1_tb_purchase_slip AS p
		JOIN
			k1_tb_client AS c
		ON 
			p.clientCode = c.clientCode
		INNER JOIN 
			k1_tb_user AS u
			ON 
			p.regId = u.userId
		WHERE
			purchaseSlipCode = #{purchaseSlipCode};
	</select>
	
	<select id="getSalesSlipInfo" parameterType="String" resultType="Slip">
		SELECT
			s.salesSlipCode
			,s.amount
			,s.tax
			,s.salesTsCode
			,s.count
			,((s.amount + s.tax) * s.COUNT) AS amt
			,c.businessName
			,s.briefs
			,s.regDate
			,s.updateDate
			,u.userName
		FROM
			k1_tb_sales_slip AS s
		JOIN
			k1_tb_client AS c
		ON 
			s.clientCode = c.clientCode
		INNER JOIN 
			k1_tb_user AS u
			ON 
			s.regId = u.userId
		WHERE
			salesSlipCode = #{salesSlipCode};
	</select>
	<select id="getPurchaseTransactionCode" parameterType="String" resultType="Slip">
		SELECT
			RIGHT(pt.purchaseTsCode,3) as purchaseTsCode
			,pt.briefs
		FROM
			k1_tb_purchase_transaction AS pt
		WHERE
			pt.mainBusinessCode = #{mainBusinessCode};
	</select>
	<select id="getSalesTransactionCode" parameterType="String" resultType="Slip">
		SELECT
			RIGHT(st.salesTsCode,3) as salesTsCode
			,st.briefs
		FROM
			k1_tb_sales_transaction AS st
		WHERE
			st.mainBusinessCode = #{mainBusinessCode};
	</select>
	<select id="salesTransactionList" resultType="Slip">
	SELECT
		salesTsCode
		,clientCode
		,amount
		,round(amount*0.1) AS vat
		,count
		,briefs
	FROM
		k1_tb_sales_transaction
	</select>
	
	<select id="purchaseTransactionList" parameterType="String" resultType="Slip">
		SELECT
			pt.purchaseTsCode
			,pt.clientCode
			,SUM(ptd.`count`) as count
			,SUM(ptd.unitPrice) AS amount
			,SUM(ptd.vat) as vat
			,GROUP_CONCAT(DISTINCT pt.briefs SEPARATOR ', ') AS briefs
		FROM
			k1_view_purchase_transaction AS pt
		JOIN
			k1_view_purchase_transaction_detail AS ptd
		ON
			pt.purchaseTsCode = ptd.purchaseTsCode
		GROUP BY
			pt.purchaseTsCode
	</select>
	
	<select id="salesSlipNum" parameterType="String" resultType="String">
		<![CDATA[
		SELECT
			CASE
				WHEN (MAX(RIGHT(salesSlipCode,1)) > 0) 
				THEN CONCAT( 'S', DATE_FORMAT(#{slipDate}, '%y-%m-%d'), '-', MAX(RIGHT(salesSlipCode,1))+1 )
			ELSE CONCAT( 'S',DATE_FORMAT(#{slipDate}, '%y-%m-%d'), '-', 1 )
			END AS salesSlipCode
		FROM
			k1_tb_sales_slip
		WHERE
			SUBSTR(salesSlipCode,2,8) = DATE_FORMAT(#{slipDate}, '%y-%m-%d');
		]]>
	</select>
	<select id="purchaseSlipNum" parameterType="String" resultType="String">
		<![CDATA[
		SELECT
			CASE
				WHEN (MAX(RIGHT(purchaseSlipCode,1)) > 0) 
				THEN CONCAT( 'P', DATE_FORMAT(#{slipDate}, '%y-%m-%d'), '-', MAX(RIGHT(purchaseSlipCode,1))+1 )
			ELSE CONCAT( 'P',DATE_FORMAT(#{slipDate}, '%y-%m-%d'), '-', 1 )
			END AS purchaseSlipCode
		FROM
			k1_tb_purchase_slip
		WHERE
			SUBSTR(purchaseSlipCode,2,8) = DATE_FORMAT(#{slipDate}, '%y-%m-%d');
		]]>
	</select>
	
	<insert id="registerSalesSlip" parameterType="Slip">
	INSERT INTO k1_tb_sales_slip
	(
		salesSlipCode, mainBusinessCode, salesTsCode, clientCode, amount, tax, count, briefs, regId, regDate, updateDate
	)
	VALUES (
		#{salesSlipCode}
		,'fac_ksmartSeoul_Seoul_001'
		,#{salesTsCode}
		,#{clientCode}
		,#{amount}
		,#{tax}
		,#{count}
		,#{briefs}
		,#{regId}
		, NOW()
		, NOW()	
	);	
	</insert>
	<insert id="registerPurchaseSlip" parameterType="Slip">
		INSERT INTO k1_tb_purchase_slip
	(
		purchaseSlipCode, mainBusinessCode, purchaseTsCode, clientCode, amount, tax, count, briefs, regId, regDate, updateDate
	)
	VALUES (
		#{purchaseSlipCode}
		,'fac_ksmartSeoul_Seoul_001'
		,#{purchaseTsCode}
		,#{clientCode}
		,#{amount}
		,#{tax}
		,#{count}
		,#{briefs}
		,#{regId}
		, NOW()
		, NOW()	
	);
	</insert>
  
	<select id="getSalesSlipData" parameterType="String" resultType="Slip">
		SELECT 
			salesSlipCode
			,salesTsCode
			,clientCode
			,amount
			,tax as vat
			,COUNT
			,briefs
			,regId
		FROM
			k1_tb_sales_slip
		WHERE
			salesSlipCode = #{salesSlipCode};
	</select>
	
	<select id="getPurchaseSlipData" parameterType="String" resultType="Slip">
		SELECT 
			purchaseSlipCode
			,purchaseTsCode
			,clientCode
			,amount
			,tax as vat
			,COUNT
			,briefs
			,regId
		FROM 
			k1_tb_purchase_slip
		WHERE
			purchaseSlipCode = #{purchaseSlipCode};
	</select>
	
	<update id="salesSlipModify" parameterType="Slip">
		UPDATE k1_tb_sales_slip
		SET
			salesTsCode		= #{purchaseTsCode},
			clientCode		= #{clientCode},
			amount			= #{amount},
			tax				= #{vat},
			`count`			= #{count},
			briefs			= #{briefs},
			regId			= #{regId},
			updateDate		= NOW()
		WHERE 
			salesSlipCode = #{salesSlipCode}
	</update>
	
	<update id="purchaseSlipModify" parameterType="Slip">
		UPDATE 
			k1_tb_purchase_slip
		SET
			purchaseTsCode		= #{purchaseTsCode},
			clientCode			= #{clientCode},
			amount				= #{amount},
			tax					= #{vat},
			`count`				= #{count},
			briefs				= #{briefs},
			regId				= #{regId},
			updateDate			= NOW()
		WHERE 
			purchaseSlipCode = #{purchaseSlipCode}
	</update>

	
	<!-- 최주은-특정품목(거래처, 계약코드)의 비용 거래명세서 조회 -->
	<select id="getPSlipByItem" parameterType="String" resultType="Slip">
		SELECT
			 RIGHT(p.purchaseTsCode,3) as purchaseTsCode
			,p.clientCode
			,p.clientBusinessName AS businessName
			,GROUP_CONCAT(DISTINCT d.itemName SEPARATOR ', ') AS itemName
			,p.briefs
			,p.totalPrice
			,d2.`count`
			,d2.unitPrice AS amount
			,p.dealDate
		FROM
			k1_view_purchase_transaction p
			JOIN
			k1_view_purchase_transaction_detail d
			ON
			p.purchaseTsCode = d.purchaseTsCode
			JOIN
			k1_view_purchase_transaction_detail d2
			ON
			p.purchaseTsCode = d2.purchaseTsCode AND d2.itemCode = CONCAT('itemCode_',#{itemCode})
		GROUP BY
			p.purchaseTsCode
	</select>
	
	<!-- 최주은-특정품목의 매출 거래명세서 조회 -->
	<select id="getSSlipByItem" parameterType="String" resultType="Slip">
		SELECT 
			 RIGHT(s.salesTsCode,3) AS salesTsCode
			,s.businessName
			,s.itemName
			,s.`count`
			,s.unitPrice AS amount
			,s.totalPrice
			,s.briefs
			,s.regDate
		FROM 
			k1_view_sales_transaction s
		WHERE
			s.itemCode = CONCAT('itemCode_',#{itemCode})
	</select>
	
</mapper>