<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.pjh.TotalAcMapper">
	<select id="getTotalAcList" parameterType="String" resultType="TotalAc">
		SELECT 
			RIGHT(totalAccountCode,3) as totalAccountCode
			,mainBusinessCode
			,salesSlipCode
			,purchaseSlipCode
			,RIGHT(etcPurchaseCode,3) AS etcPurchaseCode
			,salesSection
			,regDate
			,briefs
			,totalPrice
		FROM 
			k1_tb_total_accounting;
	</select>
</mapper>