<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>
<th:block layout:fragment="customJs">
<script>
// 모달 버튼에 이벤트를 건다.
$('#openModalBtn').on('click', function(){
	$('#modal-default').modal('show');
	});

//모달 안의 취소 버튼에 이벤트를 건다.
$('#closeModalBtn').on('click', function(){
	$('#modalBox').modal('hide');
	});
</script>
</th:block>
<th:block layout:fragment="customContents">
	
<!-- DataTables -->

	<!-- content   -->
	<form th:action="@{/k1Contract/k1ContractOne}" method="post" style="text-align: center;">
		<select name="searchKey">
			<option value="contractCode">계약코드</option>
			<option value="mainBusinessCode">사업장코드</option>
			<option value="clientCode">거래처코드</option>
			<option value="clientManagerId">거래처아이디</option>
			<option value="contractSection">계약유형</option>
			<option value="contractType">계약기간</option>
			<option value="startDate">계약개시일</option>
			<option value="endDate">계약종료일</option>
			<option value="managerId">담당자</option>
			<option value="regId">등록자</option>
			<option value="approvalId">승인자</option>
			<option value="contractDate">계약 체결일</option>
			<option value=contractStatus>계약 상태</option>
			<option value="briefs">적요</option>
			<option value="regDate">등록일자</option>
			<option value="updateDate">수정일자</option>
		</select>
		<input type="text" name="searchValue"/>
		<button type="submit">검색</button>
		</form>

		<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			계약내역
		</div>
	<div class="card-body">
                <div class="row">
                <div class="col-sm-12">
                <table id="contractList" class="table table-bordered table-hover dataTable dtr-inline">
                  <thead>
                  <tr role="row">
                    <th>
                    	<input type="checkbox" id="contractAllCheck">
                    </th>
                  	<th>계약코드</th>
                  	<th>사업장별 대표코드</th>
                  	<th>거래처 대표코드</th>
                  	<th>거래처 담당자</th>
                  	<th>계약 주문유형</th>
                  	<th>계약유형</th>
                  	<th>계약시작날짜</th>
                  	<th>계약종료날짜</th>
                  	<th>담당자</th>
                  	<th>등록자</th>
                  	<th>승인자</th>
                  	<th>계약일자</th>
                  	<th>계약상태</th>
                  	<th>적요</th>
                  	<th>등록일시</th>
                  	<th>수정일시</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:if="${not #lists.isEmpty(contractList)}" th:each="l : ${contractList}">
                  <td><input type="checkbox"></td>
                  <td>
                  	<a th:htef="@{/contract/contract_list/${l.contractCode}|}">
                  		[[${l.contractCode}]]
                  	</a>
                  </td>	
                  <td>[[${l.mainBusinessCode}]]</td>
                  <td>[[${l.clientCode}]]</td>
                  <td>[[${l.businessRepresentative}]]</td>
                  <td>[[${l.contractSection}]]</td>
                  <td>[[${l.contractType}]]</td>
                  <td>[[${l.startDate}]]</td>
                  <td>[[${l.endDate}]]</td>
                  <td>[[${l.userName}]]</td>
                  <td>[[${l.userName}]]</td>
                  <td>[[${l.userName}]]</td>
                  <td>[[${l.contractDate}]]</td>
                  <td>[[${l.contractStatus}]]</td>
                  <td>[[${l.briefs}]]</td>
                  <td>[[${l.regDate}]]</td>
                  <td>[[${l.updateDate}]]</td>
            	</tr>
            	<tr th:if="${#lists.isEmpty(contractList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
                  </tbody>    
                </table>
                </div>
                </div>
	                <div class="row">
	                <div class="col-sm-12 col-md-5">
	                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
	                </div>
                </div>
	                <div class="col-sm-12 col-md-7">
	                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <ul class="pagination">
                </ul>
                </div>
                </div>
                </div>
                </div>
              </div>
              
              
           <div class="modal fade" id="modal-default"  style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
          <div class="modal-content">
          	계약 목록 수정 화면
            <div class="modal-header">
              <h4 class="modal-title">계약 목록 수정 화면</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
             <table id="contractListModifyList" class="table table-bordered table-hover dataTable dtr-inline">
				<tbody th:if="${not #lists.isEmpty(contractList)}" th:each="l : ${contractList}">
				<tr>
						 <td>사업장별 대표코드: <input type="text" th:placeholder="${l.mainBusinessCode}"/></td>
				</tr>	
				<tr>
						 <td>거래처 대표코드: <input type="text" th:placeholder="${l.clientCode}"/></td>
				</tr>	
				<tr>
						 <td>거래처 담당자: <input type="text" th:placeholder="${l.businessRepresentative}"/></td>
				</tr>	
				<tr>
						 <td>계약 주문유형: <input type="text" th:placeholder="${l.contractSection}"/></td>
				</tr>	
				<tr>
						 <td>계약유형: <input type="text" th:placeholder="${l.contractType}"/></td>
				</tr>	
				<tr>
						 <td>계약시작날짜: <input type="text" th:placeholder="${l.startDate}"/></td>
				</tr>	
				<tr>
						 <td>계약종료날짜: <input type="text" th:placeholder="${l.endDate}"/></td>
				</tr>	
				<tr>
						 <td>담당자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>등록자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>승인자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>계약일자: <input type="text" th:placeholder="${l.contractDate}"/></td>
				</tr>	
				<tr>
						 <td>계약상태: <input type="text" th:placeholder="${l.contractStatus}"/></td>
				</tr>	
				<tr>
						 <td>적요: <input type="text" th:placeholder="${l.briefs}"/></td>
				</tr>	
				<tr>
						 <td>등록일시: <input type="text" th:placeholder="${l.regDate}"/></td>
				</tr>	
				<tr>
						 <td>수정일시: <input type="text" th:placeholder="${l.updateDate}"/></td>
				</tr>	

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" >수정</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
				</tbody>
				</table>
          </div>
          <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>
</div>   

              
              </div>
              </div>
  </th:block>            
</html>