<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss">

</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>
<th:block layout:fragment="customJs">

		<script type="text/javascript">
			$(function(){
				$(document).on('click', '.modifyBtn', function(){
					var contractCode = $(this).attr('data-contractCode');
					alert(contractCode);
				});
				
				$(document).on('click', '.removeBtn', function(){
					 
				});
				
				
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10,15,20,25,-1]);
					aLengthMenuArray.push([5,10,15,20,25,'ALL']);
					
				$('#dataTableAjax').DataTable( {
			        destroy : true,
					pageLength: 5,
					aLengthMenu : aLengthMenuArray,
					ajax: {
			        	url: '/k1Contract/k1ContractHistory',
			        	type: 'POST',
			        	dataSrc: function(data){
			        				console.log(JSON.stringify(data));
			        				return data;
			        			} 
			        },
			        columns: [
			            { "data": "contractCode" },
			            { "data": "mainBusinessCode" },
			            { "data": "clientCode" },
			            { "data": "businessName" },
			            { "data": 'contractSection' },
			            { "data": 'contractType' },
			            { "data": 'startDate' },
			            { "data": 'endDate' },
			            { "data": 'managerId' },
			            { "data": 'contractDate' },
			            { "data": 'contractStatus' },
			            { "data": 'briefs' },
			            { "data": 'regDate' },
			            { "data": 'updateDate' },
			            { "data": '수정' },
			            { "data": '삭제' }
			        	],
			        	columnDefs:[
			        		{
			        			'targets' : [14],
			        			'orderable' : false,
			        			'searchable' : false,
			        			'render' : function(data, type, row){	           //ajax data 3번째 매개변수 row
			        						var htmlbtn = '<button id="modifyBtn" class="btn btn-info float-right mr-2" data-contractCode="' + row.contractCode +'">수정</button>';
			        						return htmlbtn;
			        					}
			        		},
			        		{
			        			'targets' : [15],
			        			'orderable' : false,
			        			'searchable' : false,
			        			'render' : function(data, type, row){              //ajax data 3번째 매개변수 row
			        						var htmlbtn = '<button id="removeBtn" class="btn btn-danger float-right" data-contractCode="' + row.contractCode +'">삭제</button>';
			        						return htmlbtn;
			        					}
			        		}
			        	]
					});
			   
			});
		
		</script>
</th:block>
	<th:block layout:fragment="customContents">
		<div class="card card-info card-outline">
			<div class="card-header">
			</div>
			<div class="card-body">
			<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="dataTableAjax" class="table table-bordered table-hover dataTable dtr-inline" border="1" style="text-align: center;">
				<thead>
					<tr>
						<th>계약코드</th>
						<th>사업장별 대표코드</th>
						<th>거래처 대표코드</th>
						<th>거래처 담당자</th>
						<th>계약 주문유형</th>
						<th>계약유형</th>
						<th>계약시작날짜</th>
						<th>계약종료날짜</th>
						<th>담당자</th>
						<th>계약일자</th>
						<th>계약상태</th>
						<th>적요</th>
						<th>등록일시</th>
						<th>수정일시</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
			</table>
			</div>
			</div>
		</div>
	</th:block>
</html>