<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${etcPurchaseCode}]]</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<div class="row">
			<th:block th:if="${not #lists.isEmpty(contractInfo)}"
										th:each="l : ${contractInfo}">
		<div class="col-lg-3 col-md-2">
		</div>
			<div class="col-lg-6 col-md-8 mb-3">
				<div class="card card-info card-outline">
					<div class="card-body">
						<p class="lead">계약 상세코드[[${contractInfo.contractNum}]]</p>
						<table id="contractInfo" class="table">
							<tr>
								<th>계약 코드</th>
								<td>[[${contractInfo.contractCode}]]</td>
							</tr>
							<tr>
								<th>사업장명</th>
								<td>[[${contractInfo.mbBusinessName}]]</td>
							</tr>
							<tr>
								<th>거래처명</th>
								<td>[[${contractInfo.clientBusinessName}]]</td>
							</tr>
							<tr>
								<th>거래처담당자</th>
								<td>[[${contractInfo.clientManagerName}]]</td>
							</tr>
							<tr>
								<th>주문유형</th>
								<td>[[${contractInfo.contractSection}]]</td>
							</tr>
							<tr>
								<th>계약기간</th>
								<td>[[${contractInfo.contractType}]]</td>
							</tr>
							<tr>
								<th>계약시작일</th>
								<td>[[${contractInfo.startDate}]]</td>
							</tr>
							<tr>
								<th>계약종료일</th>
								<td>[[${contractInfo.endDate}]]</td>
							</tr>
							<tr>
								<th>담당자</th>
								<td>[[${contractInfo.managerName}]]</td>
							</tr>
							<tr>
								<th>승인자</th>
								<td>[[${contractInfo.approvalName}]]</td>
							</tr>
							<tr>
								<th>계약상태</th>
								<td>[[${contractInfo.contractStatus}]]</td>
							</tr>
							<tr>
								<th>적요</th>
								<td>[[${contractInfo.briefs}]]</td>
							</tr>						
							<tr>
								<th>등록일시</th>
								<td>[[${contractInfo.regDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${contractInfo.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1Contract/k1ContractHistory}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
							<button type="button" class="btn btn-danger float-right">삭제</button>
						<a th:href="@{|/k1Contract/modify/${l.contractCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</div>
			</div>
			<div th:if="${ contractInfo == null }">
				잘못된 접근입니다.
			</div>
		</div>
	</div>
</th:block>

</html>