<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss">

</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>
<th:block layout:fragment="customJs">

		<script type="text/javascript">
		$(document).ready(function() {
			$("#contractAllCheck").click(function() {
				if($("#contractAllCheck").is(":checked")) $("input[name=contractCheck]").prop("checked", true);
				else $("input[name=contractCheck]").prop("checked", false);
			});
			$("input[name=contractCheck]").click(function() {
				var total = $("input[name=contractCheck]").length;
				var checked = $("input[name=contractCheck]:checked").length;

				if(total != checked) $("#contractAllCheck").prop("checked", false);
				else $("#contractAllCheck").prop("checked", true); 
			});
		});	
		
			$(function(){
				$(document).on('click', '.modifyBtn', function(){
					var contractCode = $(this).attr('data-contractCode');
					alert(contractCode);
				});
				
				$(document).on('click', '.removeBtn', function(){
					 
				});
				
				
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10,15,20,25,-1]);
					aLengthMenuArray.push([5,10,15,20,25,'ALL']);
					
				$('#contractList').DataTable( {
			        destroy : true,
					pageLength: 5,
					aLengthMenu : aLengthMenuArray,
					ajax: {
			        	url: '/k1Contract/k1ContractHistory',
			        	type: 'POST',
			        	dataSrc: function(data){
			        				console.log(JSON.stringify(data));
			        				return data;
			        			} 
			        },
			        columns: [
			            { "data": "" },
			            { "data": "contractCode" },
			            { "data": "mbBusinessName" },
			            { "data": "businessName" },
			            { "data": "businessRepresentative" },
			            { "data": 'contractSection' },
			            { "data": 'contractType' },
			            { "data": 'startDate' },
			            { "data": 'endDate' },
			            { "data": 'managerName' },
			            { "data": 'contractDate' },
			            { "data": 'contractStatus' },
			            { "data": 'briefs' },
			            { "data": '수정' }
			        	],
			        	columnDefs:[

			        		{
			        			'targets' : [13],
			        			'orderable' : false,
			        			'searchable' : false,
			        			'render' : function(data, type, row){	           //ajax data 3번째 매개변수 row
			        						var htmlbtn = '<button id="modifyBtn" class="btn btn-info float-right mr-2" data-toggle="modal" data-target="#modal-default" data-contractCode="' + row.contractCode +'"><i class="fas fa-pen"></i></button>';
			        						return htmlbtn;
			        					}
			        		},
			        		{
			        			'targets' : [00],
			        			'orderable' : false,
			        			'searchable' : false,
			        			'render' : function(data, type, row){	           //ajax data 3번째 매개변수 row
			        						var htmlbtn = '<input type="checkBox" name="contractCheck"></input>';
			        						return htmlbtn;
			        					}
			        		}

			        	]
					});
			   
			});
		
		</script>
</th:block>
	<th:block layout:fragment="customContents">
		<div class="card card-info card-outline">
			<div class="card-header">
			</div>
			<div class="card-body">
			<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="contractList" class="table table-bordered table-hover dataTable dtr-inline" border="1" style="text-align: center;" >
				<thead>
					<tr>
						<th><input type="checkBox" id="contractAllCheck"></input></th>
						<th>계약코드</th>
						<th>사업장 상호명</th>
						<th>거래처 상호명</th>
						<th>거래처 담당자</th>
						<th>계약 주문유형</th>
						<th>계약유형</th>
						<th>계약시작날짜</th>
						<th>계약종료날짜</th>
						<th>담당자</th>
						<th>계약일자</th>
						<th>계약상태</th>
						<th>적요</th>
						<th>수정</th>
					</tr>
				</thead>
			</table>
			</div>
				<a th:href="@{|/k1Contract/k1ContractReg|}">
					<button type="button" class="btn btn-info">등록</button>
				</a>
				<button type="button" class="btn btn-danger">삭제</button>
			</div>
			
			  <div class="modal fade" id="modal-default"  style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
          <div class="modal-content">
          	계약 목록 수정 화면
            <div class="modal-header" style="position: fixed;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);">
              <h4 class="modal-title">계약 목록 수정 화면</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
             <table id="contractListModifyList" class="table table-bordered table-hover dataTable dtr-inline">
				<tbody th:if="${not #lists.isEmpty(contractList)}" th:each="l : ${contractList}">
				<tr>
						 <td>사업장별 대표코드: <input type="text" th:placeholder="${l.mainBusinessCode}"/></td>
				</tr>	
				<tr>
						 <td>거래처 대표코드: <input type="text" th:placeholder="${l.clientCode}"/></td>
				</tr>	
				<tr>
						 <td>거래처 담당자: <input type="text" th:placeholder="${l.businessRepresentative}"/></td>
				</tr>	
				<tr>
						 <td>계약 주문유형: <input type="text" th:placeholder="${l.contractSection}"/></td>
				</tr>	
				<tr>
						 <td>계약유형: <input type="text" th:placeholder="${l.contractType}"/></td>
				</tr>	
				<tr>
						 <td>계약시작날짜: <input type="text" th:placeholder="${l.startDate}"/></td>
				</tr>	
				<tr>
						 <td>계약종료날짜: <input type="text" th:placeholder="${l.endDate}"/></td>
				</tr>	
				<tr>
						 <td>담당자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>등록자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>승인자: <input type="text" th:placeholder="${l.userName}"/></td>
				</tr>	
				<tr>
						 <td>계약일자: <input type="text" th:placeholder="${l.contractDate}"/></td>
				</tr>	
				<tr>
						 <td>계약상태: <input type="text" th:placeholder="${l.contractStatus}"/></td>
				</tr>	
				<tr>
						 <td>적요: <input type="text" th:placeholder="${l.briefs}"/></td>
				</tr>	
				<tr>
						 <td>등록일시: <input type="text" th:placeholder="${l.regDate}"/></td>
				</tr>	
				<tr>
						 <td>수정일시: <input type="text" th:placeholder="${l.updateDate}"/></td>
				</tr>	

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" >수정</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
				</tbody>
				</table>
          </div>
          <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>
</div>   
			
		</div>
	</th:block>
</html>