<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf/Layout">
<body>
	<table id="itemList" class="table table-bordered table-hover dataTable dtr-inline">
		<thead>
			<tr>
				<th class="txt-center">No.</th>
				<th>분류</th>
				<th>품목명</th>
				<th>카테고리</th>
				<th>규격</th>
				<th>원산지</th>
				<th>상태</th>
				<th>비고</th>
				<th class="text-center">선택</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l : ${itemList}">
				<td class="txt-center">[[${l.itemCode}]]</td>
				<td>[[${l.itemType}]]</td>
				<td>[[${l.itemName}]]</td>
				<td>
					<th:block th:if="${l.largeCategory} != null">
						[[${l.largeCategory}]]
					</th:block>
					<th:block th:if="${l.middleCategory} != null">
						/[[${l.middleCategory}]]
					</th:block>
					<th:block th:if="${l.smallCategory} != null">
						/[[${l.smallCategory}]]
					</th:block>
					<th:block th:if="${l.microCategory} != null">
						/[[${l.microCategory}]]
					</th:block>
				</td>
				<td>[[${l.itemStandard}]]</td>
				<td>[[${l.itemOrigin}]]</td>
				<td>[[${l.itemStatus}]]</td>
				<td>[[${l.itemComment}]]</td>
				<td class="text-center"><button type="button" class="btn btn-sm btn-outline-info selectBtn">적용</button></td>
			</tr>
			<tr th:if="${#lists.isEmpty(itemList)}">
				<td colspan="9">재고정보를 찾을 수 없습니다.</td>
			</tr>
		</tbody>
	</table>
</body>
</html>