<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf/Layout">
<body>

<table id="materialOrderList" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
	<thead>
		<tr role="row">
			<th class="sorting sorting_asc" tabindex="0" aria-controls="materialOrderList" aria-sort="ascending" aria-label="자재발주코드">materialOrderCode</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">contractCode</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">clientCode</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">totalCount</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">totalPrice</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">orderDate</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">status</th>
			<th>briefs</th>
			<th class="sorting" tabindex="0" aria-controls="materialOrderList">managerId</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="l : ${dataList}">
			<td>[[${l.materialOrderCode}]]</td>
			<td>[[${l.contractCode}]]</td>
			<td>[[${l.clientCode}]]</td>
			<td>[[${l.totalCount}]]</td>
			<td>[[${l.totalPrice}]]</td>
			<td>[[${l.orderDate}]]</td>
			<td>[[${l.status}]]</td>
			<td>[[${l.briefs}]]</td>
			<td>[[${l.managerId}]]</td>
		</tr>
	</tbody>
</table>

</body>
</html>