<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf/Layout">
<body>
	<table id="productOrderList" class="table table-bordered table-hover dataTable dtr-inline">
		<thead>
			<tr>
				<th class="text-center">No.</th>
				<th>거래처명</th>
				<th>전체수량</th>
				<th>합계금액</th>
				<th>적요</th>
				<th>주문일자</th>
				<th class="text-center">선택</th>
			</tr>
		</thead>
		<tbody>
			<tr th:unless="${#lists.isEmpty(productOrderList)}" th:each="l : ${productOrderList}">
				<td class="text-center">[[${l.productOrderCode}]]</td>
				<td style="display: none;">[[${l.contractCode}]]</td>
				<td style="display: none;">[[${l.clientCode}]]</td>
				<td>[[${l.clientBusinessName}]]</td>
				<td>[[${l.totalCount}]]</td>
				<td>[[${l.totalPrice}]]</td>
				<td>[[${l.briefs}]]</td>
				<td style="display: none;">[[${l.managerId}]]</td>
				<td>[[${l.productOrderDate}]]</td>
				<td class="text-center"><button type="button" class="btn btn-sm btn-outline-info selectBtn">적용</button></td>
			</tr>
			<tr th:if="${#lists.isEmpty(productOrderList)}" class="empty">
				<td colspan="8">제품수주내역을 찾을 수 없습니다.</td>
			</tr>
		</tbody>
	</table>
</body>
</html>