<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.ModalMapper">

<!-- 특정 테이블의 PRIMARY KEY -->
<select id="getMaterialOrderList" resultType="MaterialOrder">
	SELECT 
		 RIGHT(o.materialOrderCode,3) AS materialOrderCode
		,RIGHT(o.contractCode,3) AS contractCode
		,RIGHT(o.clientCode,3) AS clientCode
		,o.totalCount
		,o.totalPrice
		,DATE_FORMAT(o.orderDate, '%y-%m-%d') AS orderDate
		,o.`status`
		,o.briefs
		,o.managerId
	FROM
		k1_tb_material_order AS o
</select>


</mapper>