<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss">
	<!-- DataTables -->
	<link rel="stylesheet"
		href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet"
		href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet"
		href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
	<!-- content   -->
	<div class="container-fluid">
		<div class="card card-info card-outline">
			<div class="card-header">
				<form th:action="@{/clientList}" method="post">
					<select name="searchKey">
						<option value="clientCode">거래처코드</option>
						<option value="businessName">상호</option>
						<option value="businessRepresentative">대표자명</option>
						<option value="businessType2">업태</option>
						<option value="businessNum">사업자번호</option>
						<option value="businessMobile">연락처</option>
						<option value="businessPlace">소재지</option>
						<option value="businessEmail">이메일</option>
						<!-- <option value="updateDate">수정일자</option> -->
					</select> 
					<input type="text" name="searchValue"/>
					<button type="submit">검색</button>
				</form>
			</div>

			<div class="card-body">
				<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12 col-md-6"></div>
						<div class="col-sm-12 col-md-6"></div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table id="example2"
								class="table table-bordered table-hover dataTable dtr-inline"
								role="grid" aria-describedby="example2_info"
								style="overflow: auto;">
								<thead class="text-center">
									<tr role="row">
										<th><input type="checkbox" id="clientAllCheck"></th>
										<th>거래처 대표코드</th>
										<th>상호</th>
										<th>대표자명</th>
										<th>업태</th>
										<th>사업자번호</th>
										<th>연락처</th>
										<th>소재지</th>
										<th>이메일</th>
										<th>수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(clientList)}"
										th:each="l : ${clientList}">
										<td><input type="checkbox"></td>
										<td><a th:href="@{|/clientList/${l.clientCode}|}">
												[[${l.clientCode}]] </a></td>
										<td>[[${l.businessName}]]</td>
										<td>[[${l.businessRepresentative}]]</td>
										<td>[[${l.businessType2}]]</td>
										<td>[[${l.businessNum}]]</td>
										<td>[[${l.businessMobile}]]</td>
										<td>[[${l.businessPlace}]]</td>
										<td>[[${l.businessEmail}]]</td>
										<td>
											<a th:href="@{/clientList/${l.clientCode}|}">
												<i class="fas fa-pen"></i>
											</a>
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(clientList)}">
										<td colspan="10">거래처 정보가 없습니다.</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-info">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>