<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz.thymeleaf/Layout">
<body>
<table id="stockList" class="table table-bordered table-hover dataTable dtr-inline">
	<thead>
		<tr>
			<th>No.</th>
			<th>품목명</th>
			<th>분류</th>
			<th>창고</th>
			<th>수량</th>
			<th>중량</th>
			<th>비고</th>
			<th>상태</th>
			<th class="text-center">수정</th>
		</tr>
	</thead>
	<tbody>
		<tr th:if="${not #lists.isEmpty(stockList)}" th:each="l : ${stockList}">
			<td>
				<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
					[[${l.inventoryCode}]]
				</a>
			</td>
			<td>
				<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
					[[${l.itemName}]]
				</a>
			</td>
			<td>[[${l.itemType}]]</td>
			<td>[[${l.warehouseName}]]</td>
			<td>[[${#numbers.formatInteger(l.itemCount,0,'COMMA')}]]</td>
			<td>[[${#numbers.formatInteger(l.totalWeight,0,'COMMA')}]]</td>
			<td>[[${l.comment}]]</td>
			<td>[[${l.status}]]</td>
			<td class="text-center">
				<button type="button" class="btn btn-info btn-sm modalBtn" data-toggle="modal" data-target="#stockModifyModal"
						th:data-inventoryCode="${l.inventoryCode}">
					<i class="fas fa-pen"></i>
				</button>
			</td>
		</tr>
		<tr th:if="${#lists.isEmpty(stockList)}" class="empty">
			<td colspan="9">
				재고 정보가 없습니다.
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>