<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//datetimepicker
	$('#requestDate').datetimepicker({
		format: 'yy-mm-DD'
	});
	$('#adjDate').datetimepicker({
		format: 'yy-mm-DD'
	});
	$('#endDate').datetimepicker({
		format: 'yy-mm-DD'
	});
	
	//상세내역 폼 추가
	var details = $('#details');
	var forms = $('form.row:first-of-type');
	$(document).on('click', '#addLine', function(){
		var clone = forms.clone();
		clone.find('input').val('');
		details.append(clone);
	});
	//상세내역 폼 삭제
	var removeLine = $('button.removeLine')
	$(document).on('click', '.removeLine', function(){
		$(this).parents('form.row').remove();
	});
	
	//합계중량 구하기
	var totalWeight = $('#totalWeight');
	$(document).on('keyup', 'input[name="adjWeight"]', function(){
		var sum=0;
		$('input[name="adjWeight"]').each(function(){
			sum += Number($(this).val());
		});
		totalWeight.val(sum);
	});
	//합계금액 구하기
	var totalPrice = $('#totalPrice');
	$(document).on('keyup', 'input[name="adjCount"]', function(){
		var sum=0;
		$('input[name="adjCount"]').each(function(){
			sum += Number( $(this).val() ) * Number( $(this).parents('form.row').find('input[name="unitPrice"]').val() );
		});
		totalPrice.val(sum);
	});
	$(document).on('keyup', 'input[name="unitPrice"]', function(){
		var sum=0;
		$('input[name="unitPrice"]').each(function(){
			sum += Number( $(this).val() ) * Number( $(this).parents('form.row').find('input[name="adjCount"]').val() );
		});
		totalPrice.val(sum);
	});
})
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					<h3 class="card-title">자재입고내역  등록</h3>
				</div>
				<div class="card-body">
					<form id="modifyWarehousing"th:action="@{/k1WarehousingModify}" method="POST">
						<div class="row">
							<div class="form-group col-lg-6">
								<label for="businessName">
									거래처
								</label>
								<input type="hidden" id="clientCode" name="clientCode" th:value="${w.clientCode}">
								<input type="text" id="businessName" name="businessName" class="form-control" th:value="${w.businessName}" placeholder="거래처 상호">
							</div>
							<div class="form-group col-lg-3 col-sm-6">
								<label for="materialOrderCode">
									자재발주내역
								</label>
								<input type="text" id="materialOrderCode" name="materialOrderCode" th:value="${w.materialOrderCode}" class="form-control">
							</div>
							<div class="form-group col-lg-3 col-sm-6">
								<label for="contractCode">
									계약서
								</label>
								<input type="text" id="contractCode" name="contractCode" th:value="${w.contractCode}" class="form-control" placeholder="선택사항">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="receiveWarehouseName">
									입고창고
								</label>
								<input type="hidden" id="receiveWarehouse" name="receiveWarehouse" th:value="${w.receiveWarehouse}" class="form-control">
								<input type="text" id="receiveWarehouseName" name="receiveWarehouseName" th:value="${w.receiveWarehouseName}" class="form-control" placeholder="창고명">
							</div>
							<div class="form-group col-md-4">
								<label for="receiveWarehouseLocation">
									위치(소재지)
								</label>
								<input type="text" id="receiveWarehouseLocation" name="receiveWarehouseLocation" th:value="${w.receiveWarehouseLocation}" class="form-control" readonly>
							</div>
							<div class="form-group col-md-4">
								<label for="totalWeight">
									합계중량
								</label>
								<input type="number" id="totalWeight" name="totalWeight" th:value="${w.totalWeight}" class="form-control" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="itemList">
									자재 목록
								</label>
								<input type="text" id="itemList" name="itemList" class="form-control" value="아..." placeholder="itemList" readonly>
							</div>
							<div class="form-group col-md-4">
								<label for="totalPrice">
									합계금액
								</label>
								<input type="text" id="totalPrice" name="totalPrice" class="form-control" th:value="${w.totalPrice}" placeholder="totalPrice" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-8">
								<label for="briefs">
									적요
								</label>
								<input type="text" id="briefs" name="briefs" class="form-control" th:value="${w.briefs}" placeholder="적요를 입력하세요.">
							</div>
							<div class="form-group col-lg-4">
								<label for="managerId">
									담당자
								</label>
								<input type="hidden" id="managerId" name="managerId" th:value="${w.managerId}" class="form-control">
								<input type="text" id="managerName" name="managerName" th:value="${w.managerName}" class="form-control" placeholder="담당자">
							</div>
						</div>
						<div class="row inputDate">
							<div class="form-group col-sm-4">
								<label>요청일자</label>
								<div class="input-group date" id="requestDate" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" th:value="${w.requestDate}" data-target="#requestDate">
									<div class="input-group-append" data-target="#requestDate" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-4">
								<label>처리일자</label>
								<div class="input-group date" id="adjDate" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" th:value="${w.adjDate}" data-target="#adjDate">
									<div class="input-group-append" data-target="#adjDate" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-4">
								<label>완료일자</label>
								<div class="input-group date" id="endDate" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input" th:value="${endDate}" data-target="#endDate">
									<div class="input-group-append" data-target="#endDate" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<a th:href="@{/k1Warehousing}">
						<button type="button" class="btn btn-default">목록으로</button>
					</a>
					<button type="button" class="btn btn-info float-right mr-2">등록하기</button>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					<h3 class="card-title">자재입고 상세내역  등록</h3>
				</div>
				<div class="card-body" id="details">
					<form class="row" th:each="d : ${details}">
						<div class="form-group col-lg-2 col-sm-6">
							<input type="hidden" name="inventoryCode" th:value="${d.inventoryCode}" class="form-control">
							<input type="text" name="itemName" class="form-control" th:value="${d.itemName}" placeholder="품목명">
						</div>
						<div class="form-group col-lg-1 col-sm-6">
							<input type="text" name="unitPrice" class="form-control" th:value="${d.unitPrice}" placeholder="비용">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="number" name="adjCount" class="form-control" th:value="${d.adjCount}" placeholder="입고수량">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="number" name="adjWeight" class="form-control" th:value="${d.adjWeight}" placeholder="입고중량">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="text" name="stockStatus" class="form-control" th:value="${d.stockStatus}" placeholder="조정상태">
						</div>
						<div class="form-group col-lg-2 col-sm-8">
							<input type="text" name="comment" class="form-control" th:value="${d.comment}" placeholder="비고">
						</div>
						<div class="form-group col-lg-1 col-sm-4">
							<button type="button" class="btn btn-danger btn-sm float-right removeLine" style="margin-top:3px;">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</form>
					<form class="row">
						<div class="form-group col-lg-2 col-sm-6">
							<input type="hidden" id="inventoryCode" name="inventoryCode" class="form-control">
							<input type="text" name="itemName" class="form-control" placeholder="품목명">
						</div>
						<div class="form-group col-lg-1 col-sm-6">
							<input type="number" name="unitPrice" class="form-control" placeholder="비용">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="number" name="adjCount" class="form-control" placeholder="입고수량">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="number" name="adjWeight" class="form-control" placeholder="입고중량">
						</div>
						<div class="form-group col-lg-2 col-sm-4 col-xs-4">
							<input type="text" name="stockStatus" class="form-control" placeholder="조정상태">
						</div>
						<div class="form-group col-lg-2 col-sm-8">
							<input type="text" name="comment" class="form-control" placeholder="비고">
						</div>
						<div class="form-group col-lg-1 col-sm-4">
							<button type="button" class="btn btn-danger btn-sm float-right removeLine" style="margin-top:3px;">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn-default btn-sm float-right" id="addLine">
						<i class="far fa-plus-square"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>

</html>