<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-8">
			<div class="card card-info card-outline">
				<div class="card-header">
					품목정보 등록
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="itemName">품목명</label>
							<input type="text" class="form-control" id="itemName" placeholder="Enter itemName">
						</div>
						<div class="form-group">
							<label>분류</label>
							<select class="form-control">
								<option>원자재</option>
								<option>부자재</option>
								<option>제품</option>
							</select>
							<label for="itemStandard">규격</label>
							<input type="text" class="form-control" id="itemStandard" placeholder="Enter itemName">
							<label for="itemOrigin">원산지</label>
							<input type="text" class="form-control" id="itemOrigin" placeholder="Enter itemName">
						</div>
						<div class="form-group">
							<label for="itemCategory">카테고리</label>
						</div>
						<div class="form-group">
							<label for="itemComment">비고</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>