<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row" th:unless="${ itemInfo == null }">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					품목[[${itemInfo.itemCode}]]
				</div>
				<div class="card-body">
					<table id="itemInfo" class="table table-bordered">
						<tr>
							<th>품목번호</th>
							<td>[[${itemInfo.itemCode}]]</td>
							<th>상태</th>
							<td>[[${itemInfo.itemStatus}]]</td>
						</tr>
						<tr>
							<th>품목명</th>
							<td>[[${itemInfo.itemName}]]</td>
							<th>분류</th>
							<td>[[${itemInfo.itemType}]]</td>
						</tr>
						<tr>
							<th>카테고리</th>
							<td colspan="3">
								[[${itemInfo.largeCategory}]]
								/[[${itemInfo.middleCategory}]]
								/[[${itemInfo.smallCategory}]]
								/[[${itemInfo.microCategory}]]
							</td>
						</tr>
						<tr>
							<th>수량</th>
							<td>[[${itemInfo.itemCount}]]</td>
							<th>규격</th>
							<td>[[${itemInfo.itemStandard}]]</td>
						</tr>
						<tr>
							<th>단가  <button type="button" class="btn btn-outline-info btn-xs">상세</button></th>
							<td>[[${itemInfo.productPrice}]] 원</td>
							<th>합계금액</th>
							<td>[[${itemInfo.totalPrice}]] 원</td>
						</tr>
						<tr>
							<th>중량</th>
							<td>[[${itemInfo.stockWeight}]] kg</td>
							<th>원산지</th>
							<td>[[${itemInfo.itemOrigin}]]</td>
						</tr>
						<tr>
							<th>비고</th>
							<td colspan="3">[[${itemInfo.itemComment}]]</td>
						</tr>
						<tr>
							<th>등록일시</th>
							<td>[[${itemInfo.itemRegDate}]]</td>
							<th>수정일시</th>
							<td>[[${itemInfo.itemUpdateDate}]]</td>
						</tr>
					</table>
					<button type="button" class="btn btn-info">수정</button>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					재고 현황
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>재고번호</th>
								<th>창고</th>
								<th>수량</th>
								<th>단가</th>
								<th>합계금액</th>
								<th>중량</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-info">더보기</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" th:if="${ itemInfo == null }">
		<div class="card"> 잘못된 접근입니다.</div>
	</div>
</div>

</th:block>

</html>