<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//DataTables
	$('#categories').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
	});
	
	//등록 수행
	$(document).on('click', '.addBtn', function(){
		$('#addForm').submit();
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			품목 카테고리 전체목록
		</div>
		<div class="card-body" th:if="${categories} != null">
			<table id="categories" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th class="text-center"><input type="checkbox" id="allCheck"></th>
						<th>No.</th>
						<th>대분류</th>
						<th>중분류</th>
						<th>소분류</th>
						<th>소소분류</th>
						<th class="text-center">수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${categories}">
						<td class="text-center"><input type="checkbox"></td>
						<td>[[${c.categoryCode}]]</td>
						<td>[[${c.largeCategory}]]</td>
						<td>[[${c.middleCategory}]]</td>
						<td>[[${c.smallCategory}]]</td>
						<td>[[${c.microCategory}]]</td>
						<td class="text-center">
							<button type="button" class="btn btn-info btn-sm modifyBtn">
								<i class="fas fa-pen"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/k1Item}">
				<button type="button" class="btn btn-default mt-3">품목목록</button>
			</a>
				<button type="button" class="btn btn-danger mt-3">삭제</button>
			<button type="button" class="btn btn-info float-right mt-3"
					data-toggle="modal" data-target="#addModal">등록</button>
		</div>
		<div class="card-body" th:if="${categories} == null">
			카테고리 정보가 존재하지 않습니다.
		</div>
	</div>
	
	<!-- 등록 Modal -->
	<div class="modal fade" id="addModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title">카테고리 정보 추가</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="addForm" th:action="@{/k1ItemCategoryAdd}" method="POST">
						<div class="form-group">
							<label for="largeCategory">대분류</label>
							<input class="form-control" type="text" id="largeCategory" name="largeCategory" placeholder="대분류" required>
						</div>
						<div class="form-group">
							<label for="middleCategory">중분류</label>
							<input class="form-control" type="text" id="middleCategory" name="middleCategory" placeholder="대분류" required>
						</div>
						<div class="form-group">
							<label for="smallCategory">소분류</label>
							<input class="form-control" type="text" id="smallCategory" name="smallCategory" placeholder="대분류">
						</div>
						<div class="form-group">
							<label for="microCategory">소소분류</label>
							<input class="form-control" type="text" id="microCategory" name="microCategory" placeholder="대분류">
						</div>
						<div class="form-group">
							<label for="comment">비고</label>
							<input class="form-control" type="text" id="comment" name="comment" placeholder="비고">
						</div>
					</form>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-info addBtn">등록</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>

</th:block>

</html>