<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	/****************************
		  		객체 선언
	****************************/
	//Toast
	var Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000
	});
	//전체폼
	var addItem = $('#addItem'); 
	//입력객체
	var itemName = $('input[name="itemName"]'); 
	var inputs = $('#addItem input');
	var selects = $('#addItem select')
	//품목명 중복여부 메시지 삽입공간
	var itemNameValid = $('#itemNameValid'); 
	//카테고리 선택란
	var itemCategory = $('#itemCategory');
	var largeCategory = $('#largeCategory');
	var middleCategory = $('#middleCategory');
	var smallCategory = $('#smallCategory');
	var microCategory = $('#microCategory');
	
	
	/****************************
		  		Ajax
	****************************/
	//품목명 중복 검사
	$(document).on('change', 'input[name="itemName"]', function(){
		$.ajax({
			  url: "/itemNameValid", //호출 경로
			  method: "POST", //호출 방식
			  data: { 'itemName' : itemName.val() },
			  dataType: "json" //응답할 페이지의 컨텍스트 타입
		})
		.done(function( data ) {
			if(data) {
				itemName.addClass('is-warning');
				itemNameValid.html('<small class="text-warning">동일한 품목명이 존재합니다.</small>');
			} else {
				itemName.removeClass('is-warning');
				itemNameValid.html('');
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	//대분류 선택: 중분류 자동출력
	largeCategory.on('change', function(){
		$.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : null, 'smallCategory' : null },
		})
		.done(function( data ) {
			var dataArr = data['middleCategory'];
			//console.log(data['middleCategory']);
 			var categoryOption = middleCategory.children(":first");
			categoryOption.siblings().remove(); //중분류 청소
			smallCategory.children(':first').siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				if(dataArr[i] != null && dataArr[i] != '') {
					middleCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
				}
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	//중분류 선택: 소분류 자동출력
	middleCategory.on('change', function(){
		$.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : null },
		})
		.done(function( data ) {
			var dataArr = data['smallCategory'];
			//console.log(data['smallCategory']);
 			var categoryOption = smallCategory.children(":first");
			categoryOption.siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				if(dataArr[i] != null && dataArr[i] != '') {
					smallCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
				}
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	//소분류 선택: 소소분류 자동출력
	smallCategory.on('change', function(){
		$.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : smallCategory.val() },
		})
		.done(function( data ) {
			var dataArr = data['microCategory'];
			//console.log(data['microCategory']);
 			var categoryOption = microCategory.children(":first");
			categoryOption.siblings().remove();
			for(var i=0; i<dataArr.length; i++) {
				if(dataArr[i] != null && dataArr[i] != '') {
					microCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
				}
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	//카테고리 코드 반환
	$(document).on('change', '#itemCategory select', function(){
		//카테고리 배열
		var categories = [ largeCategory.val(), middleCategory.val(), smallCategory.val(), microCategory.val() ];
		$.ajax({
			url: "/getItemCategoryCode", //호출 경로
			type: "POST", //호출 방식
			data: { 'categories' : categories },
			dataType: "text"
		})
		.done(function( data ) {
			//console.log('return :: ',data);
			itemCategory.find('input[name="categoryCode"]').val(data);
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	

	/****************************
		    유효성 검사 및 양식 제출
	****************************/
	$(document).on('click', '#submitBtn', function(){
		//유효성 검사
		var chk = 0; 
		//input태그
		inputs.each(function(i, obj){
			//비고, 카테고리코드 생략 가능
			if($(obj).attr('name') == 'itemComment' || $(obj).attr('name') == 'categoryCode' ) {
				return true;
			}
			//필수작성요소 누락
			if($(obj).val() == null || $(obj).val() == 0 || $(obj).val() == '') {
				chk += 1;
			}
			//제품 카테고리 
			if($(obj).attr('name') == 'itemType' && $(obj).is(':checked') && $(obj).val() == '제품') {
				if(largeCategory.val() == '' || middleCategory.val() == '' ) {
					chk += 1;
				}
			}
		});
		if ( chk > 0 ) {
			Toast.fire({
				icon: 'error',
				title: '필수 작성 요소를 기입해주세요.'
			});
		} else {
			addItem.submit();
		}
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-2">
		</div>
		<div class="col-lg-6 col-md-8">
			<!-- 품목정보 입력Form -->
			<div class="card card-info card-outline">
				<div class="card-header">
					품목정보 등록
				</div>
				<div class="card-body">
					<form id="addItem"th:action="@{/k1ItemAdd}" method="POST">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="itemName">
										품목명
										<span id="itemNameValid">
											<!-- 중복여부 안내메시지 표시란 -->
										</span>
									 </label>
									<input type="text" name="itemName" class="form-control" placeholder="Enter itemName">
								</div>
							</div>
							<div class="col-md-4">
								<label>분류</label>
								<div class="form-group">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="원자재" autocomplete="off"> 원자재
										</label>
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="부자재" autocomplete="off"> 부자재
										</label>
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="제품" autocomplete="off"> 제품
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-4">
								<label for="itemStandard">규격</label>
								<input type="text" name="itemStandard" class="form-control" id="itemStandard" placeholder="Enter itemStandard">
							</div>
							<div class="form-group col-4">
								<label for="itemOrigin">원산지</label>
								<input type="text" name="itemOrigin" class="form-control" id="itemOrigin" placeholder="Enter itemOrigin">
							</div>
							<div class="col-4">
								<label>상태</label>
								<div class="form-group">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-outline-info">
											<input type="radio" name="itemStatus" value="Y" autocomplete="off"> 사용가
										</label>
										<label class="btn btn-outline-info">
											<input type="radio" name="itemStatus" value="N" autocomplete="off"> 사용불가
										</label>
									</div>
								</div>
							</div>
						</div>
						<div id="itemCategory" class="form-group">
							<input type="hidden" name="categoryCode">
							<label>카테고리</label>
							<div class="form-group row">
								<div class="col-3">
									<select id="largeCategory" name="largeCategory" class="form-control">
										<option value="">:: 대분류 ::</option>
										<option th:each="l : ${largeCategory}">[[${l}]]</option>
									</select>
								</div>
								<div class="col-3">
									<select id="middleCategory" name="middleCategory" class="form-control">
										<option value="">:: 중분류 ::</option>
									</select>
								</div>
								<div class="col-3">
									<select id="smallCategory" name="smallCategory" class="form-control">
										<option value="">:: 소분류 ::</option>
									</select>
								</div>
								<div class="col-3">
									<select id="microCategory" name="microCategory" class="form-control">
										<option value="">:: 소소분류 ::</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="itemComment">비고</label>
							<input type="text" name="itemComment" class="form-control" id="itemComment" placeholder="Enter comment">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button type="button" id="submitBtn" class="btn btn-info float-right">등록하기</button>
					<a th:href="@{/k1Item}">
						<button type="button" class="btn btn-default">이전으로</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>
</html>