<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	/****************************
				플러그인
	****************************/
	//DataTables
	$('#itemList').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
		"columnDefs": [{    
            orderable: false,
            targets: [0, 11]
             }]
	});
	
	
	/****************************
				객체정의
	****************************/
	//품목분류 체크박스
	var inputType = $('.itemType input[type="checkbox"]');
	//카테고리
	var itemCategory = $('#itemCategory');
	var largeCategory = $('#largeCategory');
	var middleCategory = $('#middleCategory');
	var smallCategory = $('#smallCategory');
	var microCategory = $('#microCategory');
	//테이블 넣을 공간
	var ajaxTable = $('#ajaxTable');
	
	
	/****************************
				 자동화
	****************************/
	//allCheck
	$(document).on('click', '#allCheck', function(){
		if($(this).is(":checked")){
			$('#itemList input[type="checkbox"]').prop("checked", true);
		} else {
			$('#itemList input[type="checkbox"]').prop("checked", false);
		}
	});
	
	
	/****************************
				 Ajax
	****************************/
	//체크박스 Ajax
	$(document).on('change', '#checkAjax', function(){
		var types = [];
		inputType.each(function(i, obj){
			if($(obj).is(':checked')){
				types.push($(obj).val());
			}
		});
		$.ajax({
			url: "/k1Item",
			data: {
					'types' : types, 
					'largeCategory' : largeCategory.val(), 
					'middleCategory' : middleCategory.val(),
					'smallCategory' : smallCategory.val(),
					'microCategory' : microCategory.val()
				  },
			method: "POST",
			dataType: "html"
		})
		.done(function(data){
			//표 그리기
			ajaxTable.html(data);
			if ($('#itemList tr.empty').length == 0) {
				//body에 정보를 불러온 경우
				$('#itemList').DataTable({
					"paging": true,
					"lengthChange": false,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": false,
					"responsive": true,
					"columnDefs": [{    
			            orderable: false,
			            targets: [0, 11]
			             }]
				});
			}
		})
		.fail(function(jqXHR, textStatus) {
			Toast.fire({
				icon: 'error',
				title: "Request failed: " + textStatus
			});
		});
	});
	//대분류 선택: 중분류 자동출력
	largeCategory.on('change', function(){
		var request = $.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : null, 'smallCategory' : null },
			  dataType: "json"
		})
		.done(function( data ) {
			var dataArr = data['middleCategory'];
			//console.log(data['middleCategory']);
 			var categoryOption = middleCategory.children(":first");
			categoryOption.siblings().remove(); //중분류 청소
			smallCategory.children(':first').siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				middleCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	//중분류 선택: 소분류 자동출력
	middleCategory.on('change', function(){
		var request = $.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : null },
			  dataType: "json"
		})
		.done(function( data ) {
			var dataArr = data['smallCategory'];
			//console.log(data['smallCategory']);
 			var categoryOption = smallCategory.children(":first");
			categoryOption.siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				if(dataArr[i] != null && dataArr[i] != '') {
					smallCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
				}
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	//소분류 선택: 소소분류 자동출력
	smallCategory.on('change', function(){
		$.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : smallCategory.val() },
			  dataType: "json"
		})
		.done(function( data ) {
			var dataArr = data['microCategory'];
			//console.log(data['microCategory']);
 			var categoryOption = microCategory.children(":first");
			categoryOption.siblings().remove();//소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				if(dataArr[i] != null && dataArr[i] != '') {
					microCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
				}
			}
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
});
</script>
</th:block>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			품목전체목록
		</div>
		<div class="card-body">
			<div class="card" id="checkAjax">
				<div class="card-body">
					<div class="row">
						<div class="itemType">
							<div class="custom-control custom-checkbox float-left ml-3">
								<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
									type="checkbox" id="rawMaterial" value="원자재">
								<label for="rawMaterial" class="custom-control-label">원자재</label>
							</div>
							<div class="custom-control custom-checkbox float-left ml-3">
								<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
									type="checkbox" id="subsidiary" value="부자재">
								<label for="subsidiary" class="custom-control-label">부자재</label>
							</div>
							<div class="custom-control custom-checkbox float-left ml-3">
								<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
									type="checkbox" id="product" value="제품">
								<label for="product" class="custom-control-label">제품</label>
							</div>
						</div>
						<hr style="border-top: 1px solid transparent;">
						<div id="itemCategory" class="col-md-6 row">
							<select name="largeCategory" id="largeCategory" class="form-control col-md-3">
								<option value="">:: 대분류 ::</option>
								<option th:each="l : ${largeCategory}">[[${l}]]</option>
							</select>
							<select name="middleCategory" id="middleCategory" class="form-control col-md-3">
								<option value="">:: 중분류 ::</option>
							</select>
							<select name="smallCategory" id="smallCategory" class="form-control col-md-3">
								<option value="">:: 소분류 ::</option>
							</select>
							<select name="microCategory" id="microCategory" class="form-control col-md-3">
								<option value="">:: 소소분류 ::</option>
							</select>
						</div>
						<div class="col-md-2">
							<a th:href="@{/k1ItemCategory}">
								<button type="button" class="btn btn-outline-info">편집</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="ajaxTable">
				<table id="itemList" class="table table-bordered table-hover dataTable dtr-inline">
					<thead>
						<tr>
							<th class="text-center">
								<input type="checkbox" id="allCheck">
							</th>
							<th>No.</th>
							<th>품목명</th>
							<th>분류</th>
							<th>대</th>
							<th>중</th>
							<th>소</th>
							<th>소소</th>
							<th>원산지</th>
							<th>비고</th>
							<th>상태</th>
							<th class="text-center">수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(itemList)}" th:each="l : ${itemList}">
							<td class="text-center"><input type="checkbox"></td>
							<td>
								<a th:href="@{|/k1Item/${l.itemCode}|}">
									[[${l.itemCode}]]
								</a>
							</td>
							<td>
								<a th:href="@{|/k1Item/${l.itemCode}|}">
									[[${l.itemName}]]
								</a>
							</td>
							<td>[[${l.itemType}]]</td>
							<td>[[${l.largeCategory}]]</td>
							<td>[[${l.middleCategory}]]</td>
							<td>[[${l.smallCategory}]]</td>
							<td>[[${l.microCategory}]]</td>
							<td>[[${l.itemOrigin}]]</td>
							<td>[[${l.itemStatus}]]</td>
							<td>[[${l.itemComment}]]</td>
							<td class="text-center">
								<a th:href="@{|/k1ItemModify/${l.itemCode}|}">
									<button type="button" class="btn btn-info btn-sm">
										<i class="fas fa-pen"></i>
									</button>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(itemList)}">
							<td colspan="12">
								품목 정보가 없습니다.
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a th:href="@{/k1Stock}">
				<button type="button" class="btn btn-default mt-3">재고목록</button>
			</a>
			<a th:href="@{/k1ItemAdd}">
				<button type="button" class="btn btn-info float-right mt-3">등록</button>
			</a>
		</div>
	</div>
</div>

</th:block>

</html>