<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	var modifyItem = $('#modifyItem'); //수정폼
	var itemType = $('#itemType'); //품목분류
	var submitBtn = $('#submitBtn'); //수정버튼
	var largeCategory = $('#largeCategory');
	var middleCategory = $('#middleCategory');
	var smallCategory = $('#smallCategory');
	var microCategory = $('#microCategory');
	
	//중분류 자동출력
	largeCategory.on('change', function(){
		var request = $.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : null, 'smallCategory' : null },
		});
		
		//정상적인 응답이 되었을 경우 실행되는 메서드
		request.done(function( data ) {
			var dataArr = data['middleCategory'];
 			var categoryOption = middleCategory.children(":first");
			categoryOption.siblings().remove(); //중분류 청소
			smallCategory.children(':first').siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				middleCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
			}
		});
		
		//응답 중 에러가 발생하거나, 데이터 parsing 에러 시 실행되는 메서드
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
	//소분류 자동출력
	middleCategory.on('change', function(){
		var request = $.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : null },
		});
		
		//정상적인 응답이 되었을 경우 실행되는 메서드
		request.done(function( data ) {
			var dataArr = data['smallCategory'];
 			var categoryOption = smallCategory.children(":first");
			categoryOption.siblings().remove(); //소분류 청소
			microCategory.children(':first').siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				smallCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
			}
		});
		
		//응답 중 에러가 발생하거나, 데이터 parsing 에러 시 실행되는 메서드
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
	//소소분류 자동출력
	smallCategory.on('change', function(){
		var request = $.ajax({
			  url: "/getLowCategory", //호출 경로
			  type: "POST", //호출 방식
			  data: { 'largeCategory' : largeCategory.val(), 'middleCategory' : middleCategory.val(), 'smallCategory' : smallCategory.val() },
		});
		
		//정상적인 응답이 되었을 경우 실행되는 메서드
		request.done(function( data ) {
			var dataArr = data['microCategory'];
			//console.log(data['microCategory']);
 			var categoryOption = microCategory.children(":first");
			categoryOption.siblings().remove(); //소소분류 청소
			for(var i=0; i<dataArr.length; i++) {
				microCategory.append(categoryOption.clone().val(dataArr[i]).text(dataArr[i]));
			}
		});
		
		//응답 중 에러가 발생하거나, 데이터 parsing 에러 시 실행되는 메서드
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
	
	//카테고리 코드 반환
	$(document).on('change', '#itemCategory select', function(){
		var categories = [ largeCategory.val(), middleCategory.val(), smallCategory.val(), microCategory.val() ];
		var request = $.ajax({
			url: "/getItemCategoryCode", //호출 경로
			type: "POST", //호출 방식
			data: { 'categories' : categories },
			dataType: "text"
		});
		request.done(function( data ) {
			//console.log('return :: ',data);
			itemCategory.find('input[name="categoryCode"]').val(data);
		});
		request.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	//입력객체
	var inputs = $('#modifyItem input');
	var selects = $('#modifyItem select')
	//수정 폼 제출
	$(document).on('click', '#submitBtn', function(){
		//유효성 검사
		var chk = 0; 
		//input태그
		inputs.each(function(i, obj){
			//상태, 비고, 카테고리코드 생략 가능
			if($(obj).attr('name') == 'itemStatus' || $(obj).attr('name') == 'itemComment' || $(obj).attr('name') == 'categoryCode' ) {
				return true;
			}
			//필수작성요소 누락
			if($(obj).val() == null || $(obj).val() == 0 || $(obj).val() == '') {
				chk += 1;
			}
			//제품 카테고리 
			if($(obj).attr('name') == 'itemType' && $(obj).is(':checked') && $(obj).val() == '제품') {
				if(largeCategory.val() == '' || middleCategory.val() == '' ) {
					chk += 1;
				}
			}
		});
		if ( chk > 0 ) {
			Toast.fire({
				icon: 'error',
				title: '필수 작성 요소를 기입해주세요.'
			});
		} else {
			modifyItem.submit();
		}
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-2">
		</div>
		<div class="col-lg-6 col-md-8">
			<div class="card card-info card-outline">
				<div class="card-header">
					품목정보 수정
				</div>
				<div class="card-body" th:if="${i} != null">
					<form id="modifyItem"th:action="@{/k1ItemModify}" method="POST">
						<div class="row">
							<div class="col-8">
								<div class="form-group">
									<label for="itemName">
										품목명
										<a id="itemNameValid" th:href="@{/k1Item}">
											<!-- 품목정보 이동 button -->
										</a>
									 </label>
									<input type="text" id="itemName" name="itemName" class="form-control" placeholder="Enter itemName" th:value="${i.itemName}">
								</div>
							</div>
							<div class="col-4">
								<label>분류</label>
								<div class="form-group">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="원자재" autocomplete="off" th:checked="'원자재' == ${i.itemType}"> 원자재
										</label>
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="부자재" autocomplete="off" th:checked="'부자재' == ${i.itemType}"> 부자재
										</label>
										<label class="btn btn-outline-info">
											<input type="radio" name="itemType" value="제품" autocomplete="off" th:checked="'제품' == ${i.itemType}"> 제품
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-4">
								<label for="itemStandard">규격</label>
								<input type="text" name="itemStandard" class="form-control" id="itemStandard" placeholder="Enter itemStandard" th:value="${i.itemStandard}">
							</div>
							<div class="form-group col-4">
								<label for="itemOrigin">원산지</label>
								<input type="text" name="itemOrigin" class="form-control" id="itemOrigin" placeholder="Enter itemOrigin" th:value="${i.itemOrigin}">
							</div>
							<div class="form-group col-4">
								<label for="itemStatus">상태</label>
								<input type="text" name="itemStatus" class="form-control" id="itemStatus" placeholder="Enter itemStatus" th:value="${i.itemStatus}">
							</div>
						</div>
						<div id="itemCategory" class="form-group">
							<label>카테고리</label>
							<div class="form-group row">
								<div class="col-3">
									<select id="largeCategory" name="largeCategory" class="form-control">
										<option value="">:: 대분류 ::</option>
										<option th:each="l : ${largeCategory}" th:selected="${l} == ${i.largeCategory}">[[${l}]]</option>
									</select>
								</div>
								<div class="col-3">
									<select id="middleCategory" name="middleCategory" class="form-control">
										<option value="">:: 중분류 ::</option>
										<option th:each="m : ${middleCategory}" th:selected="${m} == ${i.middleCategory}">[[${m}]]</option>
									</select>
								</div>
								<div class="col-3">
									<select id="smallCategory" name="smallCategory" class="form-control">
										<option value="">:: 소분류 ::</option>
										<option th:each="s : ${smallCategory}" th:unless="${i.smallCategory} == null" th:selected="${s} == ${i.smallCategory}">[[${s}]]</option>
									</select>
								</div>
								<div class="col-3">
									<select id="microCategory" name="microCategory" class="form-control">
										<option value="">:: 소소분류 ::</option>
										<option th:each="xs : ${microCategory}" th:unless="${i.microCategory} == null"  th:selected="${xs} == ${i.microCategory}">[[${xs}]]</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="itemComment">비고</label>
							<input type="text" name="itemComment" class="form-control" id="itemComment" placeholder="Enter comment" th:value="${i.itemComment}">
						</div>
					</form>
				</div>
				<div class="card-body" th:if="${i} == null">
					잘못된 접근입니다.
				</div>
				<div class="card-footer">
					<th:block th:if="${i} != null">
						<button type="button" id="submitBtn" class="btn btn-info float-right">수정하기</button>
						<a th:href="@{|/k1Item/${i.itemCode}|}">
							<button type="button" class="btn btn-default">이전으로</button>
						</a>
					</th:block>
					<th:block th:if="${i} == null">
						<a th:href="@{/k1Item}">
							<button type="button" class="btn btn-default">이전으로</button>
						</a>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</div>



</th:block>

</html>