<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle"></th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7">
			<div class="card">
				<div class="card-header">
					품목[[${itemCode}]]
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<tr>
							<td>품목번호</td>
							<td>[[${itemCode}]]</td>
							<td>상태</td>
							<td></td>
						</tr>
						<tr>
							<td>품목명</td>
							<td></td>
							<td>분류</td>
							<td></td>
						</tr>
						<tr>
							<td>카테고리</td>
							<td colspan="3"></td>
						</tr>
						<tr>
							<td>수량</td>
							<td></td>
							<td>규격</td>
							<td></td>
						</tr>
						<tr>
							<td>단가</td>
							<td colspan="2"></td>
							<td><button type="button" class="btn btn-block btn-info btn-sm">자세히</button></td>
						</tr>
						<tr>
							<td>합계금액</td>
							<td colspan="3"></td>
						</tr>
						<tr>
							<td>중량</td>
							<td></td>
							<td>원산지</td>
							<td></td>
						</tr>
						<tr>
							<td>비고</td>
							<td colspan="3"></td>
						</tr>
						<tr>
							<td>등록일시</td>
							<td></td>
							<td>수정일시</td>
							<td></td>
						</tr>
					</table>
					<button type="button" class="btn btn-block btn-info">수정</button>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>