<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					품목정보
				</div>
				<div class="card-body">
					<table id="itemInfo" class="table table-bordered">
						<tr>
							<th>품목번호</th>
							<td>[[${i.itemCode}]]</td>
							<th>상태</th>
							<td>[[${i.itemStatus}]]</td>
						</tr>
						<tr>
							<th>품목명</th>
							<td>[[${i.itemName}]]</td>
							<th>분류</th>
							<td>[[${i.itemType}]]</td>
						</tr>
						<tr>
							<th>카테고리</th>
							<td colspan="3">
								<th:block th:if="${i.largeCategory != null and i.largeCategory != ''.toString()}">
									[[${i.largeCategory}]]
									<th:block th:if="${i.middleCategory != null and i.middleCategory != ''.toString()}">
										/ [[${i.middleCategory}]]
										<th:block th:if="${i.smallCategory != null and i.smallCategory != ''.toString()}">
											/ [[${i.smallCategory}]]
											<th:block th:if="${i.microCategory != null and i.microCategory != ''.toString()}">
												/ [[${i.microCategory}]]
											</th:block>
										</th:block>
									</th:block>
								</th:block>
							</td>
						</tr>
						<tr>
							<th>총수량</th>
							<td>[[${#numbers.formatInteger(i.itemCount,0,'COMMA')}]]</td>
							<th>규격</th>
							<td>[[${i.itemStandard}]]</td>
						</tr>
						<tr>
							<th>평균단가
							<td>[[${#numbers.formatInteger(i.avgPrice,0,'COMMA')}]] 원</td>
							<th>합계금액</th>
							<td>[[${#numbers.formatInteger(i.totalPrice,0,'COMMA')}]] 원</td>
						</tr>
						<tr>
							<th>총중량</th>
							<td>[[${#numbers.formatInteger(i.stockWeight,0,'COMMA')}]] kg</td>
							<th>원산지</th>
							<td>[[${i.itemOrigin}]]</td>
						</tr>
						<tr>
							<th>비고</th>
							<td colspan="3">[[${i.itemComment}]]</td>
						</tr>
						<tr>
							<th>등록일시</th>
							<td>[[${i.itemRegDate}]]</td>
							<th>수정일시</th>
							<td>[[${i.itemUpdateDate}]]</td>
						</tr>
					</table>
				</div>
				<div class="card-footer">
					<a th:href="@{/k1Item}">
						<button type="button" class="btn btn-default">목록으로</button>
					</a>
					<a th:href="@{|/k1ItemRemove(itemCode=${i.itemCode})|}">
						<button type="button" class="btn btn-danger float-right">삭제</button>
					</a>
					<a th:href="@{|/k1ItemModify/${i.itemCode}|}">
						<button type="button" class="btn btn-info float-right mr-2">수정</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					재고 현황
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>재고번호</th>
								<th>창고</th>
								<th>위치</th>
								<th>중량</th>
								<th>수량</th>
								<th>단가</th>
								<th>합계금액</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(stockList)}" th:each="l : ${stockList}">
								<td>
									<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
										[[${l.inventoryCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1Warehouse/${l.warehouseCode}|}">
										[[${l.warehouseName}]]
									</a>
								</td>
								<td th:if="${l.outPlace} == null">[[${l.location}]]</td>
								<td th:if="${l.outPlace} != null">[[${l.location}]] ([[${l.outPlace}]])</td>
								<td>[[${#numbers.formatInteger(l.stockWeight,0,'COMMA')}]] kg</td>
								<td>[[${#numbers.formatInteger(l.itemCount,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.productPrice,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]</td>
							</tr>
							<tr th:if="${#lists.isEmpty(stockList)}">
								<td colspan="7">
									재고 현황을 불러올 수 없습니다.
								</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-sm btn-outline-info btn-block mt-2">더보기</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" th:if="${ i == null }">
		<div class="card"> 잘못된 접근입니다.</div>
	</div>
</div>

</th:block>

</html>