<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<th:block th:if="${ s != null }">
					<div class="card-body">
						<p class="lead">자재사용내역</p>
						<table id="materialUseInfo" class="table">
							<tr>
								<th>No.</th>
								<td>[[${s.stockAdjCode}]]</td>
							</tr>
							<tr>
								<th>상태</th>
								<td>
									<th:block th:if="${s.endDate != null}">완료</th:block>
								</td>
							</tr>
							<tr>
								<th>출고창고</th>
								<td>
									<a th:href="@{|/k1MaterialUse/${s.sendWarehouse}|}">
										[[${s.sendWarehouseName}]]
									</a>
								</td>
							</tr>
							<tr>
								<th>위치 (소재지)</th>
								<td>[[${s.sendWarehouseLocation}]] 
									<th:block th:if="${s.sendWarehouseOutPlace != null}">>([[${s.sendWarehouseOutPlace}]])</th:block>
								</td>
							</tr>
							<tr>
								<th>합계금액</th>
								<td>[[${#numbers.formatInteger(s.totalPrice,0,'COMMA')}]] 원</td>
							</tr>
							<tr>
								<th>적요</th>
								<td>[[${s.briefs}]]</td>
							</tr>
							<tr>
								<!-- 회원정보 LINK -->
								<th>담당자</th>
								<td>[[${s.managerName}]]</td>
							</tr>
							<tr>
								<th>요청일자</th>
								<td>[[${s.requestDate}]]</td>
							</tr>
							<tr>
								<th>처리일자</th>
								<td>[[${s.adjDate}]]</td>
							</tr>
							<tr>
								<th>완료일자</th>
								<td>[[${s.endDate}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${s.regDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${s.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1MaterialUse}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<a th:href="@{/k1MaterialUseRemove}">
							<button type="button" class="btn btn-danger float-right">삭제</button>
						</a>
						<a th:href="@{|/k1MaterialUseModify/${s.stockAdjCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</th:block>
				<th:block th:if="${ s == null }">
					<div class="card-body">
						잘못된 접근입니다.
					</div>
					<div class="card-footer">
						<a th:href="@{/k1MaterialUse}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					자재사용 상세내역
				</div>
				<div class="card-body">
					<table id="materialUseDetails" class="table table-bordered">
						<thead>
							<tr>
								<th>품목명</th>
								<th>거래명세서</th>
								<th>조정수량</th>
								<th>최종수량</th>
								<th>조정중량</th>
								<th>최종중량</th>
								<th>상태</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${ s != null and materialUseDetails != null }" th:each=" l : ${materialUseDetails}">
								<td>
									<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
										[[${l.itemName}]]
									</a>
								</td>
								<td>비용 [[${l.purchaseTsCode}]]</td>
								<td>[[${#numbers.formatInteger(l.adjCount,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.afterCount,0,'COMMA')}]]</td>
								<td>[[${#numbers.formatInteger(l.adjWeight,0,'COMMA')}]] kg</td>
								<td>[[${#numbers.formatInteger(l.stockWeight,0,'COMMA')}]] kg</td>
								<td>[[${l.status}]]</td>
								<td>[[${l.comment}]]</td>
							</tr>
							<tr th:if="${ s == null or materialUseDetails == null }">
								<td>상세내역이 존재하지 않습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


</th:block>

</html>