<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//DataTables
	$('#defectList').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
		"columnDefs": [{    
			orderable: false,
			targets: [0, 9]
		}]
	});
	
	//삭제 프로세스
	var removeStoring = $('#removeStoring');
	$(document).on('click', '#deleteBtn', function(){
		removeStoring.submit();
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			불량처리내역 전체목록
		</div>
		<div class="card-body">
			<form id="removeStoring" th:action="@{/k1StoringRemove}" method="POST">
			<input type="hidden" name="stockReason" value="Defect">
				<table id="defectList" class="table table-bordered table-hover dataTable dtr-inline">
					<thead>
						<tr>
							<th class="text-center"><input type="checkbox" id="allCheck"></th>
							<th>No.</th>
							<th>품목</th>
							<th>합계금액</th>
							<th>적요</th>
							<th>요청</th>
							<th>처리</th>
							<th>완료</th>
							<th>수정일시</th>
							<th class="text-center">수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(storingList)}" th:each="l : ${storingList}">
							<td class="text-center">
								<input type="checkbox" name="stockAdjCode" th:value="${l.stockAdjCode}">
							</td>
							<td>
								<a th:href="@{|/k1Defect/${l.stockAdjCode}|}">
									[[${l.stockAdjCode}]]
								</a>
							</td>
							<td>
								<a th:href="@{|/k1Defect/${l.stockAdjCode}|}">
									[[${l.itemList}]]
								</a>
							</td>
							<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]</td>
							<td>[[${l.briefs}]]</td>
							<td>[[${l.requestDate}]]</td>
							<td>[[${l.adjDate}]]</td>
							<td>[[${l.endDate}]]</td>
							<td>[[${l.updateDate}]]</td>
							<td class="text-center">
								<a th:href="@{|/k1DefectModify/${l.stockAdjCode}|}">
											<button type="button" class="btn btn-info btn-sm">
												<i class="fas fa-pen"></i>
											</button>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(storingList)}">
							<td>불량처리내역이 존재하지 않습니다.</td>
						</tr>
					</tbody>
				</table>
			</form>
			<!-- Buttons -->
			<button type="button" id="deleteBtn" class="btn btn-danger mt-3">삭제</button>
			<a th:href="@{/k1DefectAdd}">
				<button type="button" class="btn btn-info float-right mt-3">등록</button>
			</a>
		</div>
	</div>
</div>
</th:block>

</html>