<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-2">
			</div>
			<div class="col-lg-6 col-md-8">
				<div class="card card-info card-outline">
					<div class="card-header">
						사업장 정보 수정
					</div>
					<!-- form  -->
					<form id="modifyMainBusinessForm" th:action="@{/k1Business/modify/{mainBusinessCode}}" method="post" class="form-horizontal">
						<!-- card-body -->
						<div class="card-body">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">사업장 코드 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.mainBusinessCode}" type="text" class="form-control" id="mainBusinessCode" name="mainBusinessCode" readonly="readonly">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">사업장 구분 코드 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessCategory}" type="text" class="form-control" id="businessCategory" name="businessCategory" readonly="readonly">
								</div>
							</div>
							<!-- <div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">사업장 권한 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessLevel}" type="text" class="form-control" id="businessLevel" name="businessLevel" readonly="readonly">
								</div>
							</div> -->
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">상호 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessName}" type="text" class="form-control" id="businessName" name="businessName" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">대표자명 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessRepresentative}" type="text" class="form-control" id="businessRepresentative" name="businessRepresentative" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">업종 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessType1}" type="text" class="form-control" id="businessType1" name="businessType1" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">업태 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessType2}" type="text" class="form-control" id="businessType2" name="businessType2" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">사업자번호 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessNum}" type="text" class="form-control" id="businessNum" name="businessNum" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">종사업장번호 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessCount}" type="text" class="form-control" id="businessCount" name="businessCount" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">연락처 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessMobile}" type="text" class="form-control" id="businessMobile" name="businessMobile" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">소재지 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessPlace}" type="text" class="form-control" id="businessPlace" name="businessPlace" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">이메일 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.businessEmail}" type="text" class="form-control" id="businessEmail" name="businessEmail" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">개업년월일 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.openDate}" type="text" class="form-control" id="openDate" name="openDate" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label text-right">플랫폼 가입일시 </label>
								<div class="col-sm-6">
									<input th:value="${getMainBusiness.regDate}" type="text" class="form-control" id="regDate" name="regDate" readonly="readonly">
								</div>
							</div>
						</div>
						<!-- /card-body -->
						<!-- card-footer -->
						<div class="card-footer">
							<th:block th:if="${i} != null">
								<button type="button" id="submitBtn" class="btn btn-info float-right">수정하기</button>
								<a th:href="@{|/k1Business/mainBusinessDetail/{mainBusinessCode}|}">
									<button type="button" class="btn btn-default">이전으로</button>
								</a>
							</th:block>
							<th:block th:if="${i} == null">
								<a th:href="@{/k1Business/businessList}">
									<button type="button" class="btn btn-default">이전으로</button>
								</a>
							</th:block>
							<button type="submit" class="btn btn-info float-right" id ="modifyMainBusinessBtn"> 수정완료 </button>
						</div>
						<!-- /card-footer -->
					</form>
					<!-- /form  -->
					
					
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>