<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<th:block th:if="${ p != null }">
					<div class="card-body">
						<p class="lead">제품출하계획</p>
						<table id="shipPlanInfo" class="table">
							<tr>
								<th>No.</th>
								<td>[[${p.shipmentPlanCode}]]</td>
							</tr>
							<tr>
								<th>예상출하일</th>
								<td>[[${p.sendPlanDate}]]</td>
							</tr>
							<tr>
								<th>거래처</th>
								<td>
									<a th:href="@{|/k1Client/clientDetail/${p.clientCode}|}">
										[[${p.businessName}]]
									</a>
									<a th:if="${p.productOrderCode != null}">
										<button type="button" class="btn btn-outline-info btn-xs">[[${p.productOrderCode}]]</button>
									</a>
									<a th:if="${p.returnRegCode != null}">
										<button type="button" class="btn btn-outline-info btn-xs">[[${p.returnRegCode}]]</button>
									</a>
								</td>
							</tr>
							<tr>
								<th>도착지</th>
								<td>[[${p.receiveAddr}]]</td>
							</tr>
							<tr>
								<th>적요</th>
								<td>[[${p.briefs}]]</td>
							</tr>
							<tr>
								<th>담당자</th>
								<td>
									<a th:href="@{|/k1UserReg/userDetail/${p.managerId}|}">
										[[${p.managerName}]]
									</a>
								</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${p.regDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${p.updateDate}]]</td>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<a th:href="@{/k1ShipmentPlan}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<a th:href="@{|/k1ShipmentPlanRemove}|">
							<button type="button" class="btn btn-danger float-right">삭제</button>
						</a>
						<a th:href="@{|/k1ShipmentPlanModify/${p.shipmentPlanCode}|}">
							<button type="button" class="btn btn-info float-right mr-2">수정</button>
						</a>
					</div>
				</th:block>
				<th:block th:if="${ p == null }">
					<div class="card-body">
						잘못된 접근입니다.
					</div>
					<div class="card-footer">
						<a th:href="@{/k1ShipmentPlan}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<div class="col-lg-7">
			상세정보.
		</div>
	</div>
</div>

</th:block>

</html>