<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
	<!-- Preloader -->
	<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
	</div>

    <!-- Main content -->
    <th:block layout:fragment="customContents">
    	<h1>2022-01-05 17:03 배포</h1>
    </th:block>    
</div>

</body>
</html>
