<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
<style type="text/css">
.nav-item ul.nav-treeview { transform: translateX(1em); }
</style>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a th:href="@{/}" class="brand-link">
		<img th:src="@{/SMARTORY/SidebarLogo.png}" alt="SMARTORY Logo" class="brand-image" style="opacity: .8; float:none;">
		<!-- <span class="brand-text font-weight-light">SMARTORY</span> -->
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">관리자</a>
			</div>
		</div> -->
		<!-- 사이드바 프로필 -->
		<div class="mt-3 pb-3 pt-3 mb-3">
			<div th:if="${session.UID == 'id001'}" class="text-center image-box">
				<img src="../../dist/img/user4-128x128.jpg" class="img-circle image-thumbnail" alt="User Image">
			</div>
			<div th:if="${session.UID == 'id002'}" class="text-center image-box">
				<img src="../../dist/img/user6-128x128.jpg" class="img-circle image-thumbnail" alt="User Image">
			</div>
			<div th:if="${session.UID == 'id003'}" class="text-center image-box">
				<img src="../../dist/img/user5-128x128.jpg" class="img-circle image-thumbnail" alt="User Image">
			</div>
			<div th:if="${session.UID == 'id004'}" class="text-center image-box">
				<img src="../../dist/img/user1-128x128.jpg" class="img-circle image-thumbnail" alt="User Image">
			</div>
			
			<div th:if="${session.UID !=null}" class="text-center mt-3">
				<h5 class="text-white">[[${session.UID}]]</h5>
				<h5 class="text-white">[[${session.ULEVELNAME}]]</h5>
			</div>
			<div th:unless="${session.UID !=null}" class="text-center mt-3">
				<h5 class="text-white">비회원</h5>
				<span class="text-white">user</span>
			</div>
		</div>
    
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item" th:if="${session.ULEVEL} == '1' or ${session.ULEVEL} == '2'">
					<a th:href="@{/k1UserReg/managerPage}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p> 회원 관리 </p>
					</a>
				</li>
				<li class="nav-item" th:if="${session.ULEVEL} == '1' or ${session.ULEVEL} == '2'">
					<a th:href="@{/k1Business/businessList}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p>	사업장 관리</p>
					</a>
				</li>
				<li class="nav-item" th:if="${session.ULEVEL} == '1' or ${session.ULEVEL} == '2' or ${session.ULEVEL} == '3'">
					<a th:href="@{/k1Client/clientList}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p>거래처 관리</p>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{#}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p>
							거래 관리
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/k1Contract/k1ContractHistory}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>계약 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1MaterialOrder/k1MaterialOrderList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>주문 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1PaymentList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>결제 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1SlipList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>전표 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1PurchaseTransaction/k1PurchaseTransactionHistory}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>명세서 관리</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a th:href="@{#}" class="nav-link"><!-- 그래프 -->
						<i class="nav-icon fas fa-circle"></i>
						<p>
							재무 관리
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/k1InvoiceList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>재무 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1CostList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>비용 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1ProductPrice/k1ProductPriceList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>단가 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1TotalAc}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>통합회계 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Invoice/invoiceList}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>세금계산서</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a th:href="@{#}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p>
							재고 관리
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/k1Stock}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>재고 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Warehouse}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>창고 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Item}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>품목 관리</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item" th:unless="${session.ULEVEL} == '4'">
					<a th:href="@{#}" class="nav-link">
						<i class="nav-icon fas fa-circle"></i>
						<p>
							물류 관리
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/k1Storing}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>물류 관리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Warehousing}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>자재입고</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1MaterialUse}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>자재사용</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Production}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>제품생산</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Moving}"class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>창고이동</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Shipment}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>제품출하</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Adjustment}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>재고조정</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Return}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>반품처리</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/k1Defect}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>불량처리</p>
							</a>
						</li>
					</ul>
				</li>
				
				
			</ul>
		</nav>
		<!-- /.Sidebar-menu -->

	</div>
	<!-- /.Sidebar -->
	
</aside>

</th:block>
</html>