<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">공장 물류 시스템</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">관리자2</a>
        </div>
      </div>

     
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p> 회원 관리 - 최선희
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1UserReg}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 회원가입 요청 내역 - !</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1Login}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 로그인 내역 - !</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p> 사업장 관리 - 최선희
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1Business}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 사업장 조회 - ! </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1Business/k1BusinessRegister}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 사업장 등록 - ! </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p> 거래처 관리 - 최선희
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1Client/k1ClientList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 거래처 조회 - ! </p>
                </a> 
              </li>
              <li class="nav-item">
                <a th:href="@{/k1Client/k1ClientRegister}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 거래처 등록 - ! </p>
                </a>
              </li>
            </ul>
          </li>
                 <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	계약 관리 - 박수빈
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1ContractReg}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>계약서 등록 - # </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1ContractList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>계약서 조회 - #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1ContractDetail}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>계약서 상세현황 - #</p>
                </a>
              </li>
            </ul>
          </li>
                 <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	전표 관리 - 박재형
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1SlipList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>전표 조회 - # </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1SlipList/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>전표 등록 - #</p>
                </a>
              </li>
            </ul>
          </li>
                 <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	비용 관리 - 박재형
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1CostList/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>비용 등록 - #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1CostList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>비용 조회 - # </p>
                </a>
              </li>
            </ul>
          </li>
                 <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	결제 관리 - 박재형
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1PaymentList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>결제 조회 - #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1PaymentList/plan}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>결제예정 조회 - # </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1PaymentList/cancel}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>결제취소 조회 - #</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	수.발주 관리 - 박수빈
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1OrderReg}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>발주 요청 입력 - #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1MaterialOrderList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                   	발주 요청 조회 - #</p>
                </a>
                
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                  	발주 요청 현황 - #
                  	</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1ProductOrderReg}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>수주 요청 입력 - #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1ProductOrderList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                   	수주 요청 조회  - #</p>
                </a>
                
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                  	수주 요청 현황 - #
                  	</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	제품단가 및 제조원가계산 관리 - 박수빈
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{#}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> 제조원가계산 및 제품단가 계산- #</p>
                </a>
              </li>
            </ul>
          </li>
          
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="nav-icon fas fa-circle"></i>
					<p> 전자세금계산서 - 최선희
						<i class="right fas fa-angle-left"></i>
					</p>
			</a>
	            <ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p> 매출 전자세금계산서 - !
								<i class="right fas fa-angle-left"></i>
							</p>
		                </a> 
		                 <ul class="nav nav-treeview">
			                  <li class="nav-item">
			                    <a th:href="@{/k1Invoice/k1PurchaseIvList}" class="nav-link">
			                      <i class="far fa-dot-circle nav-icon"></i>
			                      <p>매출세금계산서 조회</p>
			                    </a>
			                  </li>
			                  <li class="nav-item">
			                    <a th:href="@{/k1Invoice/k1PurchaseIvRegister}" class="nav-link">
			                      <i class="far fa-dot-circle nav-icon"></i>
			                      <p>매출세금계산서 등록</p>
			                    </a>
			                  </li>
               			 </ul>
					</li>
					<li class="nav-item">
		                <a href="#" class="nav-link">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p> 비용 전자세금계산서 - ! 
							<i class="right fas fa-angle-left"></i>
		                  </p>
		                </a>
		                 <ul class="nav nav-treeview">
			                  <li class="nav-item">
			                    <a th:href="@{/k1Invoice/k1SalesIvList}" class="nav-link">
			                      <i class="far fa-dot-circle nav-icon"></i>
			                      <p>비용세금계산서 조회</p>
			                    </a>
			                  </li>
			                  <li class="nav-item">
			                    <a th:href="@{/k1Invoice/k1SalesIvRegister}" class="nav-link">
			                      <i class="far fa-dot-circle nav-icon"></i>
			                      <p>비용세금계산서 등록</p>
			                    </a>
			                  </li>
               			 </ul>
					</li>
	            </ul>
		</li>
          
		  <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	물류 관리
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Level 2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Level 2
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Level 2</p>
                </a>
              </li>
            </ul>
          </li>
                 <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	재고 관리
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1Stock}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>재고 목록</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Level 2
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Level 3</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Level 2</p>
                </a>
              </li>
            </ul>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                	재무 관리 - 박재형
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/k1InvoiceList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>계정과목 조회- #</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/k1TotalAc}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>통합회계 관리 - # </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{#}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>결산 현황 - #</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</th:block>  
</html>