<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss">

</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>
<th:block layout:fragment="customJs">
<script>
		
		$(document).ready(function() {
			$("#purchaseTsAllCheck").click(function() {
				if($("#purchaseTsAllCheck").is(":checked")) $("input[name=purchaseTsCheck]").prop("checked", true);
				else $("input[name=purchaseTsCheck]").prop("checked", false);
			});
			$("input[name=purchaseTsCheck]").click(function() {
				var total = $("input[name=purchaseTsCheck]").length;
				var checked = $("input[name=purchaseTsCheck]:checked").length;

				if(total != checked) $("#purchaseTsAllCheck").prop("checked", false);
				else $("#purchaseTsAllCheck").prop("checked", true); 
			});
			$("#salesTsAllCheck").click(function() {
				if($("#salesTsAllCheck").is(":checked")) $("input[name=salesTsCheck]").prop("checked", true);
				else $("input[name=salesTsCheck]").prop("checked", false);
			});

			$("input[name=purchaseTsCheck]").click(function() {
				var total = $("input[name=purchaseTsCheck]").length;
				var checked = $("input[name=purchaseTsCheck]:checked").length;

				if(total != checked) $("#purchaseTsAllCheck").prop("checked", false);
				else $("#purchaseTsAllCheck").prop("checked", true); 
			});
		});
		
			$(function(){
			//DataTables
			$('#purchaseTransactionList').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true		
		});
			$('#salesTransactionList').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true		
		});
		
			//Modal
	var purchaseTransactionModifyModal = $('#purchaseTransactionModifyModal');
	//Modal SHOW
	$(document).on('click', '.modalBtn', function(){
		var request = $.ajax({
			url: '/purchaseTransactionModifyModal',
			method: "GET",
			dataType: "html"
		});
		 
		request.done(function( data ) {
			stockModifyModal.find('.modal-body').html(data);
		});
		 
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});

});
		
</script>
</th:block>

<section class="content">
	<th:block layout:fragment="customContents">
	<div class="card card-info card-outline">
	<div class="card-header p-0 pt-1 border-bottom-0">
	<a style="float: right;" th:href="@{/k1PaymentList}">결제 목록화면으로</a>
	<ul class="nav nav-tabs" id="transaction-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="purchase-home-tab" data-toggle="pill" href="#purchase" role="tab" aria-controls="purchase" aria-selected="true">비용거래명세서</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="sales-home-tab" data-toggle="pill" href="#sales" role="tab" aria-controls="sales" aria-selected="false">매출거래명세서</a>
					</li>
				</ul>
		</div>
		<div class="card-body">
		<div class="card tab-content" id= "p_slip">
		<div class="tab-pane fade show active" id="purchase" role="tabpanel" aria-labelledby="purchase-home-tab">
		<div class="dataTables_wrapper dt-bootstrap4">
			<table id="purchaseTransactionList" class="table table-bordered table-hover dataTable dtr-inline" border="1" style="text-align: center;">
				<thead>
					<tr>					
						<th><input type="checkBox" id="purchaseTsAllCheck"></th>
						<th>비용 거래명세서 코드</th>
						<th>거래처명</th>
						<th>계약코드</th>
						<th>적요</th>
						<th>거래일자</th>
						<th>등록일시</th>
						<th>수정일시</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(purchaseTransactionList)}" th:each="l : ${purchaseTransactionList}">
						<td class="text-center"><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1PurchaseTransaction/purchaseTransaction/${l.purchaseTsCode}|}">
								[[${l.purchaseTsCode}]]
							</a>
						</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.clientCode}]]</td>
						<td>[[${l.briefs}]]</td>
						<td>[[${l.dealDate}]]</td>
						<td>[[${l.regDate}]]</td>
						<td>[[${l.updateDate}]]</td>
						<td class="text-center">
							<a th:href="@{|/k1PurchsaeTransaction/modify/${l.purchaseTsCode}|}">
								<button type="button" class="btn btn-info btn-sm">
									<i class="fas fa-pen"></i>
								</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
				<a th:href="@{|/k1PurchaseTransaction/k1PurchaseTransactionReg|}">
					<button type="button" class="btn btn-info">등록</button>
				</a>
				<button type="button" class="btn btn-danger">삭제</button>
			</div>
			
			<div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-home-tab">
			<div id="sales" class="dataTables_wrapper dt-bootstrap4">
			<table id="salesTransactionList" class="table table-bordered table-hover dataTable dtr-inline" border="1" style="text-align: center; width: 100%;">
				<thead>
					<tr>
						<th><input type="checkBox" id="salesTsAllCheck"></th>
						<th>매출 거래명세서 코드</th>
						<th>거래처명</th>
						<th style="width:9%;">계정과목</th>
						<th style="width:9%;">공급가액</th>
						<th style="width:9%;">수량</th>
						<th style="width:9%;">제품가격</th>
						<th>총 가격</th>
						<th>거래일자</th>
						<th>적요</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(salesTransactionList)}" th:each="l : ${salesTransactionList}">
						<td class="text-center"><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1SalesTransaction/salesTransaction/${l.salesTsCode}|}">
								[[${l.salesTsCode}]]
							</a>
						</td>
						<td>[[${l.businessName}]]</td>
						<td>[[${l.lsAccountName}]]</td>
						<td>[[${#numbers.formatInteger(l.amount,0,'COMMA')}]] 원</td>
						<td>[[${l.count}]]  EA</td>
						<td>[[${#numbers.formatInteger(l.unitPrice,0,'COMMA')}]] 원</td>
						<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]] 원</td>
						<td>[[${l.dealDate}]]</td>
						<td>[[${l.briefs}]]</td>
						<td class="text-center">
							<a th:href="@{|/k1SalesTransaction/modify/${l.salesTsCode}|}">
								<button type="button" class="btn btn-info btn-sm">
									<i class="fas fa-pen"></i>
								</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<a th:href="@{|/k1SalesTransaction/k1SalesTransactionReg|}">
					<button type="button" class="btn btn-info">등록</button>
			</a>
			<button type="button" class="btn btn-danger">삭제</button>
			
		</div>
		</div>	
			</div>
			</div>
			</section>
	</th:block>
</html>