<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>

<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle"></th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customJs">
<script type="text/javascript">

		$(function(){
			
			$(document).on('click', '#modifyMaterialOrderBtn', function(){
				var submitCheck = true;
				
				var inputObj = $('#modifyMaterialOrderForm').find('input');
				
				$.each(inputObj, function(){
					var inputData = $(this).val();
					
					var inputCode = $(this).attr('code');
					var labelText = $('label[for=' + inputCode + ']').text();
					if(typeof inputData =='undefined' || inputData == null || inputData == ''){
						alert(labelText + '입력해주세요' + inputData);
						$(this).focus();
						submitCheck = false;
						return false;
					}
				});
				
				if(submitCheck) $('#modifyMaterialOrderForm').submit();
				
			});
		
		});


</script>
</th:block>

<!-- content -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<form id="modifyMaterialOrderForm" th:action="@{|/k1MaterialOrder/modify/{materialOrderCode}|}" method="post">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
				<div class="card card-info card-outline">
					<div class="card-header">
						<h3 class="card-title">비용거래명세서 수정</h3>
					</div>
					<div class="card-body" th:if="${materialOrderList} != null">
							<div class="row">
									<div class="form-group col-md-6">
				                    <label for="orderDate">발주요청 일자</label>
				                    <input type="date" name="orderDate" class="form-control" id="orderDate" value="${materialOrderInfo.orderDate}" >
				                  </div>		  
								<div class="form-group col-md-6">
									<label for="mainBusinessName">사업장 상호명</label>
				                    <select name="mainBusinessName" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(mainBusinessList)}"
				                    			  th:each="l : ${mainBusinessList}">
				                    		<option th:value="${l.mainBusinessCode}" th:text="${l.businessName}">	  
				                    			[[${l.businessName}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(mainBusinessList)}">	
				                    		<option>사업장 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-md-6">
									<label for="contractType">계약코드</label>
				                    <select name="contractType" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(contractList)}"
				                    			  th:each="l : ${contractList}">
				                    		<option th:value="${l.contractCode}" th:text="${l.contractCode}">	  
				                    			[[${l.contractCode}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(contractList)}">	
				                    		<option>계약서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-md-6">
				                    <label for="clientCode">거래처 명</label>
				                     <select name="clientCode"  class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(clientList)}"
				                    			  th:each="l : ${clientList}">
				                    		<option th:value="${l.clientCode}" th:text="${l.businessName}">	  
				                    			[[${l.businessName}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(clientList)}">	
				                    		<option>거래처 먼저 등록 해주세요. </option> 
				                    	</th:block>
				                    </select>		
				                  </div>
								
                  <div class="form-group col-md-6">
                    <label for="predictDate">납기일자</label>
                    <input type="date" name="predictDate" class="form-control" id="predictDate" value="${materialOrderInfo.predictDate}" >
                  </div>

                  <div class="form-group col-md-6">
                    <label for="status">발주 진행상태</label>
                    <input type="text" name="status" class="form-control" id="status" value="${materialOrderList.status}" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="briefs">적요</label>
                    <input type="text" name="briefs" class="form-control" id="briefs" value="${materialOrderList.briefs}" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="managerId">담당자</label>
                    <select name="managerId"  class="form-control">
                    	<th:block th:if="${not #lists.isEmpty(userList)}"
                    			  th:each="l : ${userList}">
                    		<option th:value="${l.userId}" th:text="${l.userName}">	  
                    			[[${l.userName}]]
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(userList)}">	
                    		<option>회원 먼저 등록 해주세요. </option> 
                    	</th:block>
                    </select>
                 </div>
                  <div class="form-group col-md-6">
                    <label for="regDate">등록일자</label>
                    <input type="date" name="regDate" class="form-control" id="regDate" value="${materialOrderList.regDate}" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="updateDate">수정일자</label>
                    <input type="date" name="updateDate" class="form-control" id="updateDate" value="${materialOrderList.updateDate}" >
                  </div>
						
					</div>
					<div class="card-footer">

					</div>
				</div>
			</div>
			</div>
			</div>
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<!-- 발주 상세정보 입력칸 -->
					<div class="card card-info card-outline mb-3">
						<div class="card-header">
							<h3 class="card-title">발주 상세내역 수정</h3>
						</div>
						<div id="details" class="card-body">
							<div class="row" th:if="${materialOrderList} != null">
								<div class="form-group col-lg-3 ">
									<label for="materialOrderOngoingCode">발주상세코드</label>
				                    <select name="materialOrderOngoingCode" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(materialOrderList)}"
				                    			  th:each="l : ${materialOrderList}">
				                    		<option th:value="${l.materialOrderOngoingCode}" th:text="${l.materialOrderOngoingCode}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(materialOrderList)}">	
				                    		<option>발주서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
									<label for="itemCode">품목명</label>
				                    <select name="itemCode" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(itemList)}"
				                    			  th:each="i : ${itemList}">
				                    		<option th:value="${i.itemCode}" th:text="${i.itemName}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(itemList)}">	
				                    		<option>발주서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
								<label for="itemCount">수량</label>
									<input type="number" name="itemCount" class="form-control" value="${m.itemCount}">
								</div>
								<div class="form-group col-lg-3 ">
								<label for="itemPrice">가격</label>
									<input type="number" name="itemPrice" class="form-control" value="${m.itemPrice}">
								</div>
								<div class="form-group col-lg-3 ">
								<label for="realReceiveDate">실수령일자</label>
									<input type="date" name="realReceiveDate" class="form-control" value="${m.realReceiveDate}">
								</div>
								<div class="form-group col-lg-3 ">
									<label for="reserveStatus">수령 후 상태</label>
				                    <select name="reserveStatus" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(materialOrderList)}"
				                    			  th:each="m : ${materialOrderList}">
				                    		<option th:value="${m.reserveStatus}" th:text="${m.reserveStatus}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(materialOrderList)}">	
				                    		<option>발주서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
								<label for="comment">비고</label>
									<input type="text" name="comment" class="form-control" value="${m.comment}">
								</div>
								
								<!-- 해당 row 삭제 버튼 -->
								<!-- <div class="form-group col-lg-3" >
									<button type="button" class="btn btn-danger btn-xl float-right removeLine" style="margin-top:0.2em;">
										<i class="fas fa-trash-alt"></i>
									</button>
								</div> -->
							</div>
						</div>
						<!-- 1 row 추가 버튼 -->
						<!-- <div class="card-footer">
							<button type="button" class="btn btn-default btn-sm float-right" id="addLine">
								<i class="far fa-plus-square"></i>
							</button>
						</div> -->
					</div>
				</div>
			</div>
									<a th:href="@{/k1MaterialOrder/k1MaterialOrderList}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<button id="modifyMaterialOrderBtn" type="button" class="btn btn-info float-right mr-2">수정완료</button>
		</form>
	</div>
</th:block>
</html>