<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.ManufacturingCostCalcMapper">
	<resultMap type="ManufacturingCostCalc" id="manufacturingCostCalcResultMap">
		<result column="manufacturingCostCalcCode" 					property="manufacturingCostCalcCode"/>
		<result column="manufacturingCostCode" 				property="manufacturingCostCode"/>
		<result column="materialCode" 					property="materialCode"/>
		<result column="purchaseTsCode" 				property="purchaseTsCode"/>
		<result column="cost" 				property="cost"/>
		<result column="amount" 					property="amount"/>
		<result column="totalCost" 						property="totalCost"/>
	</resultMap>


	<select id="getManufacturingCostCalcList"  resultType="ManufacturingCostCalc">
		SELECT
			 ls.lsAccountName as lsAccountName
			,ep.amount
			,mo.totalPrice as totalPrice
			,ii.itemName as itemName
		FROM 
			k1_tb_etc_purchase AS ep
			INNER JOIN 
			k0_tb_ls AS ls
			on
			ls.lsAccountCode = ep.lsAccountCode
			INNER JOIN 
			k1_view_material_order AS mo
			on
			mo.mainBusinessCode = ep.mainBusinessCode
			INNER JOIN 
			k1_view_item_info as ii
			on
			ii.mainBusinessCode = ep.mainBusinessCode
			INNER JOIN 
			k1_tb_material_order_detail AS mord
			on
			mord.itemCode=ii.itemCode
			WHERE DATE(mo.regDate) <![CDATA[ >= ]]> DATE_FORMAT(NOW(), '%Y-%m-01') AND DATE(mo.regDate) <![CDATA[  <= ]]>LAST_DAY(NOW())
			GROUP BY lsAccountName, ep.amount, mo.totalPrice
			ORDER BY lsAccountName ASC;
	</select>
</mapper>