<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.ManufacturingCostMapper">
	<resultMap type="ManufacturingCost" id="manufacturingCostResultMap">
		<result column="manufacturingCostCalcCode" 					property="manufacturingCostCalcCode"/>
		<result column="manufacturingCostCode" 				property="manufacturingCostCode"/>
		<result column="materialCode" 					property="materialCode"/>
		<result column="purchaseTsCode" 				property="purchaseTsCode"/>
		<result column="cost" 				property="cost"/>
		<result column="amount" 					property="amount"/>
		<result column="totalCost" 						property="totalCost"/>
	</resultMap>


	<select id="getManufacturingCostList"  resultType="ManufacturingCost">
		SELECT 
			RIGHT(mc.manufacturingCostCode,3) AS manufacturingCostCode,
			mb.businessName,
			ii.itemName,
			mc.unitCost,
			mc.regDate,
			mc.updateDate
		FROM 
			k1_view_manufacturing_cost AS mc
		INNER JOIN 
			k1_view_item_info AS ii
		on
			mc.productCode = ii.itemCode
		INNER JOIN 
			k1_tb_main_business AS mb
		on
			mc.mainBusinessCode = mb.mainBusinessCode
		ORDER BY 
			mc.manufacturingCostCode
	</select>
</mapper>