<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.MaterialOrderMapper">

	
<select id="getMaterialOrderInfoList" parameterType="String" resultType="MaterialOrder">
	SELECT 
		mord.materialOrderOngoingCode
		,mo.mainBusinessCode
		,mo.contractCode
		,mo.clientCode
		,mo.totalCount
		,mo.totalPrice
		,mo.orderDate
		,mo.predictDate
		,mo.`status`
		,mo.briefs
		,mo.managerId
		,mo.regDate
		,mo.updateDate
		,RIGHT(mo.materialOrderCode,3) AS materialOrderCode
		,c.businessName
		,ii.itemName
		,u.userName
		,mord.itemCount
		,mord.itemPrice
		,mord.realReceiveDate
		,mord.reserveStatus
		,mord.`comment`
	FROM 
		k1_tb_material_order_detail AS mord
	INNER JOIN 
		k1_tb_material_order AS mo
	on
		mo.materialOrderCode = mord.materialOrderCode
	INNER JOIN 
		k1_tb_item_info AS ii
	on
		mo.mainBusinessCode =ii.mainBusinessCode
	INNER JOIN
		k1_tb_client AS c
		on
		c.mainBusinessCode = mo.mainBusinessCode
	INNER JOIN
		k1_tb_user AS u
		on
		u.mainBusinessCode = mo.mainBusinessCode 	
	WHERE 
		mo.materialOrderCode = CONCAT('materialOrderCode_', #{materialOrderCode})
</select>	
	
<select id="getMaterialOrderInfo" parameterType="String" resultType="MaterialOrder">
SELECT 
	RIGHT(mo.materialOrderCode,3) AS materialOrderCode
	,mo.mainBusinessCode
	,mo.contractCode
	,mo.clientCode
	,mo.orderDate
	,c.businessName
	,mo.managerId
	,ii.itemName
	,mo.predictDate
	,mo.totalCount
	,mo.totalPrice
	,mo.`status`
	,u.userName
	,mo.regDate
	,mo.updateDate
	,mo.briefs
FROM 
	k1_tb_material_order AS mo
	INNER JOIN 
	k1_tb_main_business AS mb
	on
	mo.mainBusinessCode = mb.mainBusinessCode
	INNER JOIN
	k1_tb_contract AS contr
	ON 
	mb.mainBusinessCode = contr.mainBusinessCode
	INNER JOIN
	k1_tb_client AS c
	on
	contr.mainBusinessCode =c.mainBusinessCode
	INNER JOIN 
	k1_tb_user AS u
	ON 
	mo.mainBusinessCode = u.mainBusinessCode
	INNER JOIN 
	k1_tb_item_info AS ii
	ON 
	u.mainBusinessCode = ii.mainBusinessCode
	WHERE 
		mo.materialOrderCode = CONCAT('materialOrderCode_', #{materialOrderCode})
	GROUP BY mo.materialOrderCode
</select>

<update id="modifyMaterialOrderInfo" parameterType="MaterialOrder">
	update k1_tb_material_order
	<trim prefix="SET" prefixOverrides=",">
		<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
			mainBusinessCode =#{mainBusinessCode}
		</if>
		<if test="contractCode != null and contractCode != ''.toString()">
			contractCode =#{contractCode}
		</if>
		<if test="clientCode != null and clientCode != ''.toString()">
			clientCode =#{clientCode}
		</if>
		<if test="totalCount != null and totalCount != ''.toString()">
			totalCount =#{totalCount}
		</if>
		<if test="totalPrice != null and totalPrice != ''.toString()">
			totalPrice =#{mainBusinessCode}
		</if>
		<if test="orderDate != null and orderDate != ''.toString()">
			orderDate =#{orderDate}
		</if>
		<if test="predictDate != null and predictDate != ''.toString()">
			predictDate =#{predictDate}
		</if>
		<if test="status != null and status != ''.toString()">
			status =#{status}
		</if>
		<if test="briefs != null and briefs != ''.toString()">
			briefs =#{briefs}
		</if>
		<if test="managerId != null and managerId != ''.toString()">
			managerId =#{managerId}
		</if>
		<if test="regDate != null and regDate != ''.toString()">
			regDate =#{regDate}
		</if>
		<if test="updateDate != null and updateDate != ''.toString()">
			updateDate =#{updateDate}
		</if>
	</trim>
	WHERE 
		materialOrderCode=#{materialOrderCode};
</update>



<select id="getMaterialOrderListBySearchKey" parameterType="String" resultType="MaterialOrder">
		SELECT
			mo.materialOrderCode as materialOrderCode,
			mo.mainBusinessCode as mainBusinessCode,
			mo.contractCode as contractCode,
			mo.clientCode as clientCode,
			mo.totalCount as totalCount,
			mo.totalPrice as totalPrice,
			mo.orderDate as orderDate,
			mo.predictDate as predictDate,
			mo.status as status,
			mo.briefs as briefs,
			mo.managerId as managerId,
			mo.regDate as regDate,
			mo.updateDate as updateDate
		FROM 
			k1_tb_material_order AS mo;
		
	</select>	
		
<select id="getMaterialOrderList" parameterType="String" resultType="MaterialOrder">
			SELECT 
		mo.materialOrderCode as materialOrderCode,
		mo.mainBusinessCode as mainBusinessCode,
		mo.contractCode as contractCode,
		mo.clientCode as clientCode,
		mo.totalCount as totalCount,
		mo.totalPrice as totalPrice,
		mo.orderDate as orderDate,
		mo.predictDate as predictDate,
		mo.status as status,
		mo.briefs as briefs,
		mo.managerId as managerId,
		mo.regDate as regDate,
		mo.updateDate as updateDate,
		c.businessName as businessName,
		ii.itemName AS itemName,
		c.businessName AS businessName
	FROM	
		k1_tb_material_order AS mo
				INNER join
		k1_tb_client AS c
		on
		mo.mainBusinessCode = c.mainBusinessCode
		INNER JOIN 
		k1_tb_item_info AS ii
		on
		ii.mainBusinessCode = c.mainBusinessCode
		GROUP BY mo.materialOrderCode
		
</select>	
	
</mapper>	