<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.ProductOrderMapper">
	<delete id="k1ProductOrderRemove" parameterType="String">
		DELETE
		FROM
			k1_tb_product_order
		WHERE
				
	</delete>
	
<select id="getProductOrderInfoList" parameterType="String" resultType="ProductOrder">
	SELECT 
pod.productOrderOngoingCode
,RIGHT(pod.productOrderCode,3) AS productOrderCode
,ii.itemName
,pod.productCount
,pod.productPrice
,pod.productShipmentDate
,pod.`COMMENT`
FROM
	k1_tb_product_order_detail AS pod
	INNER JOIN 
	k1_tb_product_order AS po 
	on
	pod.productOrderCode=po.productOrderCode
	INNER JOIN 
	k1_tb_item_info AS ii
	on
	po.mainBusinessCode=ii.mainBusinessCode
WHERE 
	pod.productOrderCode = CONCAT('product_orderCode_', #{productOrderCode})
	GROUP BY pod.productOrderCode	
</select>	
	
<select id="getProductOrderInfo" parameterType="String" resultType="ProductOrder">
SELECT 
		RIGHT(po.productOrderCode,3) as productOrderCode,
		po.mainBusinessCode as mainBusinessCode,
		po.contractCode as contractCode,
		po.clientCode as clientCode,
		po.productPriceCode as productPriceCode,
		po.totalProductCount as totalProductCount,
		po.totalProductPrice as totalProductPrice,
		po.productOrderDate as productOrderDate,
		po.productDate as productDate,
		po.predictProductDate as predictProductDate,
		po.status as status,
		po.briefs as briefs,
		po.managerId as managerId,
		po.regDate as regDate,
		po.updateDate as updateDate,
		ii.itemName as itemName,
		c.businessName as businessName
	FROM 
		k1_tb_product_order AS po
		INNER JOIN 
		k1_tb_client AS c
		on
		po.mainBusinessCode =c.mainBusinessCode
		INNER JOIN 
		k1_tb_user AS u
		ON 
		c.userId = u.userId
		INNER JOIN 
		k1_tb_contract AS contr
		on
		contr.mainBusinessCode = u.mainBusinessCode
		INNER JOIN 
		k1_tb_main_business AS mb
		on
		mb.mainBusinessCode = contr.mainBusinessCode
		INNER JOIN 
		k1_tb_product_price AS pp
		on
		pp.mainBusinessCode = mb.mainBusinessCode
		INNER JOIN 
		k1_tb_item_info AS ii
		on
		ii.itemCode = pp.itemCode
	WHERE
		po.productOrderCode = CONCAT('productOrderCode_', #{productOrderCode})	
		GROUP BY po.productOrderCode	
</select>	
	
<select id="getAllProductOrderList" parameterType="String" resultType="ProductOrder">
	SELECT 
		po.productOrderCode as productOrderCode,
		po.mainBusinessCode as mainBusinessCode,
		po.contractCode as contractCode,
		po.clientCode as clientCode,
		po.productPriceCode as productPriceCode,
		po.totalProductCount as totalProductCount,
		po.totalProductPrice as totalProductPrice,
		po.productOrderDate as productOrderDate,
		po.productDate as productDate,
		po.predictProductDate as predictProductDate,
		po.status as status,
		po.briefs as briefs,
		po.managerId as managerId,
		po.regDate as regDate,
		po.updateDate as updateDate,
		ii.itemName as itemName,
		c.businessName as businessName
	FROM 
		k1_tb_product_order AS po
		INNER JOIN 
		k1_tb_client AS c
		on
		po.mainBusinessCode =c.mainBusinessCode
		INNER JOIN 
		k1_tb_user AS u
		ON 
		c.userId = u.userId
		INNER JOIN 
		k1_tb_contract AS contr
		on
		contr.mainBusinessCode = u.mainBusinessCode
		INNER JOIN 
		k1_tb_main_business AS mb
		on
		mb.mainBusinessCode = contr.mainBusinessCode
		INNER JOIN 
		k1_tb_product_price AS pp
		on
		pp.mainBusinessCode = mb.mainBusinessCode
		INNER JOIN 
		k1_tb_item_info AS ii
		on
		ii.itemCode = pp.itemCode
		GROUP BY po.productOrderCode;	
</select>	
	
</mapper>	