<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.ProductOrderMapper">
	<delete id="k1ProductOrderRemove" parameterType="String">
		DELETE
		FROM
			k1_tb_product_order
		
				
	</delete>
	
 <select id="getProductOrderByProductOrderCode" parameterType="String" resultType="int">
		SELECT 
			COUNT(1)
		FROM	
			k1_view_product_order
		WHERE  
			productOrderCode = #{productOrderCode};
	</select>	
	
	
<select id="getProductOrderCode" resultType="String">	
	SELECT
	   LPAD(CAST(MAX(RIGHT(productOrderCode,3))+1 AS CHAR), 3, '0') AS newCodeNum
	FROM 
	   k1_tb_product_order;		
</select>	
	
<select id="getProductOrderInfoList" parameterType="String" resultType="ProductOrder">
SELECT 
	pod.productOrderOngoingCode
	,pod.itemName
	,pod.productCount
	,pod.productPrice
	,pod.productShipmentDate
	,pod.`COMMENT`
FROM
	k1_view_product_order_detail AS pod
WHERE 
	pod.productOrderCode = CONCAT('product_orderCode_', #{productOrderCode})
</select>	
	
 <select id="getProductOrderInfo" parameterType="String" resultType="ProductOrder">
SELECT 
	po.productOrderCode,
	right(pod.productOrderOngoingCode,3) AS productOrderOngoingCode,
	pod.productShipmentDate,
	po.mainBusinessCode,
	mb.businessName,
	po.contractCode,
	po.clientCode,
	c.businessName AS clientBusinessName,
	po.`status`,
	po.itemName,
	po.managerName,
	po.totalCount,
	po.totalPrice,
	po.briefs as briefs,
	po.productOrderDate as productOrderDate,
	po.productDate as productDate,
	po.predictProductDate as predictProductDate,
	po.managerId as managerId,
	po.managerName,
	po.regDate as regDate,
	po.updateDate as updateDate
FROM 
	k1_view_product_order AS po
INNER JOIN 
	k1_tb_main_business AS mb
on
	mb.mainBusinessCode = po.mainBusinessCode
INNER JOIN
	k1_tb_client AS c
on
	c.clientCode = po.clientCode
INNER JOIN 
	k1_tb_product_order_detail AS pod
on
	pod.productOrderCode = po.productOrderCode
WHERE
	po.productOrderCode = #{productOrderCode}
ORDER BY
	pod.productOrderOngoingCode

</select>	 
	
<select id="getProductOrderList" parameterType="String" resultType="ProductOrder">
	SELECT 
		RIGHT(po.productOrderCode,3) as productOrderCode,
		po.mainBusinessCode,
		po.contractCode,
		po.clientCode,
		po.clientBusinessName,
		po.`status`,
		po.itemName,
		po.managerId,
		po.managerName,
		po.totalCount,
		po.totalPrice,
		po.briefs,
		po.productOrderDate,
		po.productDate,
		po.predictProductDate,
		po.managerId,
		po.managerName,
		po.regDate,
		po.updateDate
	FROM 
		k1_view_product_order AS po	
</select>	
<select id="getAllProductOrderList" parameterType="String" resultType="ProductOrder">
	SELECT 
		RIGHT(po.productOrderCode,3) as productOrderCode,
		po.mainBusinessCode,
		mb.businessName,
		po.contractCode,
		po.clientCode,
		po.clientBusinessName,
		po.`status`,
		po.itemName,
		po.totalCount,
		po.totalPrice,
		po.briefs,
		po.productOrderDate,
		po.productDate,
		po.predictProductDate,
		po.managerId,
		po.managerName,
		po.regDate,
		po.updateDate
	FROM 
		k1_view_product_order AS po
	INNER JOIN
		k1_tb_main_business as mb
	ON	
		mb.mainBusinessCode = po.mainBusinessCode
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
			po.mainBusinessCode = #{mainBusinessCode}
		</if>
	</trim>
	
</select>	
	
</mapper>	