<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.PurchaseTransactionMapper">
	<resultMap type="PurchaseTransaction" id="purchaseTransactionResultMap">
		<result column="purchaseTsCode" 					property="purchaseTsCode"/>
		<result column="mainBusinessCode" 				property="mainBusinessCode"/>
		<result column="clientCode" 					property="clientCode"/>
		<result column="contractCode" 					property="contractCode"/>
		<result column="briefs" 						property="briefs"/>
		<result column="dealDate" 					property="dealDate"/>
		<result column="regId" 						property="regId"/>
		<result column="regDate" 						property="regDate"/>
		<result column="updateDate" 						property="updateDate"/>
	</resultMap>

<select id="getPurchaseTransactionCode" resultType="String">
		SELECT 
			CONCAT(SUBSTRING(p.purchaseTsCode,1,21),MAX(SUBSTRING(p.purchaseTsCode,21))+1)
		FROM 
			k1_tb_purchase_transaction AS p
	
	</select>


	<select id="getPurchaseTransactionInfo" parameterType="String" resultType="PurchaseTransaction">
SELECT 
	pt.purchaseTsCode
	,pt.mainBusinessCode
	,mb.businessName as mbBusinessName
	,pt.clientCode
	,c.businessName as cBusinessName
	,pt.contractCode
	,pt.briefs
	,pt.dealDate
	,pt.regId
	,pt.regDate
	,pt.updateDate
FROM
	k1_tb_purchase_transaction AS pt
INNER JOIN	
	k1_tb_main_business as mb
on
	pt.mainBusinessCode = mb.mainBusinessCode	
INNER JOIN
	k1_tb_client as c
on
	pt.mainBusinessCode = c.mainBusinessCode		
GROUP BY
	purchaseTsCode;	
	</select>

	<select id="getPurchaseTransactionList" parameterType="String" resultType="PurchaseTransaction">
	SELECT 
			pt.purchaseTsCode as purchaseTsCode,
			pt.mainBusinessCode as mainBusinessCode,
			pt.clientCode as clientCode,
			pt.clientBusinessName,
			pt.contractCode as contractCode,
			pt.briefs as briefs,
			pt.dealDate as dealDate,
			pt.regId as regId,
			pt.regDate as regDate,
			pt.updateDate as updateDate
		FROM 
			k1_view_purchase_transaction AS pt;
	</select>
	
	<select id="getPurchaseTransactionHistoryList" parameterType="map" resultType="map">
		SELECT 
			pt.purchaseTsCode,
			pt.mainBusinessCode,
			m.businessName,
			pt.clientCode,
			pt.clientBusinessName,
			pt.contractCode,
			pt.briefs,
			pt.dealDate,
			pt.regId,
			pt.regName,
			pt.regDate,
			pt.updateDate
		FROM 
			k1_view_purchase_transaction AS pt
			join
			k1_tb_main_business AS m
			on
			pt.mainBusinessCode = m.mainBusinessCode
	<if test="strartNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>	
	</select>
	

</mapper>