<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.PurchaseTransactionMapper">
	<resultMap type="PurchaseTransaction" id="purchaseTransactionResultMap">
		<result column="purchaseTsCode" 					property="purchaseTsCode"/>
		<result column="mainBusinessCode" 				property="mainBusinessCode"/>
		<result column="clientCode" 					property="clientCode"/>
		<result column="contractCode" 					property="contractCode"/>
		<result column="briefs" 						property="briefs"/>
		<result column="dealDate" 					property="dealDate"/>
		<result column="regId" 						property="regId"/>
		<result column="regDate" 						property="regDate"/>
		<result column="updateDate" 						property="updateDate"/>
	</resultMap>

	<select id="getPurchaseTransactionList" parameterType="String" resultType="PurchaseTransaction">
	SELECT 
			pt.purchaseTsCode as purchaseTsCode,
			pt.mainBusinessCode as mainBusinessCode,
			pt.clientCode as clientCode,
			pt.contractCode as contractCode,
			pt.briefs as briefs,
			pt.dealDate as dealDate,
			pt.regId as regId,
			pt.regDate as regDate,
			pt.updateDate as updateDate
		FROM 
			k1_tb_purchase_transaction AS pt;
	</select>
	
	<select id="getPurchaseTransactionHistoryList" parameterType="map" resultType="map">
		SELECT 
			pt.purchaseTsCode,
			pt.mainBusinessCode,
			pt.clientCode,
			pt.contractCode,
			pt.briefs,
			pt.dealDate,
			u.userName,
			pt.regDate,
			pt.updateDate
		FROM 
			k1_tb_purchase_transaction AS pt
		INNER JOIN
			k1_tb_user as u
		on
			u.mainBusinessCode = pt.mainBusinessCode	
	<if test="strartNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>	
	</select>
	

</mapper>