<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k1.smart.team.mapper.psb.SalesTransactionMapper">
	<resultMap type="SalesTransaction" id="salesTransactionResultMap">
		<result column="salesTsCode" 					property="salesTsCode"/>
		<result column="mainBusinessCode" 				property="mainBusinessCode"/>
		<result column="clientCode" 					property="clientCode"/>
		<result column="lsAccountCode" 				property="lsAccountCode"/>
		<result column="contractCode" 				property="contractCode"/>
		<result column="vatType" 					property="vatType"/>
		<result column="amount" 						property="amount"/>
		<result column="VAT" 						property="VAT"/>
		<result column="totalPrice" 						property="totalPrice"/>
		<result column="dealDate" 							property="dealDate"/>
		<result column="briefs" 					property="briefs"/>
	<result column="regId" 						property="regId"/>
	<result column="regDate" 					property="regDate"/>
		<result column="updateDate" 						property="updateDate"/>
	</resultMap>
	
	<insert id="addSalesTransaction" parameterType="SalesTransaction">
		INSERT INTO k1_tb_contract
		(
			salesTsCode,
			mainBusinessCode,
			clientCode,
			lsAccountCode,
			contractCode,
			vatType,
			amount,
			VAT,
			totalPrice,
			dealDate,
			briefs
		)VALUES(					
			#{salesTsCode},
			#{mainBusinessCode},
			#{clientCode},
			#{lsAccountCode},
			#{contractCode},
			#{amount},
			#{VAT},
			#{totalPrice},
			#{dealDate},
			#{briefs}
		);
	</insert>
	
	<select id="getSalesTransactionList" parameterType="String" resultType="SalesTransaction" >
	SELECT	
			st.salesTsCode as salesTsCode,
			st.mainBusinessCode as mainBusinessCode,
			st.clientCode as clientCode,
			st.lsAccountCode as lsAccountCode,
			st.contractCode as contractCode,
			st.vatType as vatType,
			st.amount as amount,
			st.VAT as VAT,
			st.totalPrice as totalPrice,
			st.dealDate as dealDate,
			st.briefs as briefs,
			u.userName as userName,
			st.regDate as regDate,
			st.updateDate as updateDate
		FROM 
		k1_tb_sales_transaction AS st
		INNER JOIN
		k1_tb_user as u
		on
		st.mainBusinessCode = u.mainBusinessCode
		
	</select>
	
	<select id="getSalesTransactionHistoryList" parameterType="map" resultType="map">
		SELECT	
			st.salesTsCode,
			st.mainBusinessCode,
			st.clientCode,
			st.lsAccountCode,
			st.contractCode,
			st.vatType,
			st.amount,
			st.VAT,
			st.totalPrice,
			st.dealDate,
			st.briefs,
			u.userName,
			st.regDate,
			st.updateDate
		FROM 
			k1_tb_sales_transaction AS st
			INNER JOIN
		k1_tb_user as u
		on
		st.mainBusinessCode = u.mainBusinessCode
	</select>

</mapper>