<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row" th:unless="${ s == null }">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					재고정보
				</div>
				<div class="card-body">
					<table id="stockInfo" class="table table-bordered">
						<tbody>
							<tr>
								<th>재고번호</th>
								<td>[[${s.inventoryCode}]]</td>
								<th>상태</th>
								<td>[[${s.status}]]</td>
							</tr>
							<tr>
								<th>품목명</th>
								<td>
									<a th:href="@{|/k1Item/${s.inventoryCode}|}">[[${s.itemName}]]</a>
								</td>
								<th>분류</th>
								<td>[[${s.itemType}]]</td>
							</tr>
							<tr>
								<th>수량</th>
								<td>[[${s.itemCount}]]</td>
								<th>규격</th>
								<td>[[${s.itemStandard}]]</td>
							</tr>
							<tr>
								<th>단가 </th>
								<td>
									[[${s.productPrice}]] 원
									<a th:href="@{#}">
										<button type="button" class="btn btn-outline-info btn-xs">상세</button>
									</a>
								</td>
								<th>합계금액</th>
								<td>[[${s.totalPrice}]] 원</td>
							</tr>
							<tr>
								<th>중량</th>
								<td>[[${s.stockWeight}]] kg</td>
								<th>원산지</th>
								<td>[[${s.itemOrigin}]]</td>
							</tr>
							<tr>
								<th>창고명</th>
								<td>
									<a th:href="@{|/k1Warehouse/${s.warehouseCode}|}">
										[[${s.warehouseName}]]
									</a>
								</td>
								<th>창고위치</th>
								<td th:if="${s.outPlace == null}">[[${s.location}]]</td>
								<td th:if="${s.outPlace != null}">[[${s.location}]] ([[${s.outPlace}]])</td>
							</tr>
							<tr>
								<th>비고</th>
								<td colspan="3">[[${s.comment}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${s.stockRegDate}]]</td>
								<th>수정일시</th>
								<td>[[${s.stockUpdateDate}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<a th:href="@{/k1Stock}">
						<button type="button" class="btn btn-default">목록으로</button>
					</a>
					<a th:href="@{|/k1StockRemove(itemCode=${s.inventoryCode})|}">
						<button type="button" class="btn btn-danger float-right">삭제</button>
					</a>
					<a th:href="@{#}">
						<button type="button" class="btn btn-info float-right mr-2">수정</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					최근 물류이동 내역
				</div>
				<div class="card-body">
					<table id="storingList" class="table table-bordered">
						<thead>
							<tr>
								<th>No.</th>
								<th>사유</th>
								<th>적요</th>
								<th>합계금액</th>
								<th>완료일자</th>
								<th>담당자</th>
								<th>수정일시</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(storingList)}" th:each="l : ${storingList}">
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}/${l.stockAdjCode}|}">
										[[${l.stockAdjCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}|}">
										[[${l.stockReason}]]
									</a>
								</td>
								<td>[[${l.briefs}]]</td>
								<td>[[${l.totalPrice}]]</td>
								<td>[[${l.endDate}]]</td>
								<td>
									<!-- 회원정보 LINK -->
									[[${l.managerName}]]
								</td>
								<td>[[${l.updateDate}]]</td>
							</tr>
							<tr th:if="${#lists.isEmpty(storingList)}">
								<td colspan="7">물류이동내역이 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-sm btn-outline-info btn-block mt-2">더보기</button>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${ s == null }">
		<div class="card"> 잘못된 접근입니다.</div>
	</div>
</div>
</th:block>

</html>