<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//Modal
	var stockModifyModal = $('#stockModifyModal');
	//Modal SHOW
	$(document).on('click', '.modalBtn', function(){
		var request = $.ajax({
			url: "/stockModifyModal?inventoryCode="+$(this).attr('data-inventoryCode'),
			method: "GET",
			dataType: "html"
		});
		 
		request.done(function( data ) {
			stockModifyModal.find('.modal-body').html(data);
		});
		 
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
	
	//DataTables
    $('#stockList').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<!-- content -->
<div class="container-fluid">

	<div class="card card-info card-outline mb-5">
		<div class="card-header">
			재고 목록
		</div>
		<div class="card-body">
			<div class="card">
				<div class="card-body">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
							type="checkbox" id="rawMaterial">
						<label for="rawMaterial" class="custom-control-label">원자재</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
							type="checkbox" id="subsidiary">
						<label for="subsidiary" class="custom-control-label">부자재</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
							type="checkbox" id="product">
						<label for="product" class="custom-control-label">제품</label>
					</div>
				</div>
			</div>
			<table id="stockList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>품목명</th>
						<th>분류</th>
						<th>수량</th>
						<th>창고</th>
						<th>비고</th>
						<th>상태</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(stockList)}" th:each="l : ${stockList}">
						<td><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
								[[${l.inventoryCode}]]
							</a>
						</td>
						<td>
							<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
								[[${l.itemName}]]
							</a>
						</td>
						<td>[[${l.itemType}]]</td>
						<td>[[${#numbers.formatInteger(l.itemCount,0,'COMMA')}]]</td>
						<td>[[${l.warehouseName}]]</td>
						<td>[[${l.comment}]]</td>
						<td>[[${l.status}]]</td>
						<td>
							<button type="button" class="btn btn-info btn-sm modalBtn" data-toggle="modal" data-target="#stockModifyModal"
									th:data-inventoryCode="${l.inventoryCode}">
								<i class="fas fa-pen"></i>
							</button>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(stockList)}">
						<td colspan="9">
							재고 정보가 없습니다.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="modal fade" id="stockModifyModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title">물류이동</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- INSERT HTML -->
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
</div>

</th:block>

</html>