<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	
	var stockModifyModal = $('#stockModifyModal');
	$(document).on('click', '.modalBtn', function(){
		var request = $.ajax({
			url: "/stockModifyModal?inventoryCode="+$('#inventoryCode').text(),
			method: "GET",
			dataType: "html"
		});
		 
		request.done(function( data ) {
			stockModifyModal.find('.modal-body').html(data);
		});
		 
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});

});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">

	<div class="row" th:unless="${ s == null }">
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-body">
					<p class="lead">재고정보</p>
					<table id="stockInfo" class="table">
						<tbody>
							<tr>
								<th>재고번호</th>
								<td id="inventoryCode">[[${s.inventoryCode}]]</td>
							</tr>
							<tr>
								<th>품목명</th>
								<td>
									<a th:href="@{|/k1Item/${s.inventoryCode}|}">[[${s.itemName}]]</a>
								</td>
							</tr>
							<tr>
								<th>상태</th>
								<td>[[${s.status}]]</td>
							</tr>
							<tr>
								<th>분류</th>
								<td>[[${s.itemType}]]</td>
							</tr>
							<tr>
								<th>카테고리</th>
								<td>
									<th:block th:if="${s.largeCategory != null and s.largeCategory != ''.toString()}">
										[[${s.largeCategory}]]
										<th:block th:if="${s.middleCategory != null and s.middleCategory != ''.toString()}">
											/ [[${s.middleCategory}]]
											<th:block th:if="${s.smallCategory != null and s.smallCategory != ''.toString()}">
												/ [[${s.smallCategory}]]
												<th:block th:if="${s.microCategory != null and s.microCategory != ''.toString()}">
													/ [[${s.microCategory}]]
												</th:block>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>수량</th>
								<td>[[${#numbers.formatInteger(s.itemCount,0,'COMMA')}]]</td>
							</tr>
							<tr>
								<th>규격</th>
								<td>[[${s.itemStandard}]]</td>
							</tr>
							<tr>
								<th>단가 </th>
								<td>
									[[${#numbers.formatInteger(s.productPrice,0,'COMMA')}]] 원
									<a th:href="@{#}">
										<button type="button" class="btn btn-outline-info btn-xs">상세</button>
									</a>
								</td>
							</tr>
							<tr>
								<th>합계금액</th>
								<td>[[${#numbers.formatInteger(s.totalPrice,0,'COMMA')}]] 원</td>
							</tr>
							<tr>
								<th>중량</th>
								<td>[[${#numbers.formatInteger(s.stockWeight,0,'COMMA')}]] kg</td>
							</tr>
							<tr>
								<th>원산지</th>
								<td>[[${s.itemOrigin}]]</td>
							</tr>
							<tr>
								<th>창고명</th>
								<td>
									<a th:href="@{|/k1Warehouse/${s.warehouseCode}|}">
										[[${s.warehouseName}]]
									</a>
								</td>
							</tr>
							<tr>
								<th>창고위치</th>
								<td>
									[[${s.location}]] 
									<th:block th:if="${s.outPlace != null}">([[${s.outPlace}]])</th:block>
								</td>
							</tr>
							<tr>
								<th>비고</th>
								<td>[[${s.comment}]]</td>
							</tr>
							<tr>
								<th>등록일시</th>
								<td>[[${s.stockRegDate}]]</td>
							</tr>
							<tr>
								<th>수정일시</th>
								<td>[[${s.stockUpdateDate}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<a th:href="@{/k1Stock}">
						<button type="button" class="btn btn-default">목록으로</button>
					</a>
					<a th:href="@{|/k1StockRemove(itemCode=${s.inventoryCode})|}">
						<button type="button" class="btn btn-danger float-right">삭제</button>
					</a>
					<button type="button" class="btn btn-info float-right mr-2 modalBtn" 
							data-toggle="modal" data-target="#stockModifyModal">수정</button>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					최근 물류이동 내역
				</div>
				<div class="card-body">
					<table id="storingList" class="table table-bordered">
						<thead>
							<tr>
								<th>No.</th>
								<th>사유</th>
								<th>적요</th>
								<th>합계금액</th>
								<th>완료일자</th>
								<th>담당자</th>
								<th>수정일시</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(storingList)}" th:each="l : ${storingList}">
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}/${l.stockAdjCode}|}">
										[[${l.stockAdjCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1${l.stockReasonEng}|}">
										[[${l.stockReason}]]
									</a>
								</td>
								<td>[[${l.briefs}]]</td>
								<td>[[${#numbers.formatInteger(l.totalPrice,0,'COMMA')}]]</td>
								<td>[[${l.endDate}]]</td>
								<td>
									<!-- 회원정보 LINK -->
									[[${l.managerName}]]
								</td>
								<td>[[${l.updateDate}]]</td>
							</tr>
							<tr th:if="${#lists.isEmpty(storingList)}">
								<td colspan="7">물류이동내역이 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<a th:href="@{/k1Storing}">
						<button type="button" class="btn btn-sm btn-outline-info btn-block mt-2">더보기</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${ s == null }">
		<div class="card"> 잘못된 접근입니다.</div>
	</div>
	
	<div class="modal fade" id="stockModifyModal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title">물류이동</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- INSERT HTML -->
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
</div>
</th:block>

</html>