<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	/****************************
				객체정의
	****************************/
	//Toast
	var Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000
	});
	//품목분류 체크박스
	var inputType = $('#checkAjax .itemType input[type="checkbox"]');
	//창고목록 체크박스
	var inputWare = $('#checkAjax .warehouse input[type="checkbox"]');
	//테이블 넣을 공간
	var ajaxTable = $('#ajaxTable');
	//Modal
	var Modal = $('#Modal'); //모달창
	var modalTitle = $('.modal-title'); //모달제목
	var modalBody = $('.modal-body'); //모달본문
	var cleanStock = $('#cleanStock'); //수량중량 0인 재고 정리버튼
		
	
	/****************************
				플러그인
	****************************/
	//DataTables
    $('#stockList').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
		"columnDefs": [{    
			orderable: false,
			targets: [0, 9]
		}]
	});
	
	
	/****************************
				자동화
	****************************/
	//allCheck
	var chkbox = $('input[type="checkbox"]');
	$(document).on('click', '#allCheck', function(){
		if($(this).is(":checked")){
			chkbox.prop("checked", true);
		} else {
			chkbox.prop("checked", false);
		}
	});
	//재고정리 확인 모달
	$(document).on('click', '.cleanBtn', function(){
		modalTitle.text('재고 정리');
		modalBody.html('<p>수량 및 중량이 0인 재고정보가 모두 삭제됩니다.</p> <p>정말 삭제하시겠습니까?</p>');
		cleanStock.attr('style', null);
	});
	
	//수량·중량 0인 재고 일괄 삭제
	$(document).on('click', '#cleanStock', function(){
		location.href='/k1CleanStock';
	});
	

	/****************************
				Ajax
	****************************/
	//Modal SHOW
	$(document).on('click', '.modalBtn', function(){
		$.ajax({
			url: "/stockModifyModal?inventoryCode="+$(this).attr('data-inventoryCode'),
			method: "GET",
			dataType: "html"
		})
		.done(function( data ) {
			modalTitle.text('물류이동내역 등록');
			cleanStock.attr('style', 'display:none;');
			modalBody.html(data);
		})
		.fail(function( jqXHR, textStatus ) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	//체크박스 Ajax
	$(document).on('change', '#checkAjax', function(){
		var types = [];
		inputType.each(function(i, obj){
			if($(obj).is(':checked')){
				types.push($(obj).val());
			}
		});
		var wares = [];
		inputWare.each(function(i,obj){
			if($(obj).is(':checked')){
				wares.push($(obj).val());
			}
		});
		//console.log(types, wares);
		$.ajax({
			url: "/k1Stock",
			data: {'types':types, 'wares':wares},
			method: "POST",
			dataType: "html"
		})
		.done(function(data){
			ajaxTable.html(data);
			if ($('#stockList tr.empty').length == 0) {
				//body에 정보를 불러온 경우
			    $('#stockList').DataTable({
			        "paging": true,
			        "lengthChange": false,
			        "searching": true,
			        "ordering": true,
			        "info": true,
			        "autoWidth": false,
			        "responsive": true,
					"columnDefs": [{    
						orderable: false,
						targets: [0, 8]
					}]
				});
			}
		})
		.fail(function(jqXHR, textStatus) {
			Toast.fire({
				icon: 'warning',
				title: "Request failed: " + textStatus
			});
		});
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<!-- content -->
<div class="container-fluid">

	<div class="card card-info card-outline mb-5">
		<div class="card-header">
			재고 목록
		</div>
		<div class="card-body">
			<div class="card" id="checkAjax">
				<div class="card-body">
					<div class="itemType pl-3 pr-3">
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="rawMaterial" value="원자재">
							<label for="rawMaterial" class="custom-control-label">원자재</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="subsidiary" value="부자재">
							<label for="subsidiary" class="custom-control-label">부자재</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="product" value="제품">
							<label for="product" class="custom-control-label">제품</label>
						</div>
					</div>
					<hr style="border-top: 1px solid transparent;">
					<div class="warehouse pl-3 pr-3" th:unless="${#lists.isEmpty(wList)}">
						<div class="custom-control custom-checkbox float-left ml-3" th:each="w : ${wList}">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" name="warehouseCode" th:id="${w.warehouseCode}" th:value="${w.warehouseCode}">
							<label th:for="${w.warehouseCode}" class="custom-control-label">[[${w.warehouseName}]]</label>
						</div>
					</div>
				</div>
			</div>
			<div id="ajaxTable">
				<table id="stockList" class="table table-bordered table-hover dataTable dtr-inline">
					<thead>
						<tr>
							<th style="display: none;"></th>
							<th>No.</th>
							<th>품목명</th>
							<th>분류</th>
							<th>창고</th>
							<th>수량</th>
							<th>중량</th>
							<th>비고</th>
							<th>상태</th>
							<th class="text-center">수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(stockList)}" th:each="l : ${stockList}">
							<td style="display: none;"></td>
							<td>
								<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
									[[${l.inventoryCode}]]
								</a>
							</td>
							<td>
								<a th:href="@{|/k1Stock/${l.inventoryCode}|}">
									[[${l.itemName}]]
								</a>
							</td>
							<td>[[${l.itemType}]]</td>
							<td>[[${l.warehouseName}]]</td>
							<td>[[${#numbers.formatInteger(l.totalCount,0,'COMMA')}]]</td>
							<td>[[${#numbers.formatInteger(l.totalWeight,0,'COMMA')}]] kg</td>
							<td>[[${l.comment}]]</td>
							<td>[[${l.status}]]</td>
							<td class="text-center">
								<button type="button" class="btn btn-info btn-sm modalBtn" data-toggle="modal" data-target="#Modal"
										th:data-inventoryCode="${l.inventoryCode}">
									<i class="fas fa-pen"></i>
								</button>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(stockList)}">
							<td colspan="9">
								재고 정보가 없습니다.
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-danger cleanBtn" data-toggle="modal" data-target="#Modal">정리</button>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="Modal" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- INSERT HTML -->
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" id="cleanStock" class="btn btn-danger">삭제</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
</div>

</th:block>

</html>