<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionTitle}]]</title>
</th:block>

<th:block layout:fragment="customCss">
	<style type="text/css">
		.text-danger a {
			color: rgb(220, 53, 69) !important;
		}
	</style>
</th:block>

<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	/****************************
				플러그인
	****************************/
	//DataTables
	if ($('#warehouseList tr.empty').length == 0) {
		$('#warehouseList').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"columnDefs": [{    
							orderable: false,
							targets: [0, 6, 10]
						}]
		});
	};
	
	/****************************
				객체정의
	****************************/
	//분류 체크박스
	var chkCategory1 = $('.category1 input[type="checkbox"]');
	//유형 체크박스
	var chkCategory2 = $('.category2 input[type="checkbox"]');
	//사용불가 포함여부
	var includeN = $('#includeN');
	//form
	var warehouseForm = $('#warehouseForm');
	//상태변경 정보 담을 input
	var isUse = $('#isUse'); 
	//테이블 넣을 공간
	var ajaxTable = $('#ajaxTable');
	
	
	/****************************
				 자동화
	****************************/
	//allCheck
	$(document).on('click', '#allCheck', function(){
		if($(this).is(":checked")){
			$('#warehouseList input[type="checkbox"]').prop("checked", true);
		} else {
			$('#warehouseList input[type="checkbox"]').prop("checked", false);
		}
	});
	//사용불가 창고 텍스트 색상 변경
	var wStatusChk = function(){
		$('.wStatusChk').each(function(i, obj){
			if($(obj).text() == 'N') {
				$(obj).parent().addClass('text-danger');
			}
		});
	};
	wStatusChk();
	
	
	/****************************
				 자동화
	****************************/
	$(document).on('change', '#checkAjax', function(){
		//체크한 분류 배열
		var category1 = [];
		chkCategory1.each(function(i, obj){
			if($(obj).is(':checked')){
				category1.push($(obj).val());
			}
		});
		var category2 = [];
		//체크한 유형 배열
		chkCategory2.each(function(i, obj){
			if($(obj).is(':checked')){
				category2.push($(obj).val());
			}
		});
		//사용불가 포함여부
		var includeNValue = null;
		if($('#includeN').is(':checked')) {
			includeNValue = includeN.val();
		}else {
			includeNValue = null;
		}
		//Ajax
		$.ajax({
			url: "/k1Warehouse",
			data: { 'category1' : category1, 
					'category2' : category2, 
					'includeN' : includeNValue 
				  },
			method: "POST",
			dataType: "html"
		})
		.done(function(data){
			//표 그리기
			ajaxTable.html(data);
			if ($('#warehouseList tr.empty').length == 0) {
				//body에 정보를 불러온 경우
				$('#warehouseList').DataTable({
					"paging": true,
					"lengthChange": false,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": false,
					"responsive": true,
					"columnDefs": [{    
			            orderable: false,
			            targets: [0, 6, 10]
			             }]
				});
				wStatusChk();
			}
		})
		.fail(function(jqXHR, textStatus) {
			Toast.fire({
				icon: 'error',
				title: "Request failed: " + textStatus
			});
		});
	});
	
	
	/****************************
				FORM제출
	****************************/
	//창고정보 삭제
	$(document).on('click', '#deleteBtn', function(){
		warehouseForm.attr('action','/k1WarehouseRemove').submit();
	});
	//체크된 창고 상태변경
	$(document).on('click', '#modifyUse a', function(){
		isUse.val($(this).attr('data-isUse'));
		warehouseForm.attr('action', '/k1WarehouseStatus').submit();
	});
	
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			창고전체목록
		</div>
		<div class="card-body">
			<!-- CheckBox -->
			<div class="card" id="checkAjax">
				<div class="card-body">
					<div class="category1">
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="normal" value="일반">
							<label for="normal" class="custom-control-label">일반</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="cold" value="냉장">
							<label for="cold" class="custom-control-label">냉장</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="freeze" value="냉동">
							<label for="freeze" class="custom-control-label">냉동</label>
						</div>
					</div>
					<div class="category2">
						<div class="custom-control custom-checkbox float-left ml-5">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="in" value="재고">
							<label for="in" class="custom-control-label">재고</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="out" value="출고">
							<label for="out" class="custom-control-label">출고</label>
						</div>
					</div>
					<div class="icheck-info d-inline ml-5">
						<input type="checkbox" id="includeN" value="INCLUDE">
						<label for="includeN">
						 	사용불가 포함
						</label>
					</div>
				</div>
			</div>
			<!-- 삭제용 form -->
			<form id="warehouseForm" method="POST">
			<input type="hidden" id="isUse" name="isUse">
				<!-- Ajax로 교체할 부분 -->
				<div id="ajaxTable">
					<!-- Begin Table -->
					<table id="warehouseList" class="table table-bordered table-hover dataTable dtr-inline">
						<thead>
							<tr>
								<th class="text-center">
									<input type="checkbox" id="allCheck">
								</th>
								<th>No.</th>
								<th>창고명</th>
								<th>분류</th>
								<th>유형</th>
								<th>면적(m²)</th>
								<th>적재현황</th>
								<th>%</th>
								<th>위치(외부소재지)</th>
								<th style="display: none;">상태</th>
								<th class="text-center">수정</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(warehouseList)}" th:each="l : ${warehouseList}">
								<td class="text-center">
									<input type="checkbox" name="warehouseCode" th:value="${l.warehouseCode}">
								</td>
								<td>
									<a th:href="@{|/k1Warehouse/${l.warehouseCode}|}">
										[[${l.warehouseCode}]]
									</a>
								</td>
								<td>
									<a th:href="@{|/k1Warehouse/${l.warehouseCode}|}">
										[[${l.warehouseName}]]
									</a>
								</td>
								<td>[[${l.category1}]]</td>
								<td>[[${l.category2}]]</td>
								<td>[[${#numbers.formatInteger(l.area,0,'COMMA')}]]</td>
								<td>
									<div class="progress progress-xs mt-2">
										<div class="progress-bar bg-info" th:style="'width: '+${l.weightPer}+'%;'"></div>
			                        </div>
								</td>
								<td>
									<span class="badge bg-info">[[${l.weightPer}]]%</span>
								</td>
								<td>
									[[${l.location}]]<th:block th:unless="${l.outPlace} == null"> ([[${l.outPlace}]])</th:block>
								</td>
								<td style="display: none;" class="wStatusChk">[[${l.status}]]</td>
								<td class="text-center">
									<a th:href="@{|/k1WarehouseModify/${l.warehouseCode}|}">
										<button type="button" class="btn btn-info btn-sm">
											<i class="fas fa-pen"></i>
										</button>
									</a>
								</td>
							</tr>
							<tr th:if="${#lists.isEmpty(warehouseList)}" class="empty">
								<td colspan="10">창고 정보가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			<!-- Buttons -->
			<div class="btn-group mt-3">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">상태 변경</button>
				<div class="dropdown-menu" id="modifyUse" role="menu">
					<a class="dropdown-item" href="#" data-isUse="Y">사용가</a>
					<a class="dropdown-item" href="#" data-isUse="N">사용불가</a>
				</div>
			</div>
			<button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#modalObj">
				삭제
			</button>
			<a th:href="@{/k1WarehouseAdd}">
				<button type="button" class="btn btn-info float-right mt-3">등록</button>
			</a>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modalObj" style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-danger">
				<div class="modal-header text-center">
					<h5 class="modal-title">삭제 경고</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>창고정보를 삭제할 시 적재된 재고정보가 모두 삭제됩니다.</p>
					<p>정말 삭제하시겠습니까?</p>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-outline-light" data-dismiss="modal">닫기</button>
					<button type="button" id="deleteBtn" class="btn btn-outline-light " data-dismiss="modal">삭제</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>

</th:block>

</html>