<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//Toast
	var Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000
	});
	//Form
	var modifyWarehouse = $('#modifyWarehouse');
	//input객체
	var inputs = $('input');
	//등록 버튼 클릭
	$(document).on('click', '.submitBtn', function(){
		//체크용 변수
		var chkText = 0;
		var chkRadio1 = 0;
		var chkRadio2 = 0;
		//input 객체 반복
		inputs.each(function(i, obj){
			if($(obj).attr('name') == 'outPlace') {
				return true;
			}
			if( $(obj).attr('name') == 'category1' && $(obj).is(':checked')) {
				chkRadio1 += 1;
			}
			if( $(obj).attr('name') == 'category2' && $(obj).is(':checked')) {
				chkRadio2 += 1;
			}
			if( $(obj).val() == null || $(obj).val() == 0 || $(obj).val() == '' ) {
				chkText += 1;
			}
		});
		if(chkText == 0 && chkRadio1 > 0 && chkRadio2 > 0) {
			//유효
			modifyWarehouse.submit();
		} else {
			Toast.fire({
				icon: 'error',
				title: '필수 작성 요소를 기입해주세요.'
			});
		}
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-2">
		</div>
		<div class="col-lg-6 col-md-8">
			<div class="card card-info card-outline">
				<div class="card-header">
					창고정보 수정
				</div>
				<div class="card-body" th:if="${w} != null">
					<form id="modifyWarehouse"th:action="@{/k1WarehouseModify}" method="POST">
						<input type="hidden" name="warehouseCode" th:value="${w.warehouseCode}">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="warehouseName">창고명</label>
									<input type="text" name="warehouseName" th:value="${w.warehouseName}" class="form-control">
								</div>
								<div class="row">
									<div class="form-group col-sm-6">
										<label for="location">위치</label>
											<input type="text" name="location" th:value="${w.location}" class="form-control">
									</div>
									<div class="form-group col-sm-6">
										<label for="outplace">소재지</label>
										<input type="text" name="outPlace" th:value="${w.outPlace}" class="form-control" placeholder="외부 창고일 경우">
									</div>
									<div class="form-group col-sm-6">
										<label for="area">면적(m²)</label>
										<input type="number" name="area" th:value="${w.area}" class="form-control">
									</div>
									<div class="form-group col-sm-6">
										<label for="maxWeight">최대적재중량(kg)</label>
										<input type="number" name="maxWeight" th:value="${w.maxWeight}" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-12">
										<label>유형</label>
										<div class="form-group">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<label class="btn btn-outline-info">
													<input type="radio" name="category2" value="재고" th:checked="'재고' == ${w.category2}" autocomplete="off"> 재고
												</label>
												<label class="btn btn-outline-info">
													<input type="radio" name="category2" value="출고" th:checked="'출고' == ${w.category2}" autocomplete="off"> 출고
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<label>분류</label>
										<div class="form-group">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<label class="btn btn-outline-info">
													<input type="radio" name="category1" value="일반" th:checked="'일반' == ${w.category1}" autocomplete="off"> 일반
												</label>
												<label class="btn btn-outline-info">
													<input type="radio" name="category1" value="냉장" th:checked="'냉장' == ${w.category1}" autocomplete="off"> 냉장
												</label>
												<label class="btn btn-outline-info">
													<input type="radio" name="category1" value="냉동" th:checked="'냉동' == ${w.category1}" autocomplete="off"> 냉동
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<label>상태</label>
										<div class="form-group">
											<div class="btn-group btn-group-toggle" data-toggle="buttons">
												<label class="btn btn-outline-info">
													<input type="radio" name="itemStatus" th:checked="${w.status} == 'Y'" value="Y" autocomplete="off"> 사용가
												</label>
												<label class="btn btn-outline-info">
													<input type="radio" name="itemStatus" th:checked="${w.status} == 'N'" value="N" autocomplete="off"> 사용불가
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body" th:if="${w} == null">
					잘못된 접근입니다.
				</div>
				<div class="card-footer">
					<th:block th:if="${w} != null">
						<button type="button" class="btn btn-info float-right submitBtn">수정하기</button>
						<a th:href="@{|/k1Warehouse/${w.warehouseCode}|}">
							<button type="button" class="btn btn-default">이전으로</button>
						</a>
					</th:block>
					<th:block th:if="${w} == null">
						<a th:href="@{/k1Warehouse}">
							<button type="button" class="btn btn-default">이전으로</button>
						</a>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>