<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="row" th:unless="${ warehouseInfo == null }">
		<div class="col-lg-7">
			<div class="card card-info card-outline">
				<div class="card-header">
					창고[[${warehouseInfo.warehouseCode}]]
				</div>
				<div class="card-body">
					<table id="warehouseInfo" class="table table-bordered">
						<tr>
							<th>창고번호</th>
							<td>[[${warehouseInfo.warehouseCode}]]</td>
							<th>상태</th>
							<td>[[${warehouseInfo.status}]]</td>
						</tr>
						<tr>
							<th>창고명</th>
							<td>[[${warehouseInfo.warehouseName}]]</td>
							<th>면적</th>
							<td>[[${warehouseInfo.area}]] m²</td>
						</tr>
						<tr>
							<th>분류</th>
							<td>[[${warehouseInfo.category1}]]</td>
							<th>유형</th>
							<td>[[${warehouseInfo.category2}]]</td>
						</tr>
						<tr>
							<th>위치</th>
							<td>[[${warehouseInfo.loaction}]]</td>
							<th>소재지</th>
							<td>[[${warehouseInfo.outPlace}]]</td>
						</tr>
						<tr>
							<th>현재중량</th>
							<td th:unless="${warehouseInfo.weightPer} == -1">
								[[${warehouseInfo.currentWeight}]] kg <span class="badge bg-info">[[${warehouseInfo.weightPer}]]%</span>
							</td>
							<td th:if="${warehouseInfo.weightPer} == -1">
								[[${warehouseInfo.currentWeight}]] kg
							</td>
							<th>최대중량</th>
							<td>[[${warehouseInfo.maxWeight}]] kg</td>
						</tr>
						<tr>
							<th>적재 현황</th>
							<td colspan="3">
								<div class="progress progress-xs" th:unless="${warehouseInfo.weightPer} == -1">
									<div class="progress-bar bg-info" th:style="'width: '+${warehouseInfo.weightPer}+'%;'"></div>
		                        </div>
		                        <span th:if="${warehouseInfo.weightPer} == -1">
		                        	최대적재중량을 입력해주세요.
		                        </span>
							</td>
						</tr>
						<tr>
							<th>등록일시</th>
							<td>[[${warehouseInfo.regDate}]]</td>
							<th>수정일시</th>
							<td>[[${warehouseInfo.updateDate}]]</td>
						</tr>
					</table>
					<button type="button" class="btn btn-info">수정</button>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card card-info card-outline">
				<div class="card-header">
					적재품 목록
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>재고번호</th>
								<th>품목명</th>
								<th>분류</th>
								<th>수량</th>
								<th>상태</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-info">더보기</button>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${ warehouseInfo == null }">
		<div class="card"> 잘못된 접근입니다.</div>
	</div>
</div>

</th:block>

</html>