<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionLocation}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">


<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7">
			<div class="card">
				<div class="card-header">
					재고[[${wInfo.warehouseCode}]]
				</div>
				<div class="card-body">
					<table class="table table-bordered">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</th:block>

</html>