<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${SectionTitle}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">
$(function(){
	//DataTables
	$('#warehouseList').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
	});
	
	//allCheck
	var chkbox = $('input[type="checkbox"]');
	$(document).on('click', '#allCheck', function(){
		if($(this).is(":checked")){
			chkbox.prop("checked", true);
		} else {
			chkbox.prop("checked", false);
		}
	});
});
</script>
</th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>

<th:block layout:fragment="customContents">

<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			창고전체목록
		</div>
		<div class="card-body">
			<!-- CheckBox -->
			<div class="card">
				<div class="card-body">
					<div class="category1 pl-5">
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="normal" value="일반">
							<label for="normal" class="custom-control-label">일반</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="cold" value="냉장">
							<label for="cold" class="custom-control-label">냉장</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="freeze" value="냉동">
							<label for="freeze" class="custom-control-label">냉동</label>
						</div>
					</div>
					<div class="category2 pl-5">
						<div class="custom-control custom-checkbox float-left ml-5">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="in" value="재고">
							<label for="in" class="custom-control-label">재고</label>
						</div>
						<div class="custom-control custom-checkbox float-left ml-3">
							<input class="custom-control-input custom-control-input-info custom-control-input-outline" 
								type="checkbox" id="out" value="출고">
							<label for="out" class="custom-control-label">출고</label>
						</div>
					</div>
				</div>
			</div>
			<!-- Begin Table -->
			<table id="warehouseList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th class="text-center">
							<input type="checkbox" id="allCheck">
						</th>
						<th>No.</th>
						<th>창고명</th>
						<th>분류</th>
						<th>유형</th>
						<th>면적(m²)</th>
						<th>적재현황</th>
						<th>%</th>
						<th>위치(외부소재지)</th>
						<th>상태</th>
						<th class="text-center">수정</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(warehouseList)}" th:each="l : ${warehouseList}">
						<td class="text-center"><input type="checkbox"></td>
						<td>
							<a th:href="@{|/k1Warehouse/${l.warehouseCode}|}">
								[[${l.warehouseCode}]]
							</a>
						</td>
						<td>
							<a th:href="@{|/k1Warehouse/${l.warehouseCode}|}">
								[[${l.warehouseName}]]
							</a>
						</td>
						<td>[[${l.category1}]]</td>
						<td>[[${l.category2}]]</td>
						<td>[[${#numbers.formatInteger(l.area,0,'COMMA')}]]</td>
						<td>
							<div class="progress progress-xs mt-2">
								<div class="progress-bar bg-info" th:style="'width: '+${l.weightPer}+'%;'"></div>
	                        </div>
						</td>
						<td>
							<span class="badge bg-info">[[${l.weightPer}]]%</span>
						</td>
						<td th:if="${l.outPlace} == null">
							[[${l.location}]]
						</td>
						<td th:unless="${l.outPlace} == null">
							[[${l.location}]] ([[${l.outPlace}]])
						</td>
						<td>[[${l.status}]]</td>
						<td class="text-center">
							<a th:href="@{|/k1WarehouseModify/${l.warehouseCode}|}">
								<button type="button" class="btn btn-info btn-sm">
									<i class="fas fa-pen"></i>
								</button>
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(warehouseList)}">
						<td colspan="11">창고 정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<!-- Buttons -->
			<button type="button" class="btn btn-danger">삭제</button>
			<a th:href="@{/k1WarehouseAdd}">
				<button type="button" class="btn btn-info float-right">등록</button>
			</a>
		</div>
	</div>
</div>

</th:block>

</html>