<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${title}]]</th:block>
<th:block layout:fragment="SectionLocation"></th:block>

<th:block layout:fragment="customJs">
<script>

// 모달 버튼에 이벤트를 건다.
$(document).ready(function() {
			$("#productOrderAllCheck").click(function() {
				if($("#productOrderAllCheck").is(":checked")) $("input[name=productOrderCheck]").prop("checked", true);
				else $("input[name=productOrderCheck]").prop("checked", false);
			});
			$("input[name=productOrderCheck]").click(function() {
				var total = $("input[name=productOrderCheck]").length;
				var checked = $("input[name=productOrderCheck]:checked").length;

				if(total != checked) $("#productOrderAllCheck").prop("checked", false);
				else $("#productOrderAllCheck").prop("checked", true); 
			});
		});	


$('.delete').click(function(e){ // class 명이 delete 인 요소를 클릭하면
            var 글번호 = e.target.dataset.id; // e.target > 지금 클릭한 것
            var 지금누른거 = $(this); // this > 지금 이벤트 동작하는 곳
            // 지금 누른 값의 data-id 를 가져와주세요.
  $.ajax({
    method : 'DELETE',
    url : '/delete',
    data : '1번게시물'
  }).done(function(결과){
    AJAX 성공시 실행할 코드는 여기
  }).fail(function(에러){
    실패시 실행할 코드는 여기
  });

/*  function rowDel(obj)
 {
     var tr = obj.parentNode.parentNode;
	if(confirm("정말 삭제하시겠습니까??") == true){
     tr.parentNode.removeChild(tr);
	}else{
		return false;
	}
 } */


</script>
</th:block>
<th:block layout:fragment="customContents">
<!-- content -->
<div class="container-fluid">
	<div class="card card-info card-outline">
		<div class="card-header">
			수주 목록
		</div>
		<div class="card">

		</div>
		<div class="card-body">
		<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
			<table id="productOrderList" class="table table-bordered table-hover dataTable dtr-inline">
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="productOrderAllCheck">
						</th>
						<th>No.</th>
						<th>수주요청일자</th>
						<th>거래처명</th>
						<th>제품</th>
						<th>예상제품출하일자</th>
						<th>수량</th>
						<th>금액</th>
						<th>수주진행상태</th>
						<th>수정</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:if="${not #lists.isEmpty(productOrderList)}" th:each="l : ${productOrderList}">
						<td><input type="checkbox" name="productOrderCheck"></td>
						<td>
							<a th:href="@{|/k1ProductOrder/productOrder/${l.productOrderCode}|}">
								[[${l.productOrderCode}]]
							</a>
						</td>
						<td>[[${l.productOrderDate}]]</td> 
						<td>[[${l.businessName}]]</td>
						<td>[[${l.itemName}]]</td>
						<td>[[${l.predictProductDate}]]</td>
						<td>[[${#numbers.formatInteger(l.totalProductCount,0,'COMMA')}]] &#8361;</td>
						<td>[[${#numbers.formatInteger(l.totalProductPrice,0,'COMMA')}]] &#8361;</td> 
						<td>[[${l.status}]]</td> 
						<td>
							<button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#modal-default"><i class="fas fa-pen"></i></button>
						</td>

					</tr>
					<tr th:if="${#lists.isEmpty(productOrderList)}">
						<td colspan="9">정보가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a th:href="@{|/k1ProductOrder/k1ProductOrderReg|}">
					<button type="button" class="btn btn-info">등록</button>
				</a>
				<button type="button" class="btn btn-danger">삭제</button>
	</div>
	
	<div class="modal fade" id="modal-default"  style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
          <div class="modal-content" >
          	수주 목록 수정 화면
            <div class="modal-header" style="position: fixed;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);">
              <h4 class="modal-title">수주 목록 수정 화면</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
             <table id="materialOrderModifyList" class="table table-bordered table-hover dataTable dtr-inline">
				<tbody th:if="${not #lists.isEmpty(productOrderList)}" th:each="l : ${productOrderList}">

				<tr>
						 <td>수주요청일자: <input type="text" th:placeholder="${l.productOrderDate}"/></td>
				</tr>	
				<tr>
						 <td>거래처명: <input type="text" th:placeholder="${l.businessName}"/></td>
				</tr>	
				<tr>
						 <td>제품: <input type="text" th:placeholder="${l.itemName}"/></td>
				</tr>	
				<tr>
						 <td>예상제품출하일자: <input type="text" th:placeholder="${l.predictProductDate}"/></td>
				</tr>	
				<tr>
						 <td>수량: <input type="text" th:placeholder="${#numbers.formatInteger(l.totalProductCount,0,'COMMA')}"/></td>
				</tr>	
				<tr>
						 <td>금액: <input type="text" th:placeholder="${#numbers.formatInteger(l.totalProductPrice,0,'COMMA')}"/></td>
				</tr>	
				<tr>
						<td>수주진행상태: <input type="text" th:placeholder="${l.status}"/></td>
				</tr>	

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" >수정</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
				</tbody>
				</table>
          </div>
          <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
        </div>
</div>
	
</div>
</div>
</th:block>

</html>