<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title>[[${title}]]</title>
</th:block>
<th:block layout:fragment="customCss"></th:block>
<th:block layout:fragment="customStyle"></th:block>

<th:block layout:fragment="SectionTitle">[[${SectionTitle}]]</th:block>
<th:block layout:fragment="SectionLocation">[[${SectionLocation}]]</th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript">

		$(function(){
			
			$(document).on('click', '#modifyProductOrderBtn', function(){
				var submitCheck = true;
				
				var inputObj = $('#modifyProductOrderForm').find('input');
				
				$.each(inputObj, function(){
					var inputData = $(this).val();
					
					var inputCode = $(this).attr('code');
					var labelText = $('label[for=' + inputCode + ']').text();
					if(typeof inputData =='undefined' || inputData == null || inputData == ''){
						alert(labelText + '입력해주세요' + inputData);
						$(this).focus();
						submitCheck = false;
						return false;
					}
				});
				
				if(submitCheck) $('#modifyProductOrderForm').submit();
				
			});
		
		});


</script>
</th:block>

<th:block layout:fragment="customContents">
	<div class="container-fluid">
	<form id="modifyProductOrderForm" th:action="@{|/k1ProductOrder/modify/{productOrderCode}|}" method="POST">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
				<div class="card card-info card-outline">
					<div class="card-header">
						<h3 class="card-title">수주서 수정</h3>
					</div>
					<div class="card-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="productOrderCode">
										수주코드
									</label>
									<input type="text" name="productOrderCode" class="form-control" id="productOrderCode" th:value="${getProductOrderCode}" readonly="readonly">	  
                				</div>
								<div class="form-group col-md-6">
									<label for="mainBusinessName">사업장 상호명</label>
				                    <select name="mainBusinessName" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(mainBusinessList)}"
				                    			  th:each="l : ${mainBusinessList}">
				                    		<option th:value="${l.mainBusinessCode}" th:text="${l.businessName}">	  
				                    			[[${l.businessName}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(mainBusinessList)}">	
				                    		<option>사업장 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-md-6">
									<label for="contractCode">계약 코드</label>
				                   	<select name="contractCode"  class="form-control">
				                   		<th:block th:if="${not #lists.isEmpty(contractCodeForProductOrderCodeList)}"
				                   					th:each="l : ${contractCodeForProductOrderCodeList}">
				                    		<option th:value="${l.contractCode}" th:text="${l.contractCode}">	  
				                    			[[${l.contractCode}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(contractCodeForProductOrderCodeList)}">	
				                    		<option>계약서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
                    				</div>
								<div class="form-group col-md-6">
				                    <label for="clientCode">거래처 상호명</label>
				                     <select name="clientCode"  class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(clientList)}"
				                    			  th:each="l : ${clientList}">
				                    		<option th:value="${l.clientCode}" th:text="${l.businessName}">	  
				                    			[[${l.businessName}]]
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(clientList)}">	
				                    		<option>거래처 먼저 등록 해주세요. </option> 
				                    	</th:block>
				                    </select>		
				                  </div>
                  <div class="form-group col-md-6">
                    <label for="productOrderDate">수주일자</label>
                    <input type="date" name="productOrderDate" class="form-control" id="productOrderDate" placeholder="2021-11-01" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="productDate">생산일자</label>
                    <input type="date" name="productDate" class="form-control" id="productDate" placeholder="2021-11-01" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="predictProductDate">예상제품출하일</label>
                    <input type="date" name="predictProductDate" class="form-control" id="predictProductDate" placeholder="2021-11-01" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="status">상태</label>
                    <input type="text" name="status" class="form-control" id="status" placeholder="결제 중" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="briefs">적요</label>
                    <input type="text" name="briefs" class="form-control" id="briefs" placeholder="콩 1톤 5000000원 구입" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="managerId">담당자</label>
                    <select name="managerId"  class="form-control">
                    	<th:block th:if="${not #lists.isEmpty(userList)}"
                    			  th:each="l : ${userList}">
                    		<option th:value="${l.userId}" th:text="${l.userName}">	  
                    			[[${l.userName}]]
                    		</option>
                    	</th:block>	
                    	<th:block th:unless="${not #lists.isEmpty(userList)}">	
                    		<option>회원 먼저 등록 해주세요. </option> 
                    	</th:block>
                    </select>
                 </div>
                  <div class="form-group col-md-6">
                    <label for="regDate">등록일자</label>
                    <input type="date" name="regDate" class="form-control" id="regDate" placeholder="2021-11-01" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="updateDate">수정일자</label>
                    <input type="date" name="updateDate" class="form-control" id="updateDate" placeholder="2021-11-01" >
                  </div>
			</div>
		</div>
		</div>
		</div>
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<!-- 발주 상세정보 입력칸 -->
					<div class="card card-info card-outline mb-3">
						<div class="card-header">
							<h3 class="card-title">수주 상세내역 수정</h3>
						</div>
						<div id="details" class="card-body" >
							<div class="row" >
								<div class="form-group col-lg-3 ">
									<label for="productOrderOngoingCode">수주상세코드</label>
				                    <select name="materialOrderOngoingCode" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(productOrderList)}"
				                    			  th:each="l : ${productOrderList}">
				                    		<option th:value="${l.productOrderOngoingCode}" th:text="${l.productOrderOngoingCode}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(productOrderList)}">	
				                    		<option>수주서 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
									<label for="itemCode">품목명</label>
				                    <select name="itemCode" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(itemList)}"
				                    			  th:each="i : ${itemList}">
				                    		<option th:value="${i.itemCode}" th:text="${i.itemName}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(itemList)}">	
				                    		<option>품목 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
									<label for="productPriceCode">제품단가코드</label>
				                    <select name="productPriceCode" class="form-control">
				                    	<th:block th:if="${not #lists.isEmpty(productPriceCodeList)}"
				                    			  th:each="p: ${productPriceCodeList}">
				                    		<option th:value="${p.productPriceCodeCode}" th:text="${p.productPriceCodeCode}">	  
				                    		</option>
				                    	</th:block>	
				                    	<th:block th:unless="${not #lists.isEmpty(productPriceCodeList)}">	
				                    		<option>제품단가 먼저 등록 해주세요. </option> 
				                    	</th:block>	
				                    </select>
								</div>
								<div class="form-group col-lg-3 ">
								<label for="productCount">제품 생산 수량</label>
									<input type="number" name="productCount" class="form-control" value="${m.productCount}">
								</div>
								<div class="form-group col-lg-3 ">
								<label for="productShipmentDate">실출하일자</label>
									<input type="date" name="productShipmentDate" class="form-control" value="${m.productShipmentDate}">
								</div>
								<div class="form-group col-lg-3 ">
								<label for="comment">비고</label>
									<input type="text" name="comment" class="form-control" value="${m.comment}">
								</div>
								
								<!-- 해당 row 삭제 버튼 -->
								<!-- <div class="form-group col-lg-3" >
									<button type="button" class="btn btn-danger btn-xl float-right removeLine" style="margin-top:0.2em;">
										<i class="fas fa-trash-alt"></i>
									</button>
								</div> -->
							</div>
						</div>
						<!-- 1 row 추가 버튼 -->
						<!-- <div class="card-footer">
							<button type="button" class="btn btn-default btn-sm float-right" id="addLine">
								<i class="far fa-plus-square"></i>
							</button>
						</div> -->
					</div>
				</div>
			</div>
						<a th:href="@{/k1MaterialOrder/k1MaterialOrderList}">
							<button type="button" class="btn btn-default">목록으로</button>
						</a>
						<button id="modifyProductOrderBtn" type="button" class="btn btn-info float-right mr-2">수정완료</button>
		</form>
	</div>
</th:block>

</html>